/* ########################## */
/* apply a natural box layout model to all elements */
/* ########################## */
	*, *:before, *:after {  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { position: relative; }
/* ########################## */
/* type-faces */
/* ########################## */
@font-face {
    font-family: 'CuprumFFURegular';
    src: url('../webfonts/Cuprum-webfont.eot');
    src: url('../webfonts/Cuprum-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Cuprum-webfont.woff') format('woff'),
         url('../webfonts/Cuprum-webfont.ttf') format('truetype'),
         url('../webfonts/Cuprum-webfont.svg#CuprumFFURegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'icomoon';
	src:url('../webfonts/icomoon.eot?xtnric');
	src:url('../webfonts/icomoon.eot?#iefixxtnric') format('embedded-opentype'),
		url('../webfonts/icomoon.ttf?xtnric') format('truetype'),
		url('../webfonts/icomoon.woff?xtnric') format('woff'),
		url('../webfonts/icomoon.svg?xtnric#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-print:before {	content: "\f02f";}
.icon-times-circle:before {	content: "\f057";}
.icon-expand:before {	content: "\f065";}
.icon-bars:before {	content: "\f0c9";}
.icon-navicon:before {	content: "\f0c9";}
.icon-reorder:before {	content: "\f0c9";}
.icon-angle-down:before {	content: "\f107";}
.icon-pencil-square:before {	content: "\f14b";}
.icon-home:before {	content: "\e627";}
.icon-connection:before {	content: "\e600";}
.icon-profile:before {	content: "\e61e";}
.icon-files-empty:before {	content: "\e601";}
.icon-folder-open:before {	content: "\e602";}
.icon-envelop:before {	content: "\e61f";}
.icon-pushpin:before {	content: "\e603";}
.icon-calendar:before {	content: "\e604";}
.icon-printer:before {	content: "\e605";}
.icon-mobile:before {	content: "\e606";}
.icon-bubble2:before {	content: "\e620";}
.icon-bubbles4:before {	content: "\e628";}
.icon-user-tie:before {	content: "\e621";}
.icon-quotes-right:before {	content: "\e607";}
.icon-search:before {	content: "\e608";}
.icon-lock:before {	content: "\e625";}
.icon-stats-bars:before {	content: "\e609";}
.icon-bin:before {	content: "\e623";}
.icon-switch:before {	content: "\e611";}
.icon-menu3:before {	content: "\e626";}
.icon-earth:before {	content: "\e622";}
.icon-attachment:before {	content: "\e60a";}
.icon-eye:before {	content: "\e60b";}
.icon-warning:before {	content: "\e60c";}
.icon-notification:before {	content: "\e60d";}
.icon-cancel-circle:before {	content: "\e624";}
.icon-checkmark:before {	content: "\e60e";}
.icon-loop2:before {	content: "\e60f";}
.icon-circle-up:before {	content: "\e629";}
.icon-circle-right:before {	content: "\e610";}
.icon-circle-down:before {	content: "\e62a";}
.icon-radio-checked:before {	content: "\e612";}
.icon-radio-unchecked:before {	content: "\e613";}
.icon-insert-template:before {	content: "\e614";}
.icon-google-plus2:before {	content: "\e615";}
.icon-facebook2:before {	content: "\e616";}
.icon-twitter2:before {	content: "\e617";}
.icon-twitch:before {	content: "\e618";}
.icon-yahoo:before {	content: "\e619";}
.icon-windows:before {	content: "\e61a";}
.icon-skype:before {	content: "\e61b";}
.icon-linkedin:before {	content: "\e61c";}
.icon-pinterest2:before {	content: "\e61d";}

form{ padding: 0; margin: 0; }

/* ########################## */
/* the GRIDS! Seriously, this NEEDS to be here! */
/* ########################## */
	.bwgrid { overflow: hidden; width: 100%; }
	.bwcell1,.bwcell2,.bwcell3,.bwcell4,.bwcell5,.bwcell6,.bwcell7,.bwcell8,.bwcell9,.bwcell10,.bwcell11,.bwcell12,.bwcell13,
	.bwcell14,.bwcell15,.bwcell16,.bwcell1428 , .bwcell20,
	.doublecell_first,.doublecell_second, 
	.triplecell, .triplecell_first, .triplecell_third, 
	.quadrocell, .quadrocell_first, .quadrocell_fourth, 
	.fifthcell , .fifthcell_first , .fifthcell_fifth { float: left; }
	.bwcell1{ width: 6.25%; }
	.bwcell2 {	width: 12.5%; }
	.bwcell3 {	width: 18.75%; }
	.bwcell4 {	width: 25%; }
	.bwcell5 {	width: 31.25%; }
	.bwcell6 {	width: 37.5%; }
	.bwcell7 {	width: 43.75%; }
	.bwcell8 {	width: 50%; }
	.bwcell9 {	width: 56.25%; }
	.bwcell10 { width: 62.5%; }
	.bwcell11 { width: 68.75%; }
	.bwcell12 { width: 75%; }
	.bwcell13 { width: 81.25%; }
	.bwcell14 { width: 87.5%; }
	.bwcell15 { width: 93.75%; }
	.bwcell16 { width: 100%; }
	.bwcell20 { width: 20%; }
	.bwcell33 { width: 33%; float: left;}
	.bwcell50 { width: 50%; float: left;}
	.bwtable { 	width: 100%; display: table; }
	.bwrow{ display: table-row; }
	.bwcol { display: table-cell; vertical-align: top; }
	.w33 { width: 33%; }
	.w8 { width: 50%; }
	.bwcell1428 { width: 14.28%; }
	.bwcell0 { display: none; }

	/* cells with gutters, to overcome the need for padding */
	.bwgrid .doublecell_first {width: 48%; margin: 0 2% 0 0;	}
	.bwgrid .doublecell_second { width: 48%; margin: 0 0 0 2%; }

	.bwgrid .triplecell {width: 31%; margin: 0 1% 0 1%;	}
	.bwgrid .triplecell_first { width: 31%; margin: 0 2% 0 0; }
	.bwgrid .triplecell_third { width: 31%; margin: 0 0 0 2%; }

	.bwgrid .quadrocell {width: 23%; margin: 0 1% 0 1%;	}
	.bwgrid .quadrocell_first { width: 23%; margin: 0 2% 0 0; }
	.bwgrid .quadrocell_fourth { width: 23%; margin: 0 0 0 2%; }

	.bwgrid .fifthcell {width: 18%; margin: 0 1% 0 1%;	}
	.bwgrid .fifthcell_first { width: 18%; margin: 0 2% 0 0; }
	.bwgrid .fifthcell_fifth { width: 18%; margin: 0 0 0 2%; }
	.inner_right { padding-left: 3em; }
	.inner_left { padding-right: 3em; }
	.inner_right_thin { padding-left: 4px; }
	.bwgrid .seconditem:nth-child(odd) { clear: left; }
	.inner_left_thin { padding-right: 4px; }
	.right_align { text-align: right; }
	.left_align { text-align: right; }

	@media only screen and (max-width: 960px) {
	}
	@media only screen and (max-width: 760px) {
		.bwcell1, .bwcell2, .bwcell3, .bwcell4, .bwcell5, .bwcell6, .bwcell7, .bwcell8, .bwcell9, .bwcell10, .bwcell11, .bwcell12, .bwcell13, .bwcell14, .bwcell15, .bwcell16, .bwcell33, .bwcell50,
		 .w33,.w8, .bwcell1428 {
			width: 100%;
			float: none;
		 }
		.bwtable, .bwrow, .bwcol {
			display: block;
			width: 100%;
		}
	}
	@media only screen and (max-width: 480px) {
	}
/* ########################## */
/* some common classes to help with positioning and styling */
/* ########################## */
	.floatright { float: right; }
	.floatleft {	float: left; }
	.clear {	clear: both; }
	.overflow { overflow: hidden; }
	.smalltext { font-size: 0.75em; }
	.middletext { 	font-size: 0.85em; }
	.largetext {	font-size: 1.4em;  }
	.greytext { color: #689; font-size: 90%; }
	ul.reset, ul.reset li{ padding: 0; 	margin: 0; 	list-style: none; }
	ul.reset li{ padding: 5px 0; }
	.help{  cursor: help; }
	.meaction{  color: red; }
	.highlight{
		font-weight: bold;
		color: #ff7200 !important;
		font-size: 1.1em;
	}
	.highlight2{
		background-color: #D1E1EF;
		color: #000 !important;
	}
	.warn_mute, .alert, .error{ color: red; 	}
	.birthday{ color: #920ac4; }
	.event{	color: #078907; }
	.holiday{ color: #000080; }
	.warn_moderate{ color: #ffa500; }
	.warn_watch, .success{ color: green; 	}
	a.moderation_link, a.moderation_link:visited{ color: red; 	font-weight: bold; }
	span.pers_divider{ color: #666; }
	ul.horiz_nav , ul.horiz_nav li { padding: 0; margin: 0; list-style: none; }
	ul.horiz_nav { padding: 2px 0 0 0; }
	ul.horiz_nav li { display: inline; }
	.vert_list  { margin-top: 0.5em; margin-bottom: 0.5em; }
	.vert_list li { list-style: circle; }
	.post, .personalmessage {
		overflow: hidden;
		padding: 0.5em 0;
		line-height: 1.8em;
		color: #242429;
	}
	/* common image styling classes */
	.imgstyle1, .imgstyle { border: solid 1px #ccc; width: 100%; }
	.imgstyle2, .avatar {
		margin: 0 20px 10px 3px;
		border: solid 1px #ccc;
		width: 100%;
	}
	.avatar_full img {
		width: 60px;
		border-radius: 60px;
		margin-top: 10px;
		margin-left: 15%;
	}
	.imgstyle_round {
		width: 100%;
		border-radius: 50px;
	}
	.imgstyle_rounded {
		width: 100%;
		border-radius: 5px;
	}
	.imgstyle3	{
		background: #222;
		padding: 0 0 3em 0;
	}
	.imgingress {
		position: absolute;
		margin: 0;
		padding: 1em;
		color: #fff;
		font-size: 2em;
	}
	.padding_vert { padding: 1em 0; }
	.padding_horiz { padding: 0 1em; }
	.padding_both { padding: 0.4em 1em; }
	.textcolumns {
		-moz-column-count:2; /* Firefox */
		-webkit-column-count:2; /* Safari and Chrome */
		column-count:2;
		-moz-column-gap:40px; /* Firefox */
		-webkit-column-gap:40px; /* Safari and Chrome */
		column-gap:40px;
		-moz-column-rule:1px solid #ccc; /* Firefox */
		-webkit-column-rule:1px solid #ccc; /* Safari and Chrome */
		column-rule:1px solid #ccc;
	}
	.imageback, 	.imageback a, 	.imageback .post {
		color: white;
		text-shadow: 1px 1px 1px #000000;
		filter: dropshadow(color=#000000, offx=1, offy=1);
	}
	.gcolumn {
		border: solid 1px #eee;
		background: #f7f7f7;
		padding: 1em;
		margin: 5px 0;
	}
	.gleft { margin-right: 0.5em;	}
	.gright { margin-left: 0.5em;	}
	.descr { display: block; font-size: 80%; color: #777; line-height: 1.4em; margin-bottom: 1em; font-style: italic; }
	#topline { border-top: solid 3px orange; }
/* ########################## */
/* the exif info
/* ########################## */
/* user area in display */
	.exif {
		padding: 0.1em;
		font-size: 0.9em;
		float: left;
	}
	.exif dt {
		width: 40%;
		display: inline-block;
		clear: none;
		text-align: right;
		font-weight: bold;
		color: #777;
		line-height: 1em;		
	}
	.exif dd {
		line-height: 1em;
		width: 50%;
		clear: none;
		padding-left: 0;
		display: inline-block;
	}

/* ########################## */
/* All BBC related styles.
/* ########################## */

	/* the popup like tooltip, used for bigger screens */
	.bbc_standard_quote, .bbc_alternate_quote {
		color: #eee;
		overflow: hidden;
		margin: 0px;
		line-height: 1.4em;
	}
	.bbc_standard_quote span.head, .bbc_alternate_quote span.head {
		float: right;
		color: #888;
		text-transform: uppercase;
		padding-right: .5em;
	}
	.bbc_standard_quote span.arrow, .bbc_alternate_quote span.arrow {
		display: none;
	}
	.bbc_standard_quote .inside, .bbc_alternate_quote .inside {
		margin: 0;
		background: #f5f7ff;
		color: #666;
		padding: .6em 1em;
		border: solid 1px #ccc;
	}
	.bbc_alternate_quote .inside {
		margin: 0;
		background: #f9fdff;
		color: #666;
		padding: 1em 1.5em;
	}

	.bbc_code{
		display: block;
		font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
		font-size: small;
		background: #fff;
		line-height: 1.5em;
		padding: 3px 1em;
		overflow: auto;
		white-space: nowrap;
		border: solid 1px #ccc;
		border-top: none;
		/* Show a scrollbar after about 24 lines. */
		max-height: 54em;
	}
	.codeheader, .quoteheader{
		color: #666;
		font-size: 0.7em;
		text-transform: uppercase;
		padding: 0.4em 0.7em;
		background: #f0f0f0;
		border: solid 1px #ccc;
		border-left: solid 15px #ccd;
		font-weight: bold;
	}
	.codeheader{ background: #f7f7ff; 	}
	.codeoperation{ font-weight: normal; }
	.bbc_link:link, .bbc_link:visited{ border-bottom: 1px solid #A8B6CF; }
	.bbc_link:hover{
		text-decoration: none;
		border-bottom: 1px solid #346;
	}
	.bbc_size{ line-height: 1.4em; }
	.bbc_color a{ color: inherit; }
	.bbc_img{ border: 0; max-width: 100%; }
	.bbc_table{ font: inherit; color: inherit; }
	.bbc_table td{
		font: inherit;
		color: inherit;
		vertical-align: top;
	}
	.bbc_u{ 	text-decoration: underline; }
	.bbc_list{ text-align: left; }
	.bbc_tt{ font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace; }
	/* empasize tags */
	.bbc_pullquote{
		display: block;
		border: solid 2px #ddd;
		background: #f9f9ff;
		font-size: 1.1em;
		color: #666;
		width: 180px;
		padding: 1em 1.5em;
		margin: 8px;
		font-weight: bold;
	}
	.bbc_pullquote:before { content: "\201C"; }
	.bbc_pullquote:after { content: "\201D"; }
	/* question tag */
	.bbc_question {
		display: block;
		font-style: italic;
		font-size: 1.1em;
		color: #383;
		padding: 0 0 7px 0;
		border: solid 2px #ccc;
		border-radius: 15px;
		background: #fff;
		padding: 10px 15px;
		margin: 10px 0;
		clear: both;
	}
	/* tabualr table */
	table.bbc_tabular {
		border-collapse:separate;
		border-spacing:0;
		margin:0 0 1em;
	}
	table.bbc_tabular { margin: 1em; text-align: center; }
	table.bbc_tabular th {
		font-weight:bold;
		line-height:normal;
		padding:0.25em 0.5em;
		text-align:left;
	}
	table.bbc_tabular tbody th,
	table.bbc_tabular td {
		padding:0.25em 0.5em;
		text-align:left;
		vertical-align:top;
	}
	table.bbc_tabular tbody th {
		font-weight:normal;
		white-space:nowrap;
	}
	/* colorset2 */
	.bbc_tablecolorset2, .bbc_tablecolorset2 th, .bbc_tablecolorset2 td {
		border: 1px solid #D4E0EE;
		border-collapse: collapse;
		font-family: "Trebuchet MS", Arial, sans-serif;
		color: #555;
	}
	.bbc_tablecolorset2 caption {
		font-size: 150%;
		font-weight: bold;
		margin: 5px;
	}
	.bbc_tablecolorset2 td, .bbc_tablecolorset2 th { padding: 4px; }
	.bbc_tablecolorset2 thead th {
		text-align: center;
		background: #E6EDF5;
		color: #4F76A3;
		font-size: 100% !important;
	}
	.bbc_tablecolorset2 tbody th { font-weight: bold; 	}
	.bbc_tablecolorset2 tbody tr { background: #FCFDFE; }
	.bbc_tablecolorset2 tbody tr.odd { background: #F7F9FC; }

	.bbc_tablecolorset1 {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7;}
	.bbc_tablecolorset1 caption {text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}
	.bbc_tablecolorset1 thead th {background: #3A4856; padding: 15px 10px; color: #fff; text-align: left; font-weight: normal;}
	.bbc_tablecolorset1 tbody, .bbc_tablecolorset1 thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}
	.bbc_tablecolorset1 tbody {border-bottom: 1px solid #EAECEE;}                 
	.bbc_tablecolorset1 tbody td, .bbc_tablecolorset1 tbody th {padding: 10px; background: url("td_back.gif") repeat-x; text-align: left;}
	.bbc_tablecolorset1 tbody tr {background: #fafdff;}
	.bbc_tablecolorset1 tbody tr.odd {background: #e0e2e4;}

	.bbc_tablecolorset3 {
		font: normal 75%/150% Verdana, Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		border: 3px solid #f0f8ff;
		border-top: 5px double #87CEFA;
		border-bottom: 5px double #87CEFA;
	}
	.bbc_tablecolorset3 th {
		font: bold 1.1em/120% Verdana, Arial, Helvetica, sans-serif;
		padding: 5px 10px;
		font-variant: small-caps;
		color: #047;
		font-weight: bold;
		letter-spacing: -1px;
	}
	.bbc_tablecolorset3 thead th {
		border: 1px solid #87CEFA;
		white-space: nowrap;
		background: #F0F8FF;
	}
	.bbc_tablecolorset3 tbody td ,.bbc_tablecolorset3 tbody th {
		padding: 5px 10px;
		background: #fff;
		color: #000;
	}
	.bbc_tablecolorset3 tbody th {
		color: #047;
		font-weight: normal;
		font-variant: normal;
		font-size: 1em;
	}
	.bbc_tablecolorset3 tbody tr.odd {
		border: 1px solid #87CEFA;
	}
	.bbc_tablecolorset3 tbody tr.odd td, .bbc_tablecolorset3 tbody tr.odd th {
		background: #F0F8FF;
	}
	.bbc_tablecolorset3 caption {
		font-family: "Georgia", serif;
		letter-spacing: 5px;
		font-style: italic;
		text-indent: 2em;
		text-transform: uppercase;
		font-size: 150%;
		padding: 10px 0;
		color: #047;
	}

	.bbc_tablecolorset4  {
		font-size:0.9em;
		font-family: Arial, Helvetica, verdana sans-serif;
		background-color:#fff;
		border-collapse: collapse;
	}
	.bbc_tablecolorset4 caption {
		font-size: 25px;
		color: #1ba6b2;
		font-weight: bold;
		padding: 10px;
		margin-bottom: 2px;
	}
	.bbc_tablecolorset4 thead th {
		border-right: 1px solid #fff;
		color:#fff;
		text-align:center;
		padding:2px 8px;
		text-transform:uppercase;
		height:25px;
		background-color: #a3c159;
		font-weight: normal;
	}
	.bbc_tablecolorset4 tbody tr {
		background-color:#fff;
		border-bottom: 1px solid #f0f0f0;
	}
	.bbc_tablecolorset4 tbody td {
		color:#414141;
		padding:8px;
		text-align:left;
	}
	.bbc_tablecolorset4 tbody th {
		text-align:left;
		padding:2px;
	}
	.bbc_post-it {
		/* Background */
		background: #fefdca; /* Old browsers */
		background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefdca), color-stop(100%,#f7f381)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fefdca 0%,#f7f381 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fefdca 0%,#f7f381 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #fefdca 0%,#f7f381 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #fefdca 0%,#f7f381 100%); /* W3C; A catch-all for everything else */
		display: block;
		padding: 25px; 
		font-family: "Times new Roman", serif; 
		font-style: italic;
		font-size:15px; 
		color: #000; 
		width:200px; 
		-moz-box-shadow:2px 2px 7px rgba(33,33,33,.3);
		-webkit-box-shadow: 2px 2px 7px rgba(33,33,33,.3);
		box-shadow: 2px 2px 7px rgba(33,33,33,.3);
		margin: 1em;
		float: right;
	}
	.bbc_post-it h2{
		position: absolute;
		padding: 4px 8px;
		background: #fff;
		opacity: 0.7;
		font-weight: bold;
		margin: -30px 0 5px -45px;
		-moz-box-shadow:1px 1px 3px rgba(33,33,33,.3);
		-webkit-box-shadow: 1px 1px 3px rgba(33,33,33,.3);
		box-shadow: 1px 1px 3px rgba(33,33,33,.3);
		-moz-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	.bbc_h1 {
		font-size: 2em;
		color: #777;
		display: block;
		padding: 5px 0;
		margin: 5px 0;
		font-family: Georgia, serif;
		line-height: 1.2em;
	}
	.bbc_h2 {
		font-size: 1.4em;
		color: #191;
		display: block;
		padding: 5px 0;
		margin: 5px 0;
		font-family: Georgia, serif;
		line-height: 1.2em;
	}
	.bbc_h3 {
		font-size: 0.85em;
		color: #888;
		font-weight: bold;
		text-transform: uppercase;
		display: block;
		padding: 5px 0;
		margin: 5px 0;
		font-family: Georgia, serif;
		line-height: 1em;
	}
	.bbc_lead {
		display: block;
		font-weight: bold;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		border-bottom: dotted 1px #888;
	}
	.bbc_conclusion {
		display: block;
		font-style: italic;
		padding-top: 0.5em;
		margin-top: 0.5em;
		border-top: dashed 1px #ccc;
	}
	.bbc_spoiler b,.bbc_spoiler_show b{
		font-weight: bold;
		display: block;
		padding: 4px 10px;
		background: #f0f0f0;
		border: solid 1px #bbb;
		cursor: pointer;
		font-size: 80%;
		text-transform: uppercase;
		color: #777;
	}
	/* this will show the content */
	.bbc_spoiler span,.bbc_spoiler_show span{ 	
		display: none; 
		margin: 0 5px 10px 5px;
		padding: 5px 0 5px 1em;
		color: #007;
		font-size: 90%;
		border-left: solid 2px #ddd;
	}
	.bbc_spoiler_show span{ display: block; }
	.bbc_spoiler_show b{ background: #f0f0ff; }
	.bbc_hiddendata {
		display: inline-block;
		background: red;
		color: white;
		padding: 1em;
		margin: 1em;
	}
	.bbc_rate, .bbc_rate2, .bbc_rate3,.bbc_rate4, .bbc_rate5 {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		background: #385;
		text-align: center;
		line-height: 60px;
		font-size: 1.1em;
		color: white;
		display: block;
	}
	.bbc_rate2 { background: #5a7; }
	.bbc_rate3 { background: none; color: #777; width: auto; }
	.bbc_rate4 { background: #57a; }
	.bbc_rate5 { background: #f93; }
	.largerfont { font-size: 1.4em; font-family: "beatnik_sfregular", sans-serif;}
	.makelink { cursor: pointer; }
	.makelink:hover { opacity: 0.5; }

/* ########################## */
/* AJAX notification bar
/* ########################## */
	.ajax_on, .ajax_off{
		color: #fff;
		font: bold 14px Arial, sans-serif;
		text-align: center;
		background: #000;
		width: 100%;
		height: 50px;
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		line-height: 50px;
		text-transform: uppercase;
		-webkit-box-shadow:  0px 5px 30px 0px rgba(0, 0, 0, .5);
		box-shadow:  0px 5px 30px 0px rgba(0, 0, 0, .5);
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		 -ms-transition: all 1s ease;
		 -o-transition: all 1s ease;
		transition: all 1s ease;
		opacity: 1;
		padding-top: 10px;
	}
	.ajax_on a, .ajax_off a{
		color: white;
		display: block;
		margin: 0;
		position: absolute;
		text-decoration: none;
	}
	.ajax_off { 
		opacity: 0;
		height: 2px;
		overflow: hidden;
	}
/* ########################## */
/* Styles used by the auto suggest control.
/* ########################## */
	.auto_suggest_div{
		-webkit-box-shadow:  0px 5px 30px 0px rgba(0, 0, 0, .5);
		box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .5);
		border: 1px solid #aaa;
		position: absolute;
		visibility: hidden;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		 -ms-transition: all 1s ease;
		 -o-transition: all 1s ease;
		transition: all 1s ease;
	}
	.auto_suggest_item{
		background-color: #f0f0f0;
		padding: 5px 10px;
	}
	.auto_suggest_item_hover{
		background-color: #555;
		cursor: pointer;
		color: #fff;
		padding: 5px 10px;
	}

/* ########################## */
/*  menu classes  */
/* ########################## */
	/* admin menus */
	#adm_menu {
		margin: 10px 0 40px 0;
	}
	#adm_menu {
		width: 100%; 
		height: 39px; 
		background: #f0f0f0; 
		position: relative;
		font-size: 0.85em;
	}
	#adm_menu .select, #adm_menu .current {margin: 0; padding: 0; list-style: none;}
	#adm_menu li {display: inline; margin: 0; padding: 0; height: auto;}
	#adm_menu .select a, #adm_menu .current a {
		display: block; 
		height: 30px; 
		float: left; 
		background: #f0f0f0; 
		padding: 0px 14px 0px 14px; 
		text-decoration: none; 
		line-height: 30px; 
		white-space: nowrap; 
		border-right: 1px solid #ddd; 
		color: #777;
		border-radius: 5px 5px 0 0;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	* html #adm_menu .select a, * html #adm_menu .current a {
		width: 1px; 
		height: 31px;
	}
	#adm_menu .select a:hover, #adm_menu .select li:hover a {
		background: #536777; 
		cursor: pointer; 
		color: #fff;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .sub {display: none;}
	#adm_menu .current a {
		background: #334757; 
		color: #fff;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .sub li a:hover, #adm_menu .select a:hover .sub li a:hover,#adm_menu .select li:hover .sub li a:hover {
		background: #536777; 
		color: #fff;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .sub_active .current_sub a, #adm_menu .sub_active a:hover {
		background: #334757; 
		color: #fff;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .select li a:hover .sub, #adm_menu .select li:hover .sub {
		display: block; 
		position: absolute; 
		width: 100%;
		top: 30px; 
		left: 0; 
		background: #536777; 
		margin-top: 0; 
		padding: 0 5px 10px 5px; 
		z-index: 3; 
		color: #ddd; 
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .sub, #adm_menu .sub_active {
		margin: 0; 
		padding: 0 5px 10px 5px; 
		list-style: none;
	}
	#adm_menu .sub_active {
		-webkit-box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);	
	}
	#adm_menu .sub_active {
		display: block; 
		position: absolute; 
		width: 100%;
		top: 30px; 
		left: 0; 
		background: #334757; 
		margin-top: 0; 
		z-index: 2;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
		padding: 0 5px 15px 5px; 
	}
	* html #adm_menu .sub_active, * html #adm_menu .select a:hover .sub {z-index: -1; margin-top: 0; margin-t\op: 1px;}
	#adm_menu .sub_active a {
		height: 30px; 
		text-decoration: none; 
		line-height: 30px; 
		white-space: nowrap; 
		display: block; 
		float: left; 
		background: #334757; 
		padding: 5px 10px 10px 10px; 
		margin: 0; 
		white-space: nowrap; 
		border: 0; 
		color: #ddd;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .select a:hover .sub li a, #adm_menu .select li:hover .sub li a {
		display: block; 
		background: #536777; 
		padding: 5px 10px 10px 10px; 
		margin: 0; 
		white-space: nowrap; 
		border: 0; 
		color: #ddd; 
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .chosen { font-weight: bold; color: white; }
	#adm_menu .sub, #adm_menu .sub_active { 		padding: 0 5px 10px 5px;  }
	.bbc_menu { 
		z-index: 99;
	}
	.bbc_menu div {
		position: relative;
		padding: 5px 10px;
		background: red;
		margin: 0 0 1px 0;
		cursor: pointer;
	}
	.current_plugin {
		font-weight: bold;
	}
/* ########################## */
/*  calendar css  */
/* ########################## */
	.cal_today, .cal_anyday {
		margin: 20px auto;
		height: 50px;
		width: 50px;
		line-height: 40px;
		text-align: center;
		font-size: 24px;
		color: #555;
		background: white;
		border-radius: 25px;
		border: solid 3px white;
		display: block;
	}
	.cal_today {
		border: solid 3px red;
		color: #000;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
	.have_events {
		border: solid 3px blue;
		color: blue;
		font-weight: bold;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}

/* ########################## */
/* default smilies */
/* ########################## */
	span.smilies{
		display: inline-block;
		width: 20px;
		height: 20px;
		position: relative;
		vertical-align: middle;
		padding-bottom: 2px;
	}
	.smileylink { opacity: 0.8; }
	.smileylink:hover { opacity:1; }
	span.smilies span{ visibility: hidden;}
	span.evil{ background: url(../images/theme/smilies.png) no-repeat 0px 0px; }
	span.cheesy{ background: url(../images/theme/smilies.png) no-repeat 0px -20px;}
	span.rolleyes{ background: url(../images/theme/smilies.png) no-repeat 0px -40px;}
	span.angry{ background: url(../images/theme/smilies.png) no-repeat 0px -60px;}
	span.laugh{ background: url(../images/theme/smilies.png) no-repeat 0px -80px;}
	span.smiley{ background: url(../images/theme/smilies.png) no-repeat 0px -100px;}
	span.wink{ background: url(../images/theme/smilies.png) no-repeat 0px -120px;}
	span.grin{ background: url(../images/theme/smilies.png) no-repeat 0px -140px;}
	span.sad{ background: url(../images/theme/smilies.png) no-repeat 0px -160px;}
	span.shocked{ background: url(../images/theme/smilies.png) no-repeat 0px -180px;}

	span.huh{ background: url(../images/theme/smilies.png) no-repeat -20px 0px;}
	span.embarrassed{ background: url(../images/theme/smilies.png) no-repeat -20px -20px;}
	span.lipsrsealed{ background: url(../images/theme/smilies.png) no-repeat -20px -40px;}
	span.kiss{ background: url(../images/theme/smilies.png) no-repeat -20px -60px;}
	span.cry{ background: url(../images/theme/smilies.png) no-repeat -20px -80px;}
	span.undecided{ background: url(../images/theme/smilies.png) no-repeat -20px -100px;}
	span.up{ background: url(../images/theme/smilies.png) no-repeat -20px -120px;}
	span.down{ background: url(../images/theme/smilies.png) no-repeat -20px -140px;}
	span.tongue{ background: url(../images/theme/smilies.png) no-repeat -20px -160px;}
	span.cool{ background: url(../images/theme/smilies.png) no-repeat -20px -180px;}

	/* user mentions */
	span.user_mention {
		text-decoration: underline;
		color: #070;
	}
/* ########################## */
/* the css for the Remooz popup */
/* ########################## */
	.remooz-element { cursor:	-moz-zoom-in; }
	.remooz-box { 	position:	absolute; top:	0; left: 	0; background: #fff no-repeat center; z-index: 100; }
	.remooz-loading { background-image: url(../images/remooz/spinner.gif); }
	.remooz-body { width:	 100%; height: 100%; }
	.remooz-box-focus.remooz-type-image .remooz-body { cursor:		-moz-zoom-out; }
	.remooz-box-dragging .remooz-body{ 	cursor:	move; }
	.remooz-btn-close { position: 	absolute; left: 10px; top:	 10px; width: 30px; height: 30px; text-decoration: none; border: 	0; background: url(../images/remooz/closebox.png) no-repeat center; cursor: pointer; }
	.remooz-engine-trident4 .remooz-btn-close { background-image:	url(../images/remooz/closebox.gif); }
	.remooz-title{ position: relative; 	left: 	0; top: 	15px; text-align: 	left; }
	.remooz-title-bg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; z-index:	99; -moz-border-radius: 5px; -webkit-border-radius:	5px; -webkit-box-shadow:	0 0 10px rgba(0, 0, 0, 0.9); }
	.remooz-title-content { position: relative; padding: 5px 15px; color:	#fff; 	z-index: 101; font: 11px/1.5 Verdana, Geneva, Arial, Helvetica, sans-serif; }
	.remooz-engine-trident4 .remooz-title-bg { display: none; }
	.remooz-engine-trident4 .remooz-title-content { background-color: #333; }
	.remooz-title-content h6 { font-size: 1.2em; font-weight: bold; 	color: #eee; }
	.remooz-title-content p { color: #eee; }
	.remooz-type-image img { display: 	block; border: 0; width: 100%; height: 100%; }
	.remooz-bg { position: absolute; width: 	33px; height: 40px; }
	.remooz-bg-n { left: 0; top: -40px; 	width: 100%; background: 	url(../images/remooz/remo_bg_n.png) repeat-x; }
	.remooz-bg-ne { right: -33px; top:	-40px; background: url(../images/remooz/remo_bg_ne.png) no-repeat; }
	.remooz-bg-e { right: -33px; top: 0; height: 100%; background:				url(../images/remooz/remo_bg_e.png) repeat-y; }
	.remooz-bg-se {	right: -33px; bottom: -40px; background: url(../images/remooz/remo_bg_se.png) no-repeat; }
	.remooz-bg-s { left: 0; bottom: -40px; width: 100%; 	background:	 url(../images/remooz/remo_bg_s.png) repeat-x; }
	.remooz-bg-sw { 	left: -33px; bottom:	 -40px; background: url(../images/remooz/remo_bg_sw.png) no-repeat; }
	.remooz-bg-w { left: -33px; top: 0; height: 100%; background: url(../images/remooz/remo_bg_w.png) repeat-y; }
	.remooz-bg-nw { left: -33px; top: -40px; background: url(../images/remooz/remo_bg_nw.png) no-repeat; }
/* ########################## */
/* blog posts css */
/* ########################## */
	.bdate {
		color: #999;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 0.9em;
		display: inline-block;
		text-transform: uppercase;
		line-height: 1.2em;
	}
	.bdate .daydate {
		font-size: 3em;		
		color: #6c97a9;
	}
	.bdate p {
		display: inline-block;
		padding: 0;
		margin: 0 2em 0 0;
	}
	.bdate p span {display: block;}
	.bdate p span.topdate {
		border-bottom: solid 1px #aaa;
		padding: 0;
		margin: 0;
	}
	.imdb_myscore {
		display: inline-block;
		width: 100px;
		background: #eee;
		height: 7px;
		margin: 0 10px 3px 0;
	}
	.imdb_myscore span {
		display: block;
		background: orange;
		height: 7px;
	}
	.imdb {
		background: #58b;
		color: white;
		float: left;
		font-size: 0.9em;
		margin: -8px 0 0 0;
		width: 100%;
	}
	.imdb dl { padding: 0; }
	.imdb dt {
		width: 20%;
		display: inline-block;
		clear: none;
		text-align: right;
		font-weight: bold;
		color: #cef;
		line-height: 1.6em;	
		padding-bottom: 5px;
		margin-bottom: 5px;
		vertical-align: top;
	}
	.imdb dd {
		color: #fff;
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: solid 1px #5f8fbf;
		line-height: 1.6em;
		width: 60%;
		clear: none;
		padding-left: 0;
		display: inline-block;
	}
	.topingress {
		background: black;
		color: white;
		width: 32%;
		text-align: center;
		margin: 0 3px;
		position: absolute;
	}
	.img_ingress {
		height: 0;
		line-height: 1.2em;
		width: 100%;
		overflow: hidden;
		display: block;
		background: black;
		font-size: 11px;
		padding: 0;
		opacity: 0.75;
		position: absolute;
		color: white;
		font-weight: bold;
		margin: -10px 0 0 0;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	a.remooz:hover .img_ingress {
		height: 65px;
		margin-top: -71px;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	.ingress {
		font-weight: bold;
		padding: 1em 0 0 0;
	}

/* ########################## */
/* admin styles												*/
/* ########################## */

	/* settings of sorts */
	.settings { margin: 0; padding: 0; }
	.settings dt {
		float: left;
		line-height: 1.6em;
		padding: 8px 0.5em 0 0;
		clear: both;
		margin: 0;
		width: 49%;
		vertical-align: top;
		color: #555;
	}
	.settings dd { margin: 0; line-height: 1.6em; clear: right; padding: 5px 0; width: 48%; float: right; }
	.settings dd input { background: white; }
	.settings dd input[type=checkbox] { margin-top: 10px; }
	.settings:after { 
		content:"";
        display:table;
        clear:both;
      }
	  /* a slimmer version on the left */
	.narrow { margin-top: 0; }
	.narrow dt {	width: 25%;  }
	.narrow dd { width: 70%; }
	/* a not-so-slim version on the left */
	.narrow2 { margin-top: 0; }
	.narrow2 dt {	width: 34%;  }
	.narrow2 dd { width: 63%; }
	#error_log td	{
		font-size: 0.9em;
		line-height: 1.4em;
	}
	#error_log .toggle_on {
		width: 15px;
		height: 15px;
		margin: 4px 5px 0 0;
		position: relative;
	}
	/* a special background style */
	.content {
		border: solid 2px #fff;
		border-radius: 5px;
		padding: 1em 1.5em;
		-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .3);	
		margin: 3px;
	}
	#admarea .windowbg, #admarea .windowbg2 {
		border: solid 1px #ccc;
		border-top: solid 1px #fafafa;
		border-left: solid 1px #fafafa;
		-webkit-box-shadow:  2px 2px 5px 0px rgba(10, 10, 10, .1);
        box-shadow:  2px 2px 5px 0px rgba(10, 10, 10, .1);	
		margin: 5px;
	}
/* ########################## */
/* boarddtypes overide styles												*/
/* ########################## */
	#blogarticle .bbc_h2 {
		font-size: 1.1em;
		display: inline;
		padding: 0;
		margin: 0;
		line-height: 1.5em;
		font-weight: bold;
		font-family: "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
	}

/* ########################## */
/* This is the editor's playground (textarea for non-wysiwyg, iframe for wysiwyg). */
/* ########################## */
	.editor{
		width: 100%;
		max-width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff;
	}
	.editor, .rich_editor_frame{
		border: 1px solid #808080;
		padding: 10px;
		margin: 0;
	}
/* ########################## */
/* the new fader */
/* ########################## */
	#news_fader	{ width: 100%; position:relative;  padding-bottom: 10px; }
	#news_fader .items { display:block; position:absolute; top:0; left:0; z-index:1; width: 100%; overflow: hidden;}
	.framebox {	border: solid 1px #ddd;	}
	#mpopupclose,#mpopupclose2 {
		background: url(../images/remooz/closebox.png) no-repeat;
		cursor: pointer; 
		width: 24px;
		height: 24px;
		margin: 6px ;
	}
	#mpopupclose2 {
		background: url(../images/remooz/closebox2.png) no-repeat;
		margin: -22px 0 0 340px;
	}

	/* the popup like tooltip, used for bigger screens */
	#modal{
		color: #eee;
		font-size: 0.9em;
		overflow: hidden;
		width: 100px;
		margin: -44px 0 0 -80px;
		line-height: 1.4em;
		padding: 6px;
		height: 1200px;
	}
	#mpopup {
		color: #eee;
		font-size: 0.9em;
		overflow: hidden;
		width: 100%;
		margin: 0;
		line-height: 1.4em;
		position: relative;
		display: block;
	}
	#mpopup span {
		display: inline-block;
	}
	#modal{
		padding: 30px;
	}
	#modal b {
		padding: 5px 15px 8px 15px;
		background: #444;
		display: block;
		font-size: 10px;
		text-transform: uppercase;
		margin: 0;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
	#mpopup b {
		padding: 5px 15px 8px 15px;
		background: #444;
		display: block;
		font-size: 10px;
		text-transform: uppercase;
		margin: 0;
	}
	#mpopup span.arrow {
		display: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		margin: 0 0 0 15px;
		border-width: 0 5px 5px 5px;
		border-color: transparent transparent #444 transparent;
	}
	#mpopup div {
		color: #444;
		background: #fff;
		margin: 0;
		padding: 1em 2em;
		overflow: hidden;
	}
	#modal div {
		margin: 0;
		background: white;
		color: #666;
		padding: 5px 15px 8px 15px;
		-webkit-box-shadow:  0px 5px 25px 0px rgba(0, 0, 0, .6);
        box-shadow:  0px 5px 25px 0px rgba(0, 0, 0, .6);	
		min-height: 1200px;
	}
	#mpopup span.inline_blocks span { 
		float: left;
		padding: 4px 10px; 
		margin: 2px; 
		cursor: pointer;
	}
	#mpopup span { cursor: pointer; 	}
	#mpopup span.buton { 
		display: inline-block;
		border: solid 1px #aaa;
		padding: 4px 10px; 
		margin: 2px; 
		cursor: pointer;
	}
	#mpopup_attach { overflow: hidden; }

	.atts {
		width: 64px;
		height: 64px;
		display: inline-block;
		background: #f0f0f6;
		border: solid 1px #ddd;
	}
	.atts_xls { background: url(../images/theme/filetypes.png) 0px 0px no-repeat; border: solid 1px transparent; }
	.atts_doc { background: url(../images/theme/filetypes.png) 0px -64px no-repeat; border: solid 1px transparent; }
	.atts_pdf { background: url(../images/theme/filetypes.png) 0px -128px no-repeat; border: solid 1px transparent; }
	.atts_txt { background: url(../images/theme/filetypes.png) 0px -192px no-repeat; border: solid 1px transparent; }
	.atts_zip { background: url(../images/theme/filetypes.png) 0px -256px no-repeat; border: solid 1px transparent; }

	input.check_me + span.check_it  { 
		float: right; 
		display: block;
		width: 21px;
		height: 21px;
		border-radius: 50%;
		background: #eee;
		margin: 0 1rem 0.5rem 0; 
	}
	input.check_me:checked + span.check_it {	background: #0a4; 	}


/* ##########################*/
/* Styles for print media.
/* ##########################*/
	@media print{
		#headerarea	{
			display: none;
		}
		.tborder	{
			border: none;
		}
	}

/* ##########################*/
/* media queries styling       */
/* ##########################*/

	/* up to 480 - smartphones */
	@media only screen and (max-width: 480px) {
		.bwcell1,.bwcell2,.bwcell3,.bwcell4,.bwcell5,.bwcell6,.bwcell7,.bwcell8,
		.bwcell9,.bwcell10,.bwcell11,.bwcell12,.bwcell13,.bwcell14, .bwcell32{
			width: 100%;
		}
	}

#sortable li { padding: 0; margin: 0; list-style: none; }
#sortable span { cursor: move; display: block; }
#sortable span:hover { color: #0ac; }

.block_style { 
	margin: 8px 8px 8px 0;
	background: #fff;
	padding: 1em;
	border: solid 1px #ddd;
	line-height: 1.6em;
	width: 100%;
}
.block_style input, .block_style select, .block_style textarea { 
	margin: 4px;
	background: #f7f9fb;
	width: 60%;
	max-width
}
.block_style textarea { max-width: 90%; }
.mooslider {
	border: solid 1px #999;
	max-width: 7em;
	width: 80%;
	height: 24px;
	background-color: #eee;
	display: inline-block;
	vertical-align: -50%;
	margin: 4px 3px 6px 3px;
}
.mooknob, .mooknob2 {
	width: 15px;
	height: 23px;
	background-color: #666;
}
input.round_input {
	background: none;
	padding: 0;
	margin: 0;
	line-height: 24px;
	width: 24px;
	font-size: .75rem;
	color: #888;
	border-radius: 50%;
	text-align: center;
	border: solid 1px #888;
}
.boxshadow {
	-webkit-box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.1);
	box-shadow: 4px 4px 12px 0 rgba(0,0,0,0.1);
}
.boxshadow1 {
  box-shadow:
      2px 4px 9px 0px rgba(0, 0, 0, 0.2),
      10px 13px 20px 0px rgba(0, 0, 0, 0.2)
       ;
}
.blockcontent {	padding: 0.75em 2em 1em 0; }
.bwgrid .bwcell16.blockcontainer { border-top: solid 1px #ddd; }
.bwgrid .bwcell16.blockcontainer:first-of-type {	border-top: none; }
.helptext {
	font-size: 1rem;
	font-style: italic;
	opacity: 0.4;
	vertical-align: top;
}
.helpdark { color: #444; opacity: 1; }
.radio_button label.breadcrumb {	opacity: 0.5; color: #222;}
.radio_button input[type="radio"]:checked + label.breadcrumb { 	opacity: 1; color: #277;}

/* EU cokie law css */
.cc_banner-wrapper{z-index:9001;position:relative}.cc_container .cc_btn{cursor:pointer;text-align:center;font-size:0.6em;transition:font-size 200ms;line-height:1em}.cc_container .cc_message{font-size:0.6em;transition:font-size 200ms;margin:0;padding:0;line-height:1.5em}.cc_container .cc_logo{display:none;text-indent:-1000px;overflow:hidden;width:100px;height:22px;background-size:cover;background-image:url(//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/logo.png);opacity:0.9;transition:opacity 200ms}.cc_container .cc_logo:hover,.cc_container .cc_logo:active{opacity:1}@media screen and (min-width: 500px){.cc_container .cc_btn{font-size:0.8em}.cc_container .cc_message{font-size:0.8em}}@media screen and (min-width: 768px){.cc_container .cc_btn{font-size:1em}.cc_container .cc_message{font-size:1em;line-height:1em}}@media screen and (min-width: 992px){.cc_container .cc_message{font-size:1em}}@media print{.cc_banner-wrapper,.cc_container{display:none}}.cc_container{position:fixed;left:0;right:0;bottom:0;overflow:hidden;padding:10px}.cc_container .cc_btn{padding:8px 10px;background-color:#f1d600;cursor:pointer;transition:font-size 200ms;text-align:center;font-size:0.6em;display:block;width:33%;margin-left:10px;float:right;max-width:120px}.cc_container .cc_message{transition:font-size 200ms;font-size:0.6em;display:block}@media screen and (min-width: 500px){.cc_container .cc_btn{font-size:0.8em}.cc_container .cc_message{margin-top:0.5em;font-size:0.8em}}@media screen and (min-width: 768px){.cc_container{padding:15px 30px 15px}.cc_container .cc_btn{font-size:1em;padding:8px 15px}.cc_container .cc_message{font-size:1em}}@media screen and (min-width: 992px){.cc_container .cc_message{font-size:1em}}.cc_container{background:#222;color:#fff;font-size:17px;font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;box-sizing:border-box}.cc_container ::-moz-selection{background:#ff5e99;color:#fff;text-shadow:none}.cc_container .cc_btn,.cc_container .cc_btn:visited{color:#000;background-color:#f1d600;transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;-webkit-transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;border-radius:5px;-webkit-border-radius:5px}.cc_container .cc_btn:hover,.cc_container .cc_btn:active{background-color:#fff;color:#000}.cc_container a,.cc_container a:visited{text-decoration:none;color:#31a8f0;transition:200ms color}.cc_container a:hover,.cc_container a:active{color:#b2f7ff}@-webkit-keyframes slideUp{0%{-webkit-transform:translateY(66px);transform:translateY(66px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes slideUp{0%{-webkit-transform:translateY(66px);-ms-transform:translateY(66px);transform:translateY(66px)}100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.cc_container,.cc_message,.cc_btn{animation-duration:0.8s;-webkit-animation-duration:0.8s;-moz-animation-duration:0.8s;-o-animation-duration:0.8s;-webkit-animation-name:slideUp;animation-name:slideUp}

/* Slideshow class */
.slideshow {
	width: 100%;
	overflow: hidden;
	height: 400px;
	position: relative;
	line-height: 1em;
}
.slideshow .blogheader {
	display: block;
	width: 100%;
	overflow: hidden;
	background: #fff;
	color: #666;
	opacity: 0.7;
	padding: 0.4em 1em;
	margin: 0;
}

.slideshow span.slide {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-size: cover;
	height: 400px;
	opacity: 0;
	color: #222;
	text-decoration: none;
	z-index: 1;
}
.slideshow span.slide:first-of-type {opacity: 1; }
.pslide { padding: 0 2em 1em 2em; margin: 0; background: #fff; color: #555; opacity: 0.7; font-size: 0.8em; line-height: 1.4em; }
.toc	{ position: absolute; z-index: 5; bottom: 0px; float: left; z-index:2; margin: 0px 0px 2px 0px; display:block; width:15px; height: 15px; background:#000;  text-align:center; border-radius: 15px; text-decoration:none; }
.toc-active { background:#000;  }
#next, #previous { 
	position:absolute; 
	bottom: 30%; 
	right: 20px; 
	z-index: 5; 
	display:block; 
	width: 50px;
	height: 50px;
	line-height: 48px;
	border-radius: 50%; 
	background: #fff; 
	color: #000; 
	text-align: center; 
	padding: 0px; 
	text-decoration: none; 
	opacity: 0.3;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	font-weight: bold;
}
#next:hover, #previous:hover { 
	opacity: 0.8;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#previous { left:20px;  }

