/* ########################## */
/* normal styles for the framing + content */
/* ########################## */
	a:link, a:visited{ color: #555; text-decoration: none; }
	a:hover{ text-decoration: underline; cursor: pointer; 	}
	a.new_win:link, a.new_win:visited{
		color: #555;
		text-decoration: none;
	}
	table{ empty-cells: show; }
	html{ background: #fafafa; }
	body{
		background: #fafafa;
		font: normal 98%/150% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		margin: 0 auto;
		padding: 0;
	}
	body, td, th, tr{   color: #444;  } 	
	input, button, select, textarea{
		font: 95%/115% 'Segoe UI', Arial, Helvetica, sans-serif;
		color: #000;
		background: #fff;
		border: 1px solid #888;
		padding: 4px;
	}
	select{ padding: 0; 	} 	
	select option{ 	padding: 1px; 	}
	textarea{  font: 100%/130% verdana, Helvetica, sans-serif; }
	input[disabled].input_text{  background-color: #eee; }
	hr, .hrcolor{
		height: 1px;
		border: 0;
		color: #ccc;
		background-color: #ccc;
		margin: 8px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000;
		font-size: 1em;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	a img{  border: 0; }
	strong{  font-weight: bold; }
	em{  font-style: italic; }
	p { padding: 5px; margin: 0; }

	ul.links, ul.links li { margin: 0; padding: 0; list-style: none; }
	ul.links { padding: 0; }
	ul.links li {
		display: block;
		padding: 5px 10px 5px 0px;
		border-bottom: solid 1px #ddd;
	}
	/* used for all submit buttons */
	.button_submit, a.button_submit {
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border: none;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.8em;
		line-height: 1.5em;
		background: #555;
		color: #eee;
	}
	a.button_submit {
		display: inline-block;
		font-weight: bold;
		line-height: 2.5em;
		font-size: 0.8em;
		text-transform: uppercase;
	}
	.button_submit:hover {
		text-decoration: none;
		background: #f93;
	}
/* ########################## */
/* Specific theme styles
/* ########################## */

	#topheader{
		padding: 1.5em 0 0.5em 0;
		border-bottom: solid 1px #f0f0f0;
		background: #fafafa;
		z-index: 3;
		position: relative;
	}
	#fixedtopheader{
		padding: 1.5em 0 0 0;
		background: #f0f0f0;
		z-index: 2000;
		position: fixed;
		width: 100%;
		top: 0;
		opacity: 0;
		-webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
		box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
	}
	/* set this to the image used */
	#mylogo { margin-bottom: 1em; }

	#user_section { text-align: right; max-width: 65%;}
	#copyright_section { background: #f7f7f7; height: 40px; line-height: 40px; font-size: 80%; }
	#extrainfo_section { 
		background:#000; 
		color: #bbb;
		padding: 1em 0;
	}
	#bottomfooter {
		text-align: center;
		min-height: 36px;
		color: #999;
		background: #f9f9f9;
		border-top: solid 1px #eee;
		padding: 1em 0;
	}
	#bottomfooter a { font-weight: bold; }
	#main_content {
		position: relative;
		z-index: 2;
		overflow: hidden;
		clear: both;
		background: #fff;
	}
	#main_content .mainwidth { padding: 1em 0 2em 0; }
	#sidebar_toggle_container {
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 5px;
		float: right;
		margin-top: 4px;
	}
	#rframe { padding-top: 1em; text-align: right;}
	.triangle_right, .triangle_left {
		display: block;
		width: 21px;
		height: 21px;
		background: url(../images/theme/icons.png) no-repeat -100px 0px; 
	}
	.triangle_left {
		background: url(../images/theme/icons.png) no-repeat -150px 0px; 
	}
	/* the special sidebar for users options etc. */
	#sidebar_toggle:hover { cursor: pointer; }
	.showme , .hideme { 
		max-height: 200px; 	
		overflow: hidden;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.hideme { max-height: 0px; }
	#sidebar { padding: 1em 0 0 0; font-size: 0.9em;  }
	#guest_form {
		border-radius: 0 0 10px 10px;
		height: 4em;
		display: none;
	}
	#guest_form select{ height: 1.92em;	}
	#guest_form .button_submit{ height: 2.7em;	}
/* ########################## */
/* Specific theme styles
/* ########################## */
	.mainwidth { 
		width: 100%; 
		margin: auto; 
	}
	/* trimming this a bit on larger screens*/
	@media only screen and (max-width: 1279px) {
		.mainwidth { 
			width: 95%; 
			margin: auto; 
		}
	}
	@media only screen and (min-width: 1280px) {
		.mainwidth { 
			width: 1200px; 
			margin: auto; 
		}
	}
/* ########################## */
/*  menu classes  */
/* ########################## */

	/* the main menu */
	#topmenustyle {
		right: 0;
		font-size: 0.8em;
		letter-spacing: 1px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#topmenustyle li {
		padding: 0;
		margin: 0;
		display: inline-block;
		position: relative;
	}
	#topmenustyle li li { 	display: block; }
	#topmenustyle li a {
		color: #505050;
		padding: 4px 0 20px 12px;
		margin: 0 0 0 5px;
		line-height: 2em;
		display: block;
	}
	#topmenustyle li li a {  text-transform: none; }
	#user_section #topmenustyle li  {text-align: left; 	}
	#topmenustyle li:last-of-type a { border-right: none; }
	#topmenustyle li ul:before {
		content:" ";
		display: block;
		position: absolute;
		z-index: 1;
		width: 0;
		height: 0;
		top: 0;
		right: 0;
		margin: -6px 50px 0 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 6px solid #aaa;
	}
	
	#topmenustyle li ul { 
		top: 45px; 
		visibility: hidden;
		z-index: 4;
		padding: 0.5em 0px;
		position: absolute; 
		background: #fff;
		margin: 0 auto;
		right: -34px;
		border: solid 1px #ddd;
		width: 10em;
	}
	#topmenustyle li ul li { 
		width: 100%;
		float: left;
		display: block;
		text-align: right;
	}
	#topmenustyle li ul.subcols1 li { width: 50%; }
	#topmenustyle li ul.subcols1 { width: 20em;}

	#topmenustyle li ul.subcols2 li { width: 33%; }
	#topmenustyle li ul.subcols2 { width: 30em;}

	#topmenustyle li ul.subcols3 li { width: 25%; }
	#topmenustyle li ul.subcols3 { width: 40em;}

	#topmenustyle li ul.subcols4 li { width: 20%; }
	#topmenustyle li ul.subcols4 { width: 50em;}
	#topheader #topmenustyle li ul a { line-height: 1.2em; padding: 7px 20px; margin: 0;}
	#topheader #topmenustyle ul.horiz_nav li a.active, #topheader #topmenustyle li ul a:hover { color: #0487be; }
	#topmenustyle li:hover ul { 
		visibility: visible; 	
		top: 40px;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	} 
	#topmenustyle li a { text-decoration: none;  }
	#topmenustyle li a:hover, #topmenustyle li.subsections:hover > a { text-decoration: none; color: #0487be; }
	#topmenustyle ul ul.horiz_nav a { padding: 5px 10px; }
	.smileylink { opacity: 0.8; }
	.smileylink:hover { opacity:1;	}

/* ########################## */
/*  the buttons/links used fro breadcrumbs or inline menus  */
/* ########################## */

	/* the breadcrumb or linktree */
	.breadcrumb, .breadcrumb_style {
		text-transform: uppercase;
		font: normal 0.8em/130% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		color: #878787;
	}
	.breadcrumb {
		padding: 0;
		margin: 0 0 12px 0;
	}
	.breadcrumb li .dividers { font-weight: normal; color: #bbb; }
	.breadcrumb a { color: #666; }
	/* quickbuttons  */
	.quickbuttons ul, .quickbuttons li {
		padding: 0;
		list-style: none;
		margin: 0;
	}
	.quickbuttons { margin: 0 0 1em 0; vertical-align: bottom; }
	.quickbuttons li { display: inline-block; }
	.quickbutton_single a, .quickbuttons li a { 
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 0.05em;
		color: #777;
	}
	.quickbuttons li a { 
		display: block;
		padding: 0 7px 0 0;
		margin: 0 2px 0 0;
		line-height: 1em;
		border-right: solid 1px #bbb;
	}
	.quickbuttons li a.chosen { color: #222; font-weight: bold; }
	.quickbuttons li:last-of-type a { border-right: none; }

	ul.qbuttons, ul.qbuttons li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul.qbuttons li { display: inline-block; margin: 0 0 5px 0; }
	ul.qbuttons a, ul.qbuttons input.note { 
		display: block;
		line-height: 3em;
		padding: 0 2em;
		background: #f0f0f0;
		color: #555;
		border-radius: 4px;
		text-decoration: none;
		font-size: 0.8em;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
	}
	ul.qbuttons a.active, ul.qbuttons input.note.active { 
		padding: 0 1em;
		font-weight: bold;
	}
	ul.qbuttons a.active, ul.qbuttons input.note.active  { 
		background: orange;
		color: #fff;
	}
	ul.qbuttons a:hover, ul.qbuttons input.note:hover, ul.qbuttons a.active:hover, ul.qbuttons input.note.active:hover { 
		background: #e0e0e0;
		color: #000;
	}
	ul.qbuttons a.active:hover, ul.qbuttons a.active:hover, ul.qbuttons input.note.active:hover  { background: #fff4e0;	}
/* ########################## */
/* notitifer styles												*/
/* ########################## */
	.notice, .notifier, .notifier_dark, .notice, .noticegrey {
		font-family: arial,sans-serif;
		display: inline-block;	
		min-width: 22px;
		height: 22px;
		border-radius: 22px;
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
		background: #9bb83d;
		font-size: 10px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		line-height: 22px;
		vertical-align: middle;
		margin:0 5px;
	}
	.noticegrey{
		background: #d3d3d3;
		color: #222;
	}
	.notifier_dark { background: #5d7d2e; }
	.notifier a,.notifier_dark a { text-decoration: none; display: block; color: #fff; }
	.notifier:hover, .notifier_dark:hover { background: #444; }
	.new_indicator { width: 7px; height: 7px; background: #8d8; border-radius: 7px; position: absolute; margin: 8px 0 0 -15px; }
	.toggle_text { display: inline-block; height: 23px; vertical-align: top; }
	.new2,.new, .new_style {
		display: inline-block;
		padding: 4px 10px;
		line-height: 1.3em;
		background: #fdb;
		text-transform: uppercase;
		border-radius: 10px;
		margin: 0 1px 10px 0;
		font-size: 10px;
		text-decoration: none;
	}
	.new2 {
		padding: 2px 6px;
		border-radius: 4px;
		margin: 0 2px 0 2px;
	}
	.newblue { background: #def; }
	.new a { text-decoration: none; }
	a.new_style  {	background: #444; color: white;			text-decoration: none; }
	a.new:hover, a.new_style:hover {	background: #f60; color: white;			text-decoration: none; }
/* ##########################*/
/* various setting styles
/* ##########################*/
	#board_tabs li, .tabs li , .boardheader {
		display: inline-block;
		padding: 0 16px;
		height: 30px;
		line-height: 30px;
		background: #f0f0f0;
		border-radius: 5px;
		cursor: pointer;
		margin: 0;
		font-size: 0.7em;
		text-transform: uppercase;
		list-style: none;
		font-weight: bold;
	}
	#board_tabs li.active, #board_tabs li:hover, .tabs li.active, .tabs li:hover , .boardheader,
	#board_tabs li.active a, #board_tabs li:hover a, .tabs li.active a, .tabs li:hover a, .boardheader a {
		background: #ccc;
		color: #222;
		text-decoration: none;
	}
	.boardheader{
		padding: 0;
		border-radius: 0 2px 2px 2px;
		display: block;
		border: none;
		text-align: left;
	}
	#board_tabs li.active, .tabs li.active,
	#board_tabs li.active a, .tabs li.active a {
		background: #ccc;
		color: #222;
	}
	#board_tabs li:hover, .tabs li:hover, #board_tabs li:hover a, .tabs li:hover a{
		background: #9ab;
		color: #fff;
	}
	#board_tabs li.active:hover,#board_tabs li.active:hover a {
		background: #888;
		color: #def;
	}
	#cat_div_parent {
		border: solid 1px #ddd;
		padding: 0 1em;
		margin: 1em 0 5px 0;
		border-radius: 5px;
	}
	.label_online, .label_offline {
		width: 12px;
		border-radius: 12px;
		height: 12px;
		background: #6d3;
		display: block;
	}
	.label_offline { background: #eee; 	}
	.label_online b, .label_offline b { display: none; }
	.label_online a, .label_offline a { text-decoration: none; }
	.avatar { width: 100%; }
	.overlay_avatar {
		position: relative;
		margin: -76px 75% 0 25%;
	}
	.comment_avatar img{ width: 40px; border-radius: 30px; }
	.mini_avatar{
		width: 20px;
		vertical-align: middle;
		margin:5px 0 0 5px;
		background-size: contain;
		height: 20px;
		border-radius: 20px;
	}
	.roundavatar {
		height: 40px;
		border-radius: 40px;
		vertical-align: middle;
		margin-left: 8px;
	}
	.bigtext{
		font-size: 3em;
		font-family: 'beatnik_sfregular', Verdana, sans-serif;
		display: block;
		padding: 14px 0 20px 0;
		color: #999;
	}
	#comments { padding-top: 1em; }
	.show_part, .hide_part {
		width: 18px;
		height: 18px;
		background: url(../images/theme/icons.png) no-repeat 0 0;
		cursor: pointer;
		display: block;
	}
	.show_part { background: url(../images/theme/icons.png) no-repeat -50px 0; 	}
	.toggle_on, .toggle_off {
		width: 30px;
		height: 22px;
		display: inline-block;
		background: url(../images/theme/icons.png) no-repeat 0 -50px;
	}
	.toggle_off { 		background: url(../images/theme/icons.png) no-repeat -50px -50px; }

/* ########################## */
/* upshrink icons												*/
/* ########################## */

	.upshrink_down, .upshrink_up, .upshrink_none {
		clear: left;
		display: block;
		width: 17px;
		height: 17px;
		background: url(../images/theme/icons.png) no-repeat 0px 0px;
		cursor: pointer;
		opacity: 1;
		margin: 4px 1em 0 0;
	}
	.upshrink_down { background: url(../images/theme/icons.png) no-repeat -50px 0px;	}
	.upshrink_none { background: none; }
	.upshrink_down:hover, .upshrink_up:hover { opacity: 0.5;	}
/* ########################## */
/* header styles												*/
/* ########################## */
	/* main header on all pages, override if needed  */
	.mainheader, .blogheader, .textheader, .textheader2 {
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #555;
		margin: 0.5em 0.1em;
		display: block;
		font-size: 1.05em;
	}
	.mainheader a, .blogheader a, .textheader a, .textheader2 a { color: #556; 	}
	.header_collapsed { border-bottom: solid 1px #ddd; }
	/* a lesser header  */
	.subheader { }
	/* used in smaller table-like headers */
	.headertexts {
		line-height: 1.2em;
		padding: 7px 8px;
		margin: 1px 0;
		background: #f0f0f0;
		color: #777;
		font-size: 0.75em;
		text-transform: uppercase;
		font-weight: bold;
		border-top: solid 1px #bbb;
	}
	.headertexts a { color: #778; text-decoration: none; }
	.headertexts a:hover { color: #0487be; text-decoration: none; }
	.headertexts input { margin:  0 0 2px 0; padding: 0; font-size: 0.8em; display: block; }
	/* area below headers, for info etc. */
	.headerarea {
		border-top: solid 1px #ddd;
		color: #679;
		font-size: 0.9em;
		padding: 0.5em 0;
	}
	/* second area below headers, usually a bit lighter  */
	.headerarea2 {
		color: #777;
		padding: 0.5em 0;
		background: #fff;
	}
	.info {
		color: #666;
		background: #f6faf8;
		padding: 0.7em 1.5em;
		border: solid 1px #d6dad8;
		margin: 0.2em 0;
	}
	.info2 {
		font-weight: bold;
		color: #555;
		background: #faf3f0;
		padding: 0.5em 1.5em;
		border: solid 1px #dad3d0;
		margin: 0.2em 0;
	}
	.sectionheader {
		background: #f5f5f5;
		color: #aaa;
		font-size: 1.2em;
		text-transform: uppercase;
		padding: 10px 15px;
		margin: 1px 0;
		display: block;
	}
	.roundbox {
		display: inline-block;
		padding: 10px 15px;
		border: solid 1px #ddd;
		border-radius: 5px;
		background: #fff;
		cursor: pointer;
		margin: 5px 0;
	}
	.roundbox:hover, .roundbox:active{
		border: solid 1px #555;
		color: #fff;
		background: #555;
		text-decoration:  none;
	}
/* ########################## */
/* pagelinks												*/
/* ########################## */
	/* pagelinks styling, background and content */
	.pagelinks {
		border-top: solid #ddd 1px;
		padding: 0.5em 0;
		color: #999;
		font-size: 0.8em;
		margin: 2px 0px;
		text-transform: uppercase;
	}
	.round_number, .navPages{
		text-transform: uppercase;
		display: inline-block;
		min-width: 2.3em;
		height: 2.3em;
		border-radius: 1.3em;
		background: #f9f9f9;
		font-size: 10px;
		line-height: 1.3em;
		text-align: center;
		color: #666;
		padding: 5px;
	}
	strong.navPages { background: #364; color: white; }
	.round_number, a.navPages:hover{ background: #ccc; text-decoration: none; }
/* ########################## */
/* windowbg styles												*/
/* ########################## */

	/* first, the normal display areas, alternating styles */
	.windowbg, .windowbg2, .approvebg, .approvebg2, .windowbg3, .windowbg0 { padding: 0.5em 1em; }
	tr.windowbg td, tr.windowbg2 td,th.windowbg td, th.windowbg2 td, th.windowbg3 td{ padding: 4px 10px; }
	.windowbg2 { background: #fff;	}
	.windowbg { background: #f9f9f9; }
	.windowbg3 { background: #ffffff; }
	.windowbg4, .windowbg4 a, .windowbg4 .breadcrumb_style {  color: #0487be;}
	.windowbg4 .breadcrumb_style { opacity: 0.7;}
	/* we also got sticky styles, and locked..and not approved */
	.sticky_corner, .approved_corner {
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 15px 15px 0 0;
		border-color: #82ad00 transparent transparent transparent;
		display: block;
		position: absolute;
		margin: -0.7em 0 0 -0.7em;
	}
	.approved_corner {border-color: #ad0000 transparent transparent transparent;	}
	.approvebg { }
	.approvebg2 { }

/* on/off/redirect styles												*/
/* ########################## */

	.on, .off, .on2 { border-radius: 25px; width: 25px; height: 25px; display: block; margin: 5px auto; text-decoration: none; }
	.off{ background: #f0f0f0;  }
	.on{ background: #0487be;  }
	.on2{ background: #24a7de;  }
	.redirect{ background: #ddd;  }
	.on:hover,.off:hover, .redirect:hover, .on2:hover { opacity: 0.6; text-decoration: none; }
	.smallonoff { display: inline-block; margin: 0 1em; width: 12px; height: 12px; border-radius: 6px; }

/* ########################## */
/* message icons												*/
/* ########################## */

	span.messicons{ 	width: 24px; height: 24px; display: inline-block; }
	.messicons span{ position: absolute; left: -9999em;}
	span.mess_wink { background: url(../images/theme/icons.png) 0 -100px no-repeat; }
	span.mess_angry { background: url(../images/theme/icons.png) -24px -100px no-repeat; }
	span.mess_smiley { background: url(../images/theme/icons.png) -48px -100px no-repeat; }
	span.mess_sad { background: url(../images/theme/icons.png) -72px -100px no-repeat; }
	span.mess_cheesy { background: url(../images/theme/icons.png) -96px -100px no-repeat; }
	span.mess_clip { background: url(../images/theme/icons.png) -145px -100px no-repeat; }
	span.mess_grin { background: url(../images/theme/icons.png) -169px -100px no-repeat; }

	span.mess_xx { background: url(../images/theme/icons.png) 0 -124px no-repeat; }
	span.mess_lamp { background: url(../images/theme/icons.png) -25px -124px no-repeat; }
	span.mess_exclamation { background: url(../images/theme/icons.png) -48px -124px no-repeat; }
	span.mess_question { background: url(../images/theme/icons.png) -72px -124px no-repeat; }
	span.mess_moved { background: url(../images/theme/icons.png) -96px -124px no-repeat; }
	span.mess_recycled { background: url(../images/theme/icons.png) -120px -124px no-repeat; }
	span.mess_wireless { background: url(../images/theme/icons.png) -144px -124px no-repeat; }
	span.mess_thumbup { background: url(../images/theme/icons.png) -168px -124px no-repeat; }
	span.mess_thumbdown { background: url(../images/theme/icons.png) -120px -100px no-repeat; }

	/* sticky/locked stuff as well*/
	span.mess_sticky { background: url(../images/theme/icons.png) -192px -100px no-repeat; }
	span.mess_lock { background: url(../images/theme/icons.png) -192px -124px no-repeat; }
	span.mess_sticklock { background: url(../images/theme/icons.png) -216px -100px no-repeat; }
	span.mess_poll { background: url(../images/theme/icons.png) -216px -124px no-repeat; }

	/* extra support icons */
	span.mess_issue { background: url(../images/theme/icons.png) 0 -151px no-repeat; }
	span.mess_solved { background: url(../images/theme/icons.png) -24px -151px no-repeat; }
	span.mess_assigned { background: url(../images/theme/icons.png) -48px -151px no-repeat; }
	span.mess_feedback { background: url(../images/theme/icons.png) -72px -151px no-repeat; }

	/* and some progress ones */
	span.mess_prog10 { background: url(../images/theme/icons.png) 0 -175px no-repeat; }
	span.mess_prog20 { background: url(../images/theme/icons.png) -24px -175px no-repeat; }
	span.mess_prog30 { background: url(../images/theme/icons.png) -48px -175px no-repeat; }
	span.mess_prog40 { background: url(../images/theme/icons.png) -72px -175px no-repeat; }
	span.mess_prog50 { background: url(../images/theme/icons.png) -96px -175px no-repeat; }
	span.mess_prog60 { background: url(../images/theme/icons.png) -120px -175px no-repeat; }
	span.mess_prog70 { background: url(../images/theme/icons.png) -144px -175px no-repeat; }
	span.mess_prog80 { background: url(../images/theme/icons.png) -169px -175px no-repeat; }
	span.mess_prog90 { background: url(../images/theme/icons.png) -192px -175px no-repeat; }
	span.mess_prog100 { background: url(../images/theme/icons.png) -216px -175px no-repeat; }

	.inlinebbc {
		display: inline-block;
	}

/* ########################## */
/* specific id styling											*/
/* ########################## */

	#preview_body {
		border: solid 1px #ddd;
		padding: 1em;
		background: #f8f8f8;
		border-radius: 5px 0 5px 5px;
		overflow: hidden;
	}
	#preview_body .corner_arrow {
		margin: 0 -20px 0 0;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 10px 10px 0;
		border-color: transparent #ddd transparent transparent;
		display: block;
		float: right;
	}
	.membercolumn { text-align: center; padding-bottom: 1em; }

/* ########################## */
/* the poll bars */
/* ########################## */

	.bar, .bar_my {
		background: #eee;
		border: solid 1px #fff;
		display: block;
	}
	.bar span{
		background: #feccb1; /* Old browsers */
		background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
		display: block;
		height: 19px;
		margin-bottom: 2px;
	}
	.bar_my span {
		background: #6db3f2; /* Old browsers */
		background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
		display: block;
		height: 19px;
		margin-bottom: 2px;
	}
	.framebox {	border: solid 1px #ddd; }
	a#gototop {
		border-radius: 5px 0 0 5px;
		display: block;
		position: fixed;
		bottom: 4rem;
		right: 0;
		z-index: 99;
	}



