.stepdone, .stepcurrent, .stepwait {
	width: 24px;
	height: 24px;
	display: block; 
	float: left;
	margin: 0 1em 0 0;
}

.stepdone { 
	background: url(../images/theme/icons.png) -216px -175px no-repeat; 
}
.stepcurrent {	
}
.stepwait { 	
}
#maincontent { background: #fff; overflow: hidden; }
