/* Common classes to ease styling.
------------------------------------------------------- */
.floatright { float: left; }
.floatleft {	float: right; }
.clear_left {	clear: right; }
.clear_right { 	clear: left; }
.righttext { margin-left: auto; margin-right: 0;text-align: left;}
.lefttext { 	margin-left: 0; margin-right: auto; text-align: right; }
/* Styling for BBC tags */
.bbc_list {	text-align: right; }
/* GenericList */
.additional_row input { 	margin-left: 0; margin-right: 1em; }
/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature, .attachments { clear: left; }
.custom_fields_above_signature { clear: left; }
.openid_login { padding-right: 18px; padding-left: 0; }
/* Lists with settings use these a lot.
------------------------------------------------------- */
dl.settings { clear: left; }
dl.settings dt { float: right; clear: both; }
dl.settings dt.windowbg { 	float: right; }
dl.settings dd { float: left; }
dl.settings img {	margin: 0 0 0 10px; }

