/* 
		This stylesheet belongs to TextboxList - Copyright Guillermo Rauch <http://devthought.com> 2009 
		TextboxList is not priceless for commercial use. See <http://devthought.com/projects/mootools/textboxlist/> 
		Purchase to remove copyright
*/

.textboxlist { cursor: text; margin-top: 10px;}
.textboxlist-bits { zoom: 1; overflow: hidden; margin: 0; padding: 3px 4px 0; border: 1px solid #999; *padding-bottom: 3px; }
.textboxlist-bit { list-style-type: none; float: left; display: block; padding: 0; margin: 0 5px 3px 0; cursor: default; }
.textboxlist-bit-editable { border: 1px solid #fff; }
.textboxlist-bit-editable-input { border: 0; padding: 2px 0; *padding-bottom: 0; height: 16px; font-size: 10px; }
.textboxlist-bit-editable-input:focus { outline: 0; }
.textboxlist-bit-box { position: relative; line-height: 22px; padding: 0 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; border: 1px solid #ddd; background: #eee; cursor: default; }
.textboxlist-bit-box-deletable { padding-right: 20px; }
.textboxlist-bit-box-deletebutton { position: absolute; right: 8px; top: 8px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('close.gif'); }
.textboxlist-bit-box-deletebutton:hover { border: none; background-position: 7px; text-decoration: none; }
.textboxlist-bit-box-hover { background: #666; border: 1px solid #666; color: white;}
.textboxlist-bit-box-focus { border-color: #bbb; background: #ddd; color: #000; }
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton { background-position: bottom; }
