/* ########################## */
/* normal styles for the framing + content */
/* ########################## */
	a:link, a:visited{ color: #555; text-decoration: none; }
	a:hover{ text-decoration: underline; cursor: pointer; 	}
	a.new_win:link, a.new_win:visited{
		color: #555;
		text-decoration: none;
	}
	table{ empty-cells: show; }
	html{ background: #ccc; }
	body{
		background: #ccc;
		font: normal 98%/150% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		margin: 0 auto;
		padding: 0;
	}
	body, td, th, tr{   color: #444;  } 	
	input, button, select, textarea{
		font: 95%/115% 'Segoe UI', Arial, Helvetica, sans-serif;
		color: #000;
		background: #fafafa;
		border: 1px solid #888;
		padding: 4px;
	}
	select{ padding: 0; 	} 	
	select option{ 	padding: 1px; 	}
	textarea{  font: 100%/130% verdana, Helvetica, sans-serif; }
	input[disabled].input_text{  background-color: #eee; }
	hr, .hrcolor{
		height: 1px;
		border: 0;
		color: #ccc;
		background-color: #ccc;
		margin: 8px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000;
		font-size: 1em;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	a img{  border: 0; }
	strong{  font-weight: bold; }
	em{  font-style: italic; }
	p { padding: 5px; margin: 0; }


	textarea{  font: 95%/150% 'Segoe UI', Arial, Helvetica, sans-serif;}
	h1#logoheader {
		margin: 10px 0 0 -7px;
		padding: 0;
	}
	h1#logoheader a {
		font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
		font-size: 28px;
		text-transform: uppercase;
		color: #eee;
		margin: 0 0 0.5em 0;
		padding: 0;
		display: inline-block;
		font-weight: normal;
		line-height: 1.5em;
		position:relative;
	}
	h1#logoheader a span{
		color: #5f7;
	}
	h1#logoheader a:hover{
		color: #888;
		text-decoration: none;
	}
	h1#logoheader a:hover span{
		color: #888;
	}
	fieldset{
		border: 1px solid #f0f0f0;
		margin: 10px 0;
		padding: 0 1.5em 1em 1.5em;
	}
	fieldset legend{
		font-weight: bold;
		color: #444;
		padding: 2px 9px;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #008;
	}

	.post, .personalmessage {
		overflow: hidden;
		padding: 0.5em 0;
		line-height: 1.6em;
		color: #656565;
	}
	ul.links, ul.links li { margin: 0; padding: 0; list-style: none; }
	ul.links { padding: 0 1em; }
	ul.links li {
		display: block;
		padding: 5px 10px 5px 25px;
		border-bottom: solid 1px #ddd;
		background: url(../images/theme/icons.png) 0 -252px no-repeat;
		
	}
	/* used for all submit buttons */
	.button_submit, a.button_submit {
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border: none;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.8em;
		line-height: 1.5em;
		background: #555;
		color: #eee;
	}
	a.button_submit {
		display: inline-block;
		font-weight: bold;
		line-height: 2.5em;
		font-size: 0.8em;
		text-transform: uppercase;
	}
	.button_submit:hover {
		text-decoration: none;
		background: #f93;
	}

/* ########################## */
/* Specific theme styles
/* ########################## */

	#topheader {
		background: #192022;
		color:
		padding: 1em 0 0 0;
	}
	#topheader.blue {
		opacity: 0.95;
		-webkit-transition: all 50ms ease-in-out;
		-moz-transition: all 50ms ease-in-out;
		-ms-transition: all 50ms ease-in-out;
		-o-transition: all 50ms ease-in-out;
		transition: all 50ms ease-in-out;
	}
	#topframe {
		background: url(../images/theme/top.jpg) -210px 0 no-repeat #f5f5f5;
		position: relative;
	}
	#fixedtopheader{
		padding: 1.5em 0 0 0;
		background: #0f212d;
		z-index: 20;
		position: fixed;
		width: 100%;
		top: 0;
		opacity: 0;
		-webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
		box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
	}
	#fixedtopheader .mainwidth{
		padding: 0;
		background: #0f212d;
	}
	#myheader {
		-webkit-box-shadow:  0px 10px 30px 0px rgba(0, 0, 0, .1);
        box-shadow:  0px 10px 30px 0px rgba(0, 0, 0, .3);	
		margin: 0 0 10px 0;
		padding: 1em 0 0 2em;
		color: #ddd;
	}
	#myheader a { color: #ddd; }
	.mainwidth { 
		width: 1200px; 
		margin: auto; 
		background: #f5f5f5;
	}
	/* trimming this a bit on larger screens*/
	@media only screen and (max-width: 1199px) {
		.mainwidth { 
			width: 100%; 
			margin: auto; 
		}
	}
	#userframe { 
		background: #f5f5f5;
		padding-bottom: 0;
	}
	#user_section { text-align: right; max-width: 65%;}
	#copyright_section { background: #f7f7f7; height: 40px; line-height: 40px; font-size: 80%; }
	#extrainfo_section { 
		background:#000; 
		color: #bbb;
		padding: 1em 0;
	}
	#bottomfooter {
		text-align: center;
		min-height: 36px;
		color: #999;
		padding: 0;
	}
	#mainframe {
		padding: 0;
		clear: both;
		background: #f5f5f5;
		min-height: 600px;
	}
	#bottomfooter .mainwidth { background: #eee; padding: 2em 0; overflow: hidden; }
	#main_content {
		padding: 0.75em 1.5em 1.5em 1.5em;
		position: relative;
		overflow: hidden;
	}
	#main_content .mainwidth {
		padding: 1em 0 2em 0;
	}
	#sidebar_toggle_container {
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 4px;
		float: right;
		margin-top: 1px;
	}
	#rframe { padding-top: 1em; text-align: right;}
	.triangle_right, .triangle_left {
		display: block;
		width: 21px;
		height: 21px;
		background: url(../images/theme/icons.png) no-repeat -100px 0px; 
	}
	.triangle_left {
		background: url(../images/theme/icons.png) no-repeat -150px 0px; 
	}
	/* the special sidebar for users options etc. */
	#sidebar_toggle:hover { cursor: pointer; }
	.showme , .hideme { 
		max-height: 400px; 	
		overflow: hidden;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.hideme {	
		max-height: 0px; 	
	}
	#sidebar { padding: 1em 0 0 0; font-size: 0.9em;  }
	#sidebar hr { display: none; }
	#sidebar .mainheader { margin-bottom: 0.4em; }
	#guest_form {
		border-radius: 0 0 10px 10px;
		height: 4em;
		display: none;
	}
	#guest_form select{ height: 1.92em;	}
	#guest_form .button_submit{ height: 2.7em;	}

/* ########################## */
/*  menu classes  */
/* ########################## */

	/* the main menu */
	#topmenustyle {
		margin-top: 0;
		right: 0;
		font-size: 0.8em;
		text-transform: uppercase;
	}
	#topmenustyle li {
		padding: 0;
		margin: 0;
		display: inline-block;
		position: relative;
	}
	#topmenustyle li li { 	display: block; }
	#topmenustyle li a {
		color: #799;
		padding: 4px 0 0px 12px;
		margin: 0 0 0 5px;
		line-height: 2em;
		display: block;
	}
	#topmenustyle li li a {  text-transform: none; }
	#topmenustyle li:last-of-type a { border-right: none; }
	#topmenustyle li ul { 
		top: 35px; 
		visibility: hidden;
		z-index: 4;
		padding: 0.5em 0px;
		position: absolute; 
		background: #0f212d;
		margin: 0 auto;
		left: 4px;
	}
	#topmenustyle li ul li { 
		width: 100%;
		float: left;
		display: block;
	}
	#topmenustyle li ul.subcols1 li { width: 50%; }
	#topmenustyle li ul.subcols1 { width: 20em;}

	#topmenustyle li ul.subcols2 li { width: 33%; }
	#topmenustyle li ul.subcols2 { width: 30em;}

	#topmenustyle li ul.subcols3 li { width: 25%; }
	#topmenustyle li ul.subcols3 { width: 40em;}

	#topmenustyle li ul.subcols4 li { width: 20%; }
	#topmenustyle li ul.subcols4 { width: 50em;}
	#topheader #topmenustyle li ul a { line-height: 1.5em; padding: 3px 20px; margin: 0; color: #cee; }
	#topheader #topmenustyle ul.horiz_nav li a.active, #topheader #topmenustyle li ul a:hover { color: #cdf; }
	#topheader #topmenustyle ul.horiz_nav li a.active {  }
	#topmenustyle li:hover ul { 
		visibility: visible; 	
		top: 30px;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	} 
	#topmenustyle li a { text-decoration: none;  }
	#topmenustyle li a:hover, #topmenustyle li.subsections:hover > a { text-decoration: none; color: #cdf; }
	#topmenustyle ul ul.horiz_nav a { padding: 5px 10px; }
/* ########################## */
/*  the buttons/links used fro breadcrumbs or inline menus  */
/* ########################## */

	/* the breadcrumb or linktree */
	.breadcrumb, .breadcrumb_style {
		text-transform: uppercase;
		font: normal 0.8em/130% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		color: #878787;
	}
	.breadcrumb {
		padding: 0;
		margin: 0 0 12px 0;
	}
	.breadcrumb li .dividers { font-weight: normal; color: #bbb; }
	.breadcrumb a { color: #666; }
	/* quickbuttons  */
	.quickbuttons ul, .quickbuttons li {
		padding: 0;
		list-style: none;
		margin: 0;
	}
	.quickbuttons { margin: 0 0 1em 0; vertical-align: bottom; }
	.quickbuttons li { display: inline-block; }
	.quickbutton_single a, .quickbuttons li a { 
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 0.05em;
		color: #777;
	}
	.quickbuttons li a { 
		display: block;
		padding: 0 7px 0 0;
		margin: 0 2px 0 0;
		line-height: 1em;
		border-right: solid 1px #bbb;
	}
	.quickbuttons li a.chosen { color: #222; font-weight: bold; }
	.quickbuttons li:last-of-type a { border-right: none; }

	ul.qbuttons, ul.qbuttons li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul.qbuttons li { display: inline-block; margin: 0 0 5px 0; }
	ul.qbuttons a, ul.qbuttons input.note { 
		display: block;
		line-height: 3em;
		padding: 0 2em;
		background: #888;
		color: #fff;
		border-radius: 4px;
		text-decoration: none;
		font-size: 0.8em;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
	}
	ul.qbuttons a:hover, ul.qbuttons input.note:hover, ul.qbuttons a.active:hover, ul.qbuttons input.note.active:hover { 
		background: #777;
		color: #fff;
	}
	ul.qbuttons a.active:hover, ul.qbuttons a.active:hover, ul.qbuttons input.note.active:hover  { background: #fff4e0;	}

	.imdb_myscore {
		color: #555;
		display: inline-block;
		width: 100px;
		background: #eee;
		height: 7px;
		margin: 0 10px 3px 0;
	}
	.imdb {
		background: #f7f7f7;
		border: solid 1px #ddd;
		float: left;
		font-size: 0.9em;
		margin: 1em 0;
		width: 100%;
	}
	.imdb dl { padding: 1em; }
	.imdb dt {
		width: 20%;
		display: inline-block;
		clear: none;
		text-align: right;
		font-weight: bold;
		color: #777;
		line-height: 1.6em;	
		padding-bottom: 5px;
		margin-bottom: 5px;
		vertical-align: top;
	}
	.imdb dd {
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: solid 1px #ddd;
		line-height: 1.6em;
		width: 60%;
		clear: none;
		padding-left: 0;
		display: inline-block;
	}
/* ########################## */
/* notitifer styles												*/
/* ########################## */

	.notice, .notifier, .notifier_dark, .notice, .noticegrey {
		font-family: arial,sans-serif;
		display: inline-block;	
		min-width: 22px;
		height: 22px;
		border-radius: 22px;
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
		background: #9bb83d;
		font-size: 10px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		line-height: 22px;
		vertical-align: middle;
		margin:0 2px;
	}
	.noticegrey{
		background: #d3d3d3;
		color: #222;
	}
	.notifier_dark { background: #5d7d2e; }
	.notifier a,.notifier_dark a { text-decoration: none; display: block; color: #fff; }
	.notifier:hover, .notifier_dark:hover { background: #444; }
	.new_indicator { width: 7px; height: 7px; background: #8d8; border-radius: 7px; position: absolute; margin: 8px 0 0 -15px; }
	.toggle_text { display: inline-block; height: 23px; vertical-align: top; }
	.new2,.new, .new_style {
		display: inline-block;
		padding: 4px 10px;
		line-height: 1.3em;
		background: #fdb;
		text-transform: uppercase;
		border-radius: 10px;
		margin: 0 1px 10px 0;
		font-size: 10px;
		text-decoration: none;
	}
	.new2 {
		padding: 2px 6px;
		border-radius: 4px;
		margin: 0 2px 0 2px;
	}
	.newblue { background: #def; }
	.new a { text-decoration: none; }
	a.new_style  {	background: #444; color: white;			text-decoration: none; }
	a.new:hover, a.new_style:hover {	background: #f60; color: white;			text-decoration: none; }
/* ##########################*/
/* various setting styles
/* ##########################*/
	#board_tabs li, .tabs li , .boardheader {
		display: inline-block;
		padding: 0 16px;
		height: 30px;
		line-height: 30px;
		background: #f0f0f0;
		border-radius: 5px;
		cursor: pointer;
		margin: 0;
		font-size: 0.7em;
		text-transform: uppercase;
		list-style: none;
		font-weight: bold;
	}
	#board_tabs li.active, #board_tabs li:hover, .tabs li.active, .tabs li:hover , .boardheader,
	#board_tabs li.active a, #board_tabs li:hover a, .tabs li.active a, .tabs li:hover a, .boardheader a {
		background: #ccc;
		color: #222;
		text-decoration: none;
	}
	.boardheader{
		padding: 0;
		border-radius: 0 2px 2px 2px;
		display: block;
		border: none;
		text-align: left;
	}
	#board_tabs li.active, .tabs li.active,
	#board_tabs li.active a, .tabs li.active a {
		background: #ccc;
		color: #222;
	}
	#board_tabs li:hover, .tabs li:hover, #board_tabs li:hover a, .tabs li:hover a{
		background: #9ab;
		color: #fff;
	}
	#board_tabs li.active:hover,#board_tabs li.active:hover a {
		background: #888;
		color: #def;
	}
	#cat_div_parent {
		border: solid 1px #ddd;
		padding: 0 1em;
		margin: 1em 0 5px 0;
		border-radius: 5px;
	}
	.label_online, .label_offline {
		width: 12px;
		border-radius: 12px;
		height: 12px;
		background: #6d3;
		display: block;
	}
	.label_offline {
		background: #eee;
	}
	.label_online b, .label_offline b { display: none; }
	.label_online a, .label_offline a { text-decoration: none; }
	.avatar { width: 100%; }
	.overlay_avatar {
		position: relative;
		margin: -76px 75% 0 25%;
	}
	.comment_avatar img{
		width: 40px;
		border-radius: 30px;
	}
	.mini_avatar{
		width: 20px;
		vertical-align: middle;
		margin:5px 0 0 5px;
		background-size: contain;
		height: 20px;
		border-radius: 20px;
	}
	.roundavatar {
		height: 40px;
		border-radius: 40px;
		vertical-align: middle;
		margin-left: 8px;
	}
	.bigtext{
		font-size: 3em;
		font-family: 'beatnik_sfregular', Verdana, sans-serif;
		display: block;
		padding: 14px 0 20px 0;
		color: #999;
	}
	#comments { padding-top: 1em; }
	.show_part, .hide_part {
		width: 18px;
		height: 18px;
		background: url(../images/theme/icons.png) no-repeat 0 0;
		cursor: pointer;
		display: block;
	}
	.show_part { background: url(../images/theme/icons.png) no-repeat -50px 0; 	}
	.toggle_on, .toggle_off {
		width: 30px;
		height: 22px;
		display: inline-block;
		background: url(../images/theme/icons.png) no-repeat 0 -50px;
	}
	.toggle_off { 		background: url(../images/theme/icons.png) no-repeat -50px -50px; }
	.new2,.new, .new_style {
		text-transform: uppercase;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
        background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
        background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
        background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
        background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
        background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
        
        background-color:#ffec64;
        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        
        border:1px solid #ffaa22;
        
        display:inline-block;
        color:#333333;
        font-family:arial;
        font-size:11px;
        font-weight:bold;
		line-height: 26px;
        padding: 0 14px;
        text-decoration:none;
        
       
    }
	.blue , a.new_style{ background: #ddd; border: none; }
	.new a { text-decoration: none; }
	a.new_style  {	text-decoration: none; }
	a.new:hover, a.blue:hover, a.new_style:hover { background: #888; color: white; }

/* ########################## */
/* upshrink icons												*/
/* ########################## */

	.upshrink_down, .upshrink_up, .upshrink_none {
		clear: left;
		display: block;
		width: 17px;
		height: 17px;
		background: url(../images/theme/icons.png) no-repeat 0px 0px;
		cursor: pointer;
		opacity: 1;
		margin: 4px 1em 0 0;
	}
	.upshrink_down { background: url(../images/theme/icons.png) no-repeat -50px 0px;	}
	.upshrink_none { background: none; }
	.upshrink_down:hover, .upshrink_up:hover { opacity: 0.5;	}
/* ########################## */
/* header styles												*/
/* ########################## */

	/* main header on all pages, override if needed  */
	.mainheader {
		padding: 0.5em 1em;
		background: url(../images/theme/headerbg.png) repeat-x;
		color: #444;
		border: solid 1px #ccc;
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 15px;
		border-radius: 5px;
		vertical-align: bottom;
	}
	.mainheader a { color: #556; 	}
	.header_collapsed { border-bottom: solid 1px #ddd; }
	/* a lesser header  */
	.subheader {
		padding: 0.5em 1em;
		background: white;
		color: #444;
		border: solid 1px #ccc;
		font-size: 1em;
		font-weight: bold;
		border-radius: 5px;
	}
	.drophead {
		padding: 0 1.5em 0.7em 1.5em;
	}
	/* used in smaller table-like headers */
	.headertexts {
		padding: 0.5em 1em;
		background: url(../images/theme/headerbg.png) repeat-x;
		color: #444;
		border: solid 1px #ccc;
		border-bottom: none;
		font-size: 1em;
		font-weight: bold;
		border-radius: 5px 5px 0 0;
	}
	.table_grid  { padding: 0; border: solid 1px #ccc; }
	.headertexts a { color: #778; text-decoration: none; }
	.headertexts a:hover { color: #0487be; text-decoration: none; }
	.headertexts input { margin:  0 0 2px 0; padding: 0; font-size: 0.8em; display: block; }
	/* area below headers, for info etc. */
	.headerarea, .headerarea2 {
		padding: 0.7em 1em 1em 1em;
		border: solid 1px #ccc;
		margin: 0 0 5px 0;
		background: #fff;
		font-size: 0.85em;
	}
	/* second area below headers, usually a bit lighter  */
	.headerarea2 {
		color: #778;
		background: #f6f9ff;
	}
	/* this header is bit different, seeing as blogs have less elements */
	.blogheader {
		font-size: 24px;
		font-family: "CuprumFFURegular", Georgia, serif;
		line-height: 1.2em;
		margin: 0.3em 0;
	}
	.textheader2 {
		font-size: 28px;
		font-family: "beatnik_sfregular", Georgia, serif;
		padding: 0 0 10px 0;
		line-height: 1.2em;
	}
	.textheader {
		color: #888;
		font-size: 28px;
		font-family: "Trebuchet MS", Arial, sans-serif;
		margin-bottom: 6px;
		line-height: 1.2em;
	}
	.textheader a { color: #888; }
	.newsheader {
		background: #555;
		color: #ccc;
		margin: 0 0 5px 0;
		text-transform: uppercase;
		font-weight: bold;
	}
	.newsheader a {
		display: inline-block;
		padding: 0.7em 1.5em;
		color: #ddd;
		text-decoration: none;
	}
	.newsheader a:hover {
		background: #999;
		text-decoration: none;
	}
	.newsheader a.active {
		color: #fff;
	}
	.info, .info_approve {
		color: #666;
		background: #f6faf8;
		padding: 0.7em 1.5em;
		border: solid 1px #d6dad8;
		margin: 0.2em 0;
	}
	.info_approve {
		color: #846;
		background: #fff0f4;
	}
	.info2 {
		font-weight: bold;
		color: #555;
		background: #faf3f0;
		padding: 0.5em 1.5em;
		border: solid 1px #dad3d0;
		margin: 0.2em 0;
	}
	.sectionheader {
		background: #f5f5f5;
		color: #aaa;
		font-size: 1.2em;
		text-transform: uppercase;
		padding: 10px 15px;
		margin: 1px 0;
		display: block;
	}
	.roundbox {
		display: inline-block;
		padding: 10px 15px;
		border: solid 1px #aaa;
		background: #fff;
		cursor: pointer;
		margin: 4px 0;
	}
	.roundbox:hover, .roundbox:active{
		border: solid 1px #555;
		color: #fff;
		background: #555;
		text-decoration:  none;
	}

/* ########################## */
/* pagelinks												*/
/* ########################## */

	/* pagelinks styling, background and content */
	.pagelinks {
		padding: 0.5em 0;
		margin: 0 0 5px 0;

		color: #999;
		font-size:0.8em;
		text-transform: uppercase;
	}
	.round_number, .navPages, .button_submit{
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		-webkit-border-top-left-radius:4px;
		-moz-border-radius-topleft:4px;
		border-top-left-radius:4px;
		-webkit-border-top-right-radius:4px;
		-moz-border-radius-topright:4px;
		border-top-right-radius:4px;
		-webkit-border-bottom-right-radius:4px;
		-moz-border-radius-bottomright:4px;
		border-bottom-right-radius:4px;
		-webkit-border-bottom-left-radius:4px;
		-moz-border-radius-bottomleft:4px;
		border-bottom-left-radius:4px;
		text-indent:0px;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		font-style:normal;
		height:30px;
		line-height:30px;
		width:38px;
		text-decoration:none;
		text-align:center;
		cursor: pointer;
	}
	.button_submit { width: auto; line-height: 15px; padding: 0 1em;}
	.button_submit { padding-left: 1em; padding-right: 1em; }
	strong.navPages, .navPages:hover, .button_submit:hover {
		-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
		-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
		box-shadow:inset 0px 1px 0px 0px #97c4fe;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
		background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
		background-color:#3d94f6;
		-webkit-border-top-left-radius:4px;
		-moz-border-radius-topleft:4px;
		border-top-left-radius:4px;
		-webkit-border-top-right-radius:4px;
		-moz-border-radius-topright:4px;
		border-top-right-radius:4px;
		-webkit-border-bottom-right-radius:4px;
		-moz-border-radius-bottomright:4px;
		border-bottom-right-radius:4px;
		-webkit-border-bottom-left-radius:4px;
		-moz-border-radius-bottomleft:4px;
		border:1px solid #337fed;
		color:#ffffff;
	}
	.button_submit:hover { width: auto; }
	a.button_submit {
		height: auto;
		line-height: 1.6em;
		padding: 1em 1.5em;
		text-decoration: none;
	}
/* ########################## */
/* windowbg styles												*/
/* ########################## */

	/* first, the normal display areas, alternating styles */
	.windowbg, .windowbg2, .approvebg, .approvebg2, .windowbg3, .windowbg4 {
		padding: 0.7em 1em 1em 1em;
		border: solid 1px #ccc;
		margin: 0 0 15px 0;
	}
	tr.windowbg td, tr.windowbg2 td,th.windowbg td, th.windowbg2 td, th.windowbg3 td{
		padding: 4px 10px;
	}
	.windowbg2 { background: #fafaff;	}
	.windowbg { background: #fff; }
	.windowbg3 { background: #fff; }
	.windowbg4, .windowbg4 a, .windowbg4 .breadcrumb_style {  color: #567;}
	.windowbg4 .breadcrumb_style { opacity: 0.7;}
	.bxwindows {
		margin: 0;
		border-top: 0;
	}
	.bxwindows_first {
		margin: 0;
	}
	.cats { margin-top: 0.5em; }
	/* we also got sticky styles, and locked..and not approved */
	.sticky_corner, .approved_corner {
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 15px 15px 0 0;
		border-color: #82ad00 transparent transparent transparent;
		display: block;
		position: absolute;
		margin: -0.7em 0 0 -0.7em;
	}
	.approved_corner {
		border-color: #ad0000 transparent transparent transparent;
	}
	.approvebg {
	}
	.approvebg2 {
	}
	/* a special background style */
	.wall {
		border-radius: 4px;
		border: solid 1px #ccd;
		padding: 1em;
		margin: 0.4em 0;
		background: #f8f8fb;
	}
	.content {
	}
	#admarea .windowbg, #admarea .windowbg2 {
	}
	#admarea #oldpresetpreview .windowbg, #admarea #oldpresetpreview .windowbg2 {
	}
	.blogauthor {
		background: #f6f8fa;
		padding: 0.5em 1em;
	}

/* ########################## */
/* on/off/redirect styles												*/
/* ########################## */

	.on, .off, .on2 { width: 50px; height: 50px; display: block; margin: 0px auto; text-decoration: none; }
	.off{ background: url(../images/theme/off.png) no-repeat;  }
	.on{ background: url(../images/theme/on.png) no-repeat;  }
	.on2{ background: url(../images/theme/on2.png) no-repeat;  }
	.redirect{ background: url(../images/theme/redirect.png) no-repeat;  }
	.on:hover,.off:hover, .redirect:hover, .on2:hover { opacity: 0.6; text-decoration: none; }
	.smallonoff { display: inline-block; margin: 0 1em; width: 12px; height: 12px;  }

/* ########################## */
/* message icons												*/
/* ########################## */

	span.messicons{
		width: 24px;
		height: 24px;
		display: inline-block;
	}
	.messicons span{ position: absolute; left: -9999em;}
	span.mess_wink { background: url(../images/theme/icons.png) 0 -100px no-repeat; }
	span.mess_angry { background: url(../images/theme/icons.png) -24px -100px no-repeat; }
	span.mess_smiley { background: url(../images/theme/icons.png) -48px -100px no-repeat; }
	span.mess_sad { background: url(../images/theme/icons.png) -72px -100px no-repeat; }
	span.mess_cheesy { background: url(../images/theme/icons.png) -96px -100px no-repeat; }
	span.mess_clip { background: url(../images/theme/icons.png) -145px -100px no-repeat; }
	span.mess_grin { background: url(../images/theme/icons.png) -169px -100px no-repeat; }

	span.mess_xx { background: url(../images/theme/icons.png) 0 -124px no-repeat; }
	span.mess_lamp { background: url(../images/theme/icons.png) -25px -124px no-repeat; }
	span.mess_exclamation { background: url(../images/theme/icons.png) -48px -124px no-repeat; }
	span.mess_question { background: url(../images/theme/icons.png) -72px -124px no-repeat; }
	span.mess_moved { background: url(../images/theme/icons.png) -96px -124px no-repeat; }
	span.mess_recycled { background: url(../images/theme/icons.png) -120px -124px no-repeat; }
	span.mess_wireless { background: url(../images/theme/icons.png) -144px -124px no-repeat; }
	span.mess_thumbup { background: url(../images/theme/icons.png) -168px -124px no-repeat; }
	span.mess_thumbdown { background: url(../images/theme/icons.png) -120px -100px no-repeat; }

	/* sticky/locked stuff as well*/
	span.mess_sticky { background: url(../images/theme/icons.png) -192px -100px no-repeat; }
	span.mess_lock { background: url(../images/theme/icons.png) -192px -124px no-repeat; }
	span.mess_sticklock { background: url(../images/theme/icons.png) -216px -100px no-repeat; }
	span.mess_poll { background: url(../images/theme/icons.png) -216px -124px no-repeat; }

	/* extra support icons */
	span.mess_issue { background: url(../images/theme/icons.png) 0 -151px no-repeat; }
	span.mess_solved { background: url(../images/theme/icons.png) -24px -151px no-repeat; }
	span.mess_assigned { background: url(../images/theme/icons.png) -48px -151px no-repeat; }
	span.mess_feedback { background: url(../images/theme/icons.png) -72px -151px no-repeat; }

	/* and some progress ones */
	span.mess_prog10 { background: url(../images/theme/icons.png) 0 -175px no-repeat; }
	span.mess_prog20 { background: url(../images/theme/icons.png) -24px -175px no-repeat; }
	span.mess_prog30 { background: url(../images/theme/icons.png) -48px -175px no-repeat; }
	span.mess_prog40 { background: url(../images/theme/icons.png) -72px -175px no-repeat; }
	span.mess_prog50 { background: url(../images/theme/icons.png) -96px -175px no-repeat; }
	span.mess_prog60 { background: url(../images/theme/icons.png) -120px -175px no-repeat; }
	span.mess_prog70 { background: url(../images/theme/icons.png) -144px -175px no-repeat; }
	span.mess_prog80 { background: url(../images/theme/icons.png) -169px -175px no-repeat; }
	span.mess_prog90 { background: url(../images/theme/icons.png) -192px -175px no-repeat; }
	span.mess_prog100 { background: url(../images/theme/icons.png) -216px -175px no-repeat; }

	.inlinebbc {
		display: inline-block;
	}

/* ########################## */
/* specific id styling											*/
/* ########################## */

	#preview_section {
		border: solid 1px #ddd;
		padding: 1em 2em;
		background: #fff;
		margin: 0 0 0 -1.5em;
		-webkit-box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, .3);	
	}
	.membercolumn {
		text-align: center;
	}

/* ########################## */
/* the poll bars */
/* ########################## */

	.bar, .bar_my {
		background: #eee;
		border: solid 1px #fff;
		display: block;
	}
	.bar span{
		background: #feccb1; /* Old browsers */
		background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
		display: block;
		height: 19px;
		margin-bottom: 2px;
	}
	.bar_my span {
		background: #6db3f2; /* Old browsers */
		background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
		display: block;
		height: 19px;
		margin-bottom: 2px;
	}

/* ##########################*/
/* various setting styles
/* ##########################*/
	#board_tabs li, .tabs li , .boardheader {
		display: inline-block;
		padding: 0 12px;
		height: 25px;
		line-height: 25px;
		background: #777;
		cursor: pointer;
		margin: 0 0 0 0;
		font-size: 0.7em;
		text-transform: uppercase;
		list-style: none;
		position: relative;
		z-index: 7;
		color: #f0f0f0;
	}
	#board_tabs li.active, #board_tabs li:hover, .tabs li.active, .tabs li:hover , .boardheader{
		background: #fff;
		color: #444;
	}
	#board_tabs li.active, .tabs li.active, .tabs li:hover {
		background: #fff;
		font-weight: bold;
	}
	#board_tabs li:hover {
		background: #888;
		color: #fff;
	}
	#board_tabs {
		position: relative;
		margin: 0 0 -1px 0px;
		z-index: 5;
	}
	#board_tabs li.active:hover {
		background: #fff;
		color: #458;
	}
	#cat_div_parent {
		background: #fff;
		padding: 1em 2em;
		margin: 0 0 1em 0;
	}
	.boardheader{
		padding: 0;
		display: block;
		border: none;
		text-align: left;
	}
	.label_online, .label_offline, .label_offline_dark {
		width: 12px;
		border-radius: 2px;
		height: 12px;
		background: #6d3;
		display: inline-block;
	}
	.label_offline {
		background: #eee;
	}
	.label_offline_dark {
		background: #555;
	}
	.label_online b, .label_offline b { display: none; }
	.label_online a, .label_offline a { text-decoration: none; }
	.label_current, .label_notcurrent {
		width: 12px;
		border-radius: 12px;
		height: 12px;
		background: #6d3;
		display: inline-block;
	}
	.label_notcurrent {
		background: #ccc;
	}

	.avatar { width: 100%; }
	.overlay_avatar {
		position: relative;
	}
	.comment_avatar img{
		width: 40px;
		margin: 0 10px;
	}
	.mini_avatar{
		width: 20px;
		vertical-align: middle;
		margin:5px 0 0 5px;
		background-size: contain;
		height: 20px;
		border-radius: 20px;
	}
	.roundavatar {
		height: 40px;
		vertical-align: middle;
		margin-left: 8px;
	}
	
	#comments { padding-top: 1em; }




	a#gototop {
		border-radius: 5px 0 0 5px;
		display: block;
		position: fixed;
		bottom: 5rem;
		right: 0;
		z-index: 99;
	}
