/* ########################## */
/* normal styles for the framing + content */
/* ########################## */
	a:link, a:visited{ color: #555; text-decoration: none; }
	a:hover{ text-decoration: underline; cursor: pointer; 	}
	a.new_win:link, a.new_win:visited{
		color: #555;
		text-decoration: none;
	}
	table{ empty-cells: show; }
	html{ background: #fff; }
	body{
		background: #fff;
		font: normal 98%/150% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		margin: 0 auto;
		padding: 0;
	}
	body, td, th, tr{   color: #444;  } 	
	input, button, select, textarea{
		font: 95%/115% 'Segoe UI', Arial, Helvetica, sans-serif;
		color: #000;
		background: #fff;
		border: 1px solid #888;
		padding: 4px;
	}
	select{ padding: 0; 	} 	
	select option{ 	padding: 1px; 	}
	textarea{  font: 100%/130% verdana, Helvetica, sans-serif; }
	input[disabled].input_text{  background-color: #eee; }
	hr, .hrcolor{
		height: 1px;
		border: 0;
		color: #ccc;
		background-color: #ccc;
		margin: 8px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000;
		font-size: 1em;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	fieldset{
		border: 2px groove #fff;
		margin: 10px 0;
	}
	ul.links, ul.links li { margin: 0; padding: 0; list-style: none; }
	ul.links { padding: 0 1em; }
	ul.links li {
		display: block;
		padding: 5px 10px 5px 25px;
		border-bottom: solid 1px #ddd;
		background: url(../images/theme/icons.png) 0 -252px no-repeat;
		
	}
	/* common image styling classes */
	.imgstyle1, .imgstyle { border: solid 1px #ccc; width: 100%; }
	.imgstyle2, .avatar {
		margin: 0 20px 10px 3px;
		border: solid 1px #ccc;
		width: 100%;
	}
	.wall_image {
		width: 60px;
		border-radius: 60px;
	}
	.wall_image_reply {
		width: 40px;
		border-radius: 40px;
	}
	.avatar_full img {
		width: 60px;
		border-radius: 60px;
		margin-top: 10px;
		margin-left: 15%;
	}
	.imgstyle_round {
		width: 100%;
		border-radius: 50px;
	}
	.imgstyle_rounded {
		width: 100%;
		border-radius: 5px;
	}
	.imgstyle3	{
		background: #222;
		padding: 0 0 3em 0;
	}
	.imgingress {
		position: absolute;
		margin: -2.5em 0 0 1em;
		color: #ddd;
		font-size: 0.85em;
	}
	/* used for all submit buttons */
	.button_submit, a.button_submit {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #363636) );
		background:-moz-linear-gradient( center top, #616161 5%, #363636 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#363636');
		background-color:#616161;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		color:#fff;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.7em;
		line-height: 1.7em;
		border: none;
	}
	a.button_submit {
		display: inline-block;
		font-weight: bold;
		line-height: 2.5em;
		font-size: 0.7em;
		text-transform: uppercase;
	}
	.button_submit:hover {
		text-decoration: none;
		background: #487;
		color: white;
	}
/* ########################## */
/* Specific theme styles
/* ########################## */

	#topheader {
		background: #192022;
		color:
		padding: 1em 0 0 0;
		z-index: 2000;
		position: fixed;
		width: 100%;
		top: 0;
		opacity: 1;
	}
	#topheader.blue {
		opacity: 0.95;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	#subtopheader {
		color: #ddd;
		background: #3981ba;
		border-top: solid 1px #444;
		padding: 6em 0 1em 0;
		position: relative;
	}
	#subtopheader a { color: #e0e0e0; }
	.mainwidth { 
		width: 100%; 
		margin: auto; 
	}
	#sidebar_toggle_container {
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 5px;
		float: right;
		margin-top: 4px;
	}
	#rframe { padding-top: 1em; text-align: right;}
	.triangle_right, .triangle_left {
		display: block;
		width: 21px;
		height: 21px;
		background: url(../images/theme/icons.png) no-repeat -100px 0px; 
	}
	.triangle_left {
		background: url(../images/theme/icons.png) no-repeat -150px 0px; 
	}
	/* the special sidebar for users options etc. */
	#sidebar_toggle:hover { cursor: pointer; }
	.showme , .hideme { 
		max-height: 200px; 	
		overflow: hidden;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.hideme { max-height: 0px; }
	#sidebar { padding: 1em 0 0 0; font-size: 0.9em;  }
	ul.qbuttons, ul.qbuttons li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul.qbuttons li { display: inline-block; margin: 0 0 5px 0; }
	ul.qbuttons a, ul.qbuttons input.note { 
		display: block;
		line-height: 3em;
		padding: 0 2em;
		background: #2971aa;
		color: #fff;
		border-radius: 4px;
		text-decoration: none;
		font-size: 0.8em;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
	}
	ul.qbuttons a.active, ul.qbuttons input.note.active { 
		padding: 0 1em;
		font-weight: bold;
	}
	ul.qbuttons a.active, ul.qbuttons input.note.active  { 
		background: #012;
		color: #fff;
	}
	ul.qbuttons a:hover, ul.qbuttons input.note:hover, ul.qbuttons a.active:hover, ul.qbuttons input.note.active:hover { 
		background: #19619a;
	}
	ul.qbuttons a.active:hover, ul.qbuttons a.active:hover, ul.qbuttons input.note.active:hover  { background: #000;	}

	/* trimming this a bit on larger screens*/
	@media only screen and (max-width: 1279px) {
		.mainwidth { 
			width: 95%; 
			margin: auto; 
		}
	}
	@media only screen and (min-width: 1280px) {
		.mainwidth { 
			width: 1200px; 
			margin: auto; 
		}
	}

	#user_section { text-align: right; max-width: 65%;}
	#copyright_section { background: #f7f7f7; height: 40px; line-height: 40px; font-size: 80%; }
	#extrainfo_section { 
		background:#000; 
		color: #bbb;
		padding: 1em 0;
	}
	#bottomfooter {
		background: #f6f6f6;
		border-top: solid 1px #eee;
		text-align: center;
		min-height: 36px;
		padding: 1em 0;
	}
	#bottomfooter a {
		font-weight: bold;
	}
	#main_content {
		padding: 1em 0;
		position: relative;
		clear: both;
		overflow: hidden;
		background: #fff;
	}
	#subtopheader .tp #sidebar { padding: 1em 0 2em 1.5em; font-size: 0.85em;  color: #555;}
	#subtopheader .tp #sidebar a{ color: #447;}
	#guest_form {
		border-radius: 0 0 10px 10px;
		height: 4em;
		display: none;
	}
	#guest_form select{ height: 1.92em;	}
	#guest_form .button_submit{ height: 2.7em;	}

/* ########################## */
/*  menu classes  */
/* ########################## */

	/* the main menu */
	#topmenustyle {
		margin-top: 1em;
		right: 0;
		font-size: 0.8em;
		text-transform: uppercase;
	}
	#topmenustyle li {
		padding: 0;
		margin: 0;
		display: inline-block;
		position: relative;
	}
	#topmenustyle li li { 	display: block; }
	#topmenustyle li a {
		color: #b1b1b1;
		border: solid 1px transparent;
		border-radius: 5px;
		padding: 0 12px;
		margin: 0 5px 0 0;
		line-height: 2em;
		display: block;
		background: none;
	}
	#topmenustyle li ul { 
		top: 2.6em; 
		visibility: hidden;
		z-index: 2;
		padding: 20px 0 .5rem 0;
		position: absolute; 
		margin: 0 auto;
		right: -6px;
		background: #192022;
		-webkit-box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);
        	box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);	
		white-space: nowrap;
		width: 10em;
	}
	#topmenustyle li ul li { 
		width: 100%;
		float: left;
		display: block;
		text-align: right;
	}
	#topmenustyle li ul.subcols1 li { width: 50%; }
	#topmenustyle li ul.subcols1 { width: 20em;}

	#topmenustyle li ul.subcols2 li { width: 33%; }
	#topmenustyle li ul.subcols2 { width: 30em;}

	#topmenustyle li ul.subcols3 li { width: 25%; }
	#topmenustyle li ul.subcols3 { width: 40em;}

	#topmenustyle li ul.subcols4 li { width: 20%; }
	#topmenustyle li ul.subcols4 { width: 50em;}

	#topheader #topmenustyle li ul a { padding: 0 1rem;}
	#topheader #topmenustyle ul.horiz_nav li a.active, #topheader #topmenustyle ul.horiz_nav li a:hover { 
		color: #fff;
	}
	#topheader #topmenustyle ul.horiz_nav li a.active { 
		background: #383838;
	}
	#topmenustyle li:hover ul { 
		visibility: visible; 	
		top:2.2em;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	} 
	#topmenustyle li a { text-decoration: none;  }
	#topmenustyle li a:hover, #topmenustyle li.subsections:hover > a { text-decoration: none; color: #0487be; }
	#topmenustyle ul ul.horiz_nav a { padding: 5px 10px; }
	
	
	.bbc_menu { 
		z-index: 99;
	}
	.bbc_menu div {
		position: relative;
		padding: 5px 10px;
		background: red:
		margin: 0 0 1px 0;
		cursor: pointer;
	}
	.current_plugin {
		font-weight: bold;;

	}
/* ########################## */
/*  calendar css  */
/* ########################## */
	.cal_today, .cal_anyday {
		margin: 20px auto;
		height: 50px;
		width: 50px;
		line-height: 40px;
		text-align: center;
		font-size: 24px;
		color: #555;
		background: white;
		border-radius: 25px;
		border: solid 3px white;
		display: block;
	}
	.cal_today {
		border: solid 3px red;
		color: #000;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
	.have_events {
		border: solid 3px blue;
		color: blue;
		font-weight: bold;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
/* ########################## */
/*  the buttons/links used fro breadcrumbs or inline menus  */
/* ########################## */

	/* the breadcrumb or linktree */
	.breadcrumb, .breadcrumb_style {
		text-transform: uppercase;
		font: normal 0.8em/130% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		color: #878787;
	}
	.breadcrumb {
		padding: 0;
		margin: 0 0 12px 0;
	}
	.breadcrumb li .dividers { font-weight: normal; color: #bbb; }
	.breadcrumb a { color: #666; }
	/* quickbuttons  */
	.quickbuttons ul, .quickbuttons li {
		padding: 0;
		list-style: none;
		margin: 0;
	}
	.quickbuttons { margin: 0 0 0 0; vertical-align: bottom; }
	.quickbuttons li { display: inline-block; }
	.quickbutton_single a, .quickbuttons li a { 
		text-transform: uppercase;
		font-size: 0.7em;
		color: #777;
	}
	.quickbuttons li a { 
		display: block;
		padding: 0 12px;
		margin: 0 0 4px 0;
		line-height: 2.5em;
		background: #f0f0f0;
		border-radius: 5px;
	}
	.quickbuttons li a.chosen,.quickbuttons li a:hover { text-decoration: none; color: #fff; background: #3981ba; }
	.quickbuttons li a.chosen {font-weight: bold; }

/* ########################## */
/* default smilies */
/* ########################## */

	span.smilies{
		display: inline-block;
		width: 20px;
		height: 20px;
		position: relative;
		vertical-align: middle;
		padding-bottom: 2px;
	}
	.smileylink
	{
		opacity: 0.3;
	}
	.smileylink:hover
	{
		opacity:1;
	}
	span.smilies span{ visibility: hidden;}
	span.evil{ background: url(../images/theme/smilies.png) no-repeat 0px 0px; }
	span.cheesy{ background: url(../images/theme/smilies.png) no-repeat 0px -20px;}
	span.rolleyes{ background: url(../images/theme/smilies.png) no-repeat 0px -40px;}
	span.angry{ background: url(../images/theme/smilies.png) no-repeat 0px -60px;}
	span.laugh{ background: url(../images/theme/smilies.png) no-repeat 0px -80px;}
	span.smiley{ background: url(../images/theme/smilies.png) no-repeat 0px -100px;}
	span.wink{ background: url(../images/theme/smilies.png) no-repeat 0px -120px;}
	span.grin{ background: url(../images/theme/smilies.png) no-repeat 0px -140px;}
	span.sad{ background: url(../images/theme/smilies.png) no-repeat 0px -160px;}
	span.shocked{ background: url(../images/theme/smilies.png) no-repeat 0px -180px;}

	span.huh{ background: url(../images/theme/smilies.png) no-repeat -20px 0px;}
	span.embarrassed{ background: url(../images/theme/smilies.png) no-repeat -20px -20px;}
	span.lipsrsealed{ background: url(../images/theme/smilies.png) no-repeat -20px -40px;}
	span.kiss{ background: url(../images/theme/smilies.png) no-repeat -20px -60px;}
	span.cry{ background: url(../images/theme/smilies.png) no-repeat -20px -80px;}
	span.undecided{ background: url(../images/theme/smilies.png) no-repeat -20px -100px;}
	span.up{ background: url(../images/theme/smilies.png) no-repeat -20px -120px;}
	span.down{ background: url(../images/theme/smilies.png) no-repeat -20px -140px;}
	span.tongue{ background: url(../images/theme/smilies.png) no-repeat -20px -160px;}
	span.cool{ background: url(../images/theme/smilies.png) no-repeat -20px -180px;}

/* ########################## */
/* social  */
/* ########################## */

	.social_icons{
		display: inline-block;
		width: 22px;
		height: 22px;
		margin: 0 2px 0 0;
		vertical-align: top;
		opacity: 0.3;
	}
	.social_icons:hover { opacity: 1; text-decoration: none; }
	.facebook_icon { background: url(../images/theme/icons.png) no-repeat 0px -200px; }
	.google_icon { background: url(../images/theme/icons.png) no-repeat -25px -200px;}
	.skype_icon { background: url(../images/theme/icons.png) no-repeat -50px -200px;}
	.rss_icon { background: url(../images/theme/icons.png) no-repeat -75px -200px;}
	.twitter_icon { background: url(../images/theme/icons.png) no-repeat -100px -200px;}
	.website_icon { background: url(../images/theme/icons.png) no-repeat -125px -200px;}
	.email_icon { background: url(../images/theme/icons.png) no-repeat -150px -200px;}
	.profile_icon { background: url(../images/theme/icons.png) no-repeat -175px -200px;}
	.zoom_icon { background: url(../images/theme/icons.png) no-repeat -200px -200px;}
	.youtube_icon { background: url(../images/theme/icons.png) no-repeat -225px -200px; width: 55px; height: 22px;}
	.imdb_icon { background: url(../images/theme/icons.png) no-repeat -300px -200px; width: 55px; height: 22px; opacity: 1; }
	.modify_icon { background: url(../images/theme/icons.png) no-repeat 0px -225px; }
	.next_icon { background: url(../images/theme/icons.png) no-repeat -25px -225px; opacity: 0.7;}
	.prev_icon { background: url(../images/theme/icons.png) no-repeat -50px -225px; opacity: 0.3;}
	.ip_icon { background: url(../images/theme/icons.png) no-repeat -75px -225px; }
	.report_icon { background: url(../images/theme/icons.png) no-repeat -100px -225px; }
	.warning_icon { background: url(../images/theme/icons.png) no-repeat -125px -225px; }
	.cat_icon { background: url(../images/theme/icons.png) no-repeat -150px -225px; }
	.child_icon { background: url(../images/theme/icons.png) no-repeat -150px -225px; }
	.sibling_icon { background: url(../images/theme/icons.png) no-repeat -175px -225px; }
	.delete_icon { background: url(../images/theme/icons.png) no-repeat -225px -225px; }



/* ########################## */
/* social  */
/* ########################## */

	span.arrow {
		display: block;
		width: 22px;
		height: 22px;
		background: url(../images/theme/icons.png) no-repeat -200px 0;
	}

	/* user mentions */
	span.user_mention {
		text-decoration: underline;
		color: #070;
	}

/* ########################## */
/* the css for the Remooz popup */
/* ########################## */

	.remooz-element { cursor:	-moz-zoom-in; }
	.remooz-box { 	position:	absolute; top:	0; left: 	0; background: #fff no-repeat center; z-index: 100; }
	.remooz-loading { background-image: url(../images/remooz/spinner.gif); }
	.remooz-body { width:	 100%; height: 100%; }
	.remooz-box-focus.remooz-type-image .remooz-body { cursor:		-moz-zoom-out; }
	.remooz-box-dragging .remooz-body{ 	cursor:	move; }
	.remooz-btn-close { position: 	absolute; left: 10px; top:	 10px; width: 30px; height: 30px; text-decoration: none; border: 	0; background: url(../images/remooz/closebox.png) no-repeat center; cursor: pointer; }
	.remooz-engine-trident4 .remooz-btn-close { background-image:	url(../images/remooz/closebox.gif); }
	.remooz-title{ position: relative; 	left: 	0; top: 	15px; text-align: 	left; }
	.remooz-title-bg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; z-index:	99; -moz-border-radius: 5px; -webkit-border-radius:	5px; -webkit-box-shadow:	0 0 10px rgba(0, 0, 0, 0.9); }
	.remooz-title-content { position: relative; padding: 5px 15px; color:	#fff; 	z-index: 101; font: 11px/1.5 Verdana, Geneva, Arial, Helvetica, sans-serif; }
	.remooz-engine-trident4 .remooz-title-bg { display: none; }
	.remooz-engine-trident4 .remooz-title-content { background-color: #333; }
	.remooz-title-content h6 { font-size: 1.2em; font-weight: bold; 	color: #eee; }
	.remooz-title-content p { color: #eee; }
	.remooz-type-image img { display: 	block; border: 0; width: 100%; height: 100%; }
	.remooz-bg { position: absolute; width: 	33px; height: 40px; }
	.remooz-bg-n { left: 0; top: -40px; 	width: 100%; background: 	url(../images/remooz/remo_bg_n.png) repeat-x; }
	.remooz-bg-ne { right: -33px; top:	-40px; background: url(../images/remooz/remo_bg_ne.png) no-repeat; }
	.remooz-bg-e { right: -33px; top: 0; height: 100%; background:				url(../images/remooz/remo_bg_e.png) repeat-y; }
	.remooz-bg-se {	right: -33px; bottom: -40px; background: url(../images/remooz/remo_bg_se.png) no-repeat; }
	.remooz-bg-s { left: 0; bottom: -40px; width: 100%; 	background:	 url(../images/remooz/remo_bg_s.png) repeat-x; }
	.remooz-bg-sw { 	left: -33px; bottom:	 -40px; background: url(../images/remooz/remo_bg_sw.png) no-repeat; }
	.remooz-bg-w { left: -33px; top: 0; height: 100%; background: url(../images/remooz/remo_bg_w.png) repeat-y; }
	.remooz-bg-nw { left: -33px; top: -40px; background: url(../images/remooz/remo_bg_nw.png) no-repeat; }
/* ########################## */
/* blog posts css */
/* ########################## */

	#bcontainer {
	}
	.bdate {
		color: #999;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 0.9em;
		display: inline-block;
		text-transform: uppercase;
		line-height: 1.2em;
	}
	.bdate .daydate {
		font-size: 3em;		
		color: #6c97a9;
	}
	.bdate p {
		display: inline-block;
		padding: 0;
		margin: 0 2em 0 0;
	}
	.bdate p span {
		display: block;
	}
	.bdate p span.topdate {
		border-bottom: solid 1px #aaa;
		padding: 0;
		margin: 0;
	}
		
	.imdb_myscore {
		display: inline-block;
		width: 100px;
		background: #eee;
		height: 7px;
		margin: 0 10px 3px 0;
	}
	.imdb_myscore span {
		display: block;
		background: orange;
		height: 7px;
	}
	.imdb {
		background: #f7f7f7;
		border: solid 1px #ddd;
		float: left;
		font-size: 0.9em;
		margin: 1em 0;
		width: 100%;
		color: #333;
	}
	.imdb dl { padding: 1em; }
	.imdb dt {
		width: 20%;
		display: inline-block;
		clear: none;
		text-align: right;
		font-weight: bold;
		color: #777;
		line-height: 1.6em;	
		padding-bottom: 5px;
		margin-bottom: 5px;
		vertical-align: top;
	}
	.imdb dd {
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: solid 1px #ddd;
		line-height: 1.6em;
		width: 60%;
		clear: none;
		padding-left: 0;
		display: inline-block;
		color: #333;
	}
	.topingress {
		background: black;
		color: white;
		width: 32%;
		text-align: center;
		margin: 0 3px;
		position: absolute;
	}
	.img_ingress {
		height: 0;
		line-height: 1.2em;
		width: 100%;
		overflow: hidden;
		display: block;
		background: black;
		font-size: 11px;
		padding: 0;
		opacity: 0.75;
		position: absolute;
		color: white;
		font-weight: bold;
		margin: -10px 0 0 0;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	a.remooz:hover .img_ingress {
		height: 65px;
		margin-top: -71px;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	.ingress {
		font-weight: bold;
		padding: 1em 0 0 0;
	}
/* ########################## */
/* notitifer styles												*/
/* ########################## */

	.notice, .notifier, .notifier_dark, .notice, .noticegrey {
		font-family: arial,sans-serif;
		display: inline-block;	
		min-width: 22px;
		height: 22px;
		border-radius: 22px;
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
		background: #9bb83d;
		font-size: 10px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		line-height: 22px;
		vertical-align: middle;
		margin:0 5px;
	}
	.noticegrey{
		background: #d3d3d3;
		color: #222;
	}
	.notifier_dark { background: #5d7d2e; }
	.notifier a,.notifier_dark a { text-decoration: none; display: block; color: #fff; }
	.notifier:hover, .notifier_dark:hover { background: #444; }
	.new_indicator { width: 7px; height: 7px; background: #8d8; border-radius: 7px; position: absolute; margin: 8px 0 0 -15px; }
	.show_part, .hide_part {
		width: 18px;
		height: 18px;
		background: url(../images/theme/icons.png) no-repeat 0 0;
		cursor: pointer;
		display: block;
	}
	.show_part { background: url(../images/theme/icons.png) no-repeat -50px 0; 	}
	.toggle_on, .toggle_off {
		width: 30px;
		height: 22px;
		display: inline-block;
		background: url(../images/theme/icons.png) no-repeat 0 -50px;
	}
	.toggle_text { display: inline-block; height: 23px; vertical-align: top; }
	.toggle_off { 		background: url(../images/theme/icons.png) no-repeat -50px -50px; }
	.new2,.new, .new_style {
		display: inline-block;
		padding: 4px 10px;
		line-height: 1.3em;
		background: #fdb;
		text-transform: uppercase;
		border-radius: 10px;
		margin: 0 1px 10px 0;
		font-size: 10px;
		text-decoration: none;
	}
	.new2 {
		padding: 2px 6px;
		border-radius: 4px;
		margin: 0 2px 0 2px;
	}
	.newblue { background: #def; }
	.new a { text-decoration: none; }
	a.new_style  {	background: #444; color: white;			text-decoration: none; }
	a.new:hover, a.new_style:hover {	background: #f60; color: white;			text-decoration: none; }
	.mini_avatar{
		width: 20px;
		vertical-align: middle;
		margin:5px 0 0 5px;
		background-size: contain;
		height: 20px;
		border-radius: 20px;
	}

/* ########################## */
/* upshrink icons												*/
/* ########################## */

	.upshrink_down, .upshrink_up, .upshrink_none {
		clear: left;
		display: block;
		width: 17px;
		height: 17px;
		background: url(../images/theme/icons.png) no-repeat 0px 0px;
		cursor: pointer;
		opacity: 1;
		margin: 4px 1em 0 0;
	}
	.upshrink_down { background: url(../images/theme/icons.png) no-repeat -50px 0px;	}
	.upshrink_none { background: none; }
	.upshrink_down:hover, .upshrink_up:hover { opacity: 0.5;	}
	
/* ########################## */
/* header styles												*/
/* ########################## */

	/* main header on all pages, override if needed  */
	.mainheader {
		font: normal 150%/150% "Georgia", serif;
		color: #555;
		margin: 0.5em 0.1em;
		display: block;
	}
	.mainheader a { color: #777; 	}
	.header_collapsed { border-bottom: solid 1px #ddd; }
	/* a lesser header  */
	.subheader {
	}
	/* used in smaller table-like headers */
	.headertexts {
		line-height: 1.4em;
		padding: 8px 10px;
		margin: 1px 0;
		background: #777;
		color: #ddd;
		font-size: 0.7em;
		text-transform: uppercase;
		font-family: arial, sans-serif;
		font-weight: bold;
	}
	.headertexts a { color: #eee; text-decoration: none; }
	.headertexts input { margin:  0 0 2px 0; padding: 0; font-size: 0.8em; display: block; }
	/* area below headers, for info etc. */
	.headerarea {
		color: #777;
		font-size: 0.9em;
		padding: 1em 1em;
		background: #f5f5f5;
	}
	/* second area below headers, usually a bit lighter  */
	.headerarea2 {
		color: #777;
		padding: 1em;
		background: #f8f8f8;
	}
	/* this header is bit different, seeing as blogs have less elements */
	.blogheader {
		font-size: 24px;
		font-family: "CuprumFFURegular", Georgia, serif;
		line-height: 1.2em;
		margin: 0.3em 0;
	}
	.textheader2 {
		font-size: 28px;
		font-family: "beatnik_sfregular", Georgia, serif;
		padding: 0 0 10px 0;
		line-height: 1.2em;
	}
	.textheader {
		color: #888;
		font-size: 28px;
		font-family: "Trebuchet MS", Arial, sans-serif;
		margin-bottom: 6px;
		line-height: 1.2em;
	}
	.textheader a { color: #888; }
	/* and a smaller one */
	.subblogheader {
	}
	/* this one is used isnide admin,profile etc. areas */
	.admheader {
	}
	.info {
		color: #666;
		background: #f6faf8;
		padding: 0.7em 1.5em;
		border: solid 1px #d6dad8;
		margin: 0.2em 0;
	}
	.info2 {
		font-weight: bold;
		color: #555;
		background: #faf3f0;
		padding: 0.5em 1.5em;
		border: solid 1px #dad3d0;
		margin: 0.2em 0;
	}
	.sectionheader {
		background: #f5f5f5;
		color: #aaa;
		font-size: 1.2em;
		text-transform: uppercase;
		padding: 10px 15px;
		margin: 1px 0;
		display: block;
	}
	.roundbox {
		display: inline-block;
		padding: 10px 15px;
		border: solid 1px #ddd;
		border-radius: 5px;
		background: #fff;
		cursor: pointer;
		margin: 5px 0;
	}
	.roundbox:hover, .roundbox:active{
		border: solid 1px #555;
		color: #fff;
		background: #555;
		text-decoration:  none;
	}
/* ########################## */
/* pagelinks												*/
/* ########################## */

	/* pagelinks styling, background and content */
	.pagelinks {
		padding: 0.75em 1em;
		color: #777;
		font-size: 0.8em;
		margin: 2px 0px;
		background: #f0f0f0;
		text-transform: uppercase;
	}
	.round_number, .navPages{
		text-transform: uppercase;
		display: inline-block;
		min-width: 2.3em;
		height: 2.3em;
		border-radius: 1.3em;
		background: #f9f9f9;
		font-size: 10px;
		line-height: 1.3em;
		text-align: center;
		color: #666;
		padding: 5px;
	}
	strong.navPages {
		background: #364;
		color: white;
	}
	.round_number, a.navPages:hover{ background: #ccc; text-decoration: none; }

/* ########################## */
/* admin styles												*/
/* ########################## */

	/* settings of sorts */
	.settings { margin: 0; padding: 0; }
	.settings dt {
		float: left;
		line-height: 1.6em;
		padding: 8px 0.5em 0 0;
		clear: both;
		margin: 0;
		width: 49%;
		vertical-align: top;
		color: #555;
	}
	.settings dd { margin: 0; line-height: 1.6em; clear: right; padding: 5px 0; width: 48%; float: right; }
	.settings dd input { background: white; }
	.settings dd input[type=checkbox] { margin-top: 10px; }
	.settings:after { 
		content:"";
        display:table;
        clear:both;
      }
	  /* a slimmer version on the left */
	.narrow { margin-top: 0; }
	.narrow dt {	width: 25%;  }
	.narrow dd { width: 70%; }
	/* a not-so-slim version on the left */
	.narrow2 { margin-top: 0; }
	.narrow2 dt {	width: 34%;  }
	.narrow2 dd { width: 63%; }
	#error_log td	{
		font-size: 0.9em;
		line-height: 1.4em;
	}
	#error_log .toggle_on {
		width: 15px;
		height: 15px;
		background: url(../images/theme/icons.png) no-repeat -3px -54px;
		margin: 4px 5px 0 0;
		position: relative;
	}
/* ########################## */
/* windowbg styles												*/
/* ########################## */

	/* first, the normal display areas, alternating styles */
	.windowbg, .windowbg0, .windowbg2, .approvebg, .approvebg2, .windowbg3 {
		padding: 0.5em 1em;
	}
	tr.windowbg td, tr.windowbg2 td,th.windowbg td, th.windowbg2 td, th.windowbg3 td{
		padding: 4px 10px;
	}
	.windowbg2 { background: #fff;	}
	.windowbg { background: #f9f9f9; }
	.windowbg3 { background: #ffffff; }
	.windowbg4, .windowbg4 a, .windowbg4 .breadcrumb_style {  color: #0487be;}
	.windowbg4 .breadcrumb_style { opacity: 0.7;}
	/* we also got sticky styles, and locked..and not approved */
	.sticky_corner, .approved_corner {
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 15px 15px 0 0;
		border-color: #82ad00 transparent transparent transparent;
		display: block;
		position: absolute;
		margin: -0.7em 0 0 -0.7em;
	}
	.approved_corner {
		border-color: #ad0000 transparent transparent transparent;
	}
	.approvebg {
	}
	.approvebg2 {
	}
	/* a special background style */
	.wall {
		border-radius: 4px;
		border: solid 1px #ccd;
		padding: 1em;
		margin: 0.4em 0;
		background: #f8f8fb;
	}
	.content {
		border: solid 2px #fff;
		border-radius: 5px;
		padding: 1em 1.5em;
		-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .3);	
		margin: 3px;
	}
	#admarea .windowbg, #admarea .windowbg2 {
		border: solid 1px #ccc;
		border-top: solid 1px #fafafa;
		border-left: solid 1px #fafafa;
		-webkit-box-shadow:  2px 2px 5px 0px rgba(10, 10, 10, .1);
        box-shadow:  2px 2px 5px 0px rgba(10, 10, 10, .1);	
		margin: 5px;
	}
	#admarea #oldpresetpreview .windowbg, #admarea #oldpresetpreview .windowbg2 {
		border: none;
		-webkit-box-shadow:  0;
        box-shadow:  none;	
		margin: 0;
	}
	.blogauthor {
		background: #f6f8fa;
		padding: 0.5em 1em;
	}

/* ########################## */
/* on/off/redirect styles												*/
/* ########################## */

	.on, .off, .on2 { border-radius: 25px; width: 25px; height: 25px; display: block; margin: 5px auto; text-decoration: none; }
	.off{ background: #f0f0f0;  }
	.on{ background: #0487be;  }
	.on2{ background: #24a7de;  }
	.redirect{ background: #ddd;  }
	.on:hover,.off:hover, .redirect:hover, .on2:hover { opacity: 0.6; text-decoration: none; }
	.smallonoff { display: inline-block; margin: 0 1em; width: 12px; height: 12px; border-radius: 6px; }

/* ########################## */
/* slideshow styles												*/
/* ########################## */

	#slideshow{
		height: 800px;
		overflow: hidden;
		position: relative;
		border: solid 2px #fff;
		clear: both;
	}
	#slideshow li{
		width: 100%;
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		text-align: center;
		z-index: 2;
		background: #000;
	}
	#slideshow li img{
		height: 800px;
	}
	#slideshow span{
		display: block;
		height: 40px;
		line-height: 30px;
		font-size: 12px;
		font-weight: bold;
		position: relative;
		margin: -40px 0 0 0;
		background: #333;
		color: white;
		opacity: 0.7;
		z-index: 3;
	}


/* ########################## */
/* message icons												*/
/* ########################## */

	span.messicons{
		width: 24px;
		height: 24px;
		display: inline-block;
	}
	.messicons span{ position: absolute; left: -9999em;}
	span.mess_wink { background: url(../images/theme/icons.png) 0 -100px no-repeat; }
	span.mess_angry { background: url(../images/theme/icons.png) -24px -100px no-repeat; }
	span.mess_smiley { background: url(../images/theme/icons.png) -48px -100px no-repeat; }
	span.mess_sad { background: url(../images/theme/icons.png) -72px -100px no-repeat; }
	span.mess_cheesy { background: url(../images/theme/icons.png) -96px -100px no-repeat; }
	span.mess_clip { background: url(../images/theme/icons.png) -145px -100px no-repeat; }
	span.mess_grin { background: url(../images/theme/icons.png) -169px -100px no-repeat; }

	span.mess_xx { background: url(../images/theme/icons.png) 0 -124px no-repeat; }
	span.mess_lamp { background: url(../images/theme/icons.png) -25px -124px no-repeat; }
	span.mess_exclamation { background: url(../images/theme/icons.png) -48px -124px no-repeat; }
	span.mess_question { background: url(../images/theme/icons.png) -72px -124px no-repeat; }
	span.mess_moved { background: url(../images/theme/icons.png) -96px -124px no-repeat; }
	span.mess_recycled { background: url(../images/theme/icons.png) -120px -124px no-repeat; }
	span.mess_wireless { background: url(../images/theme/icons.png) -144px -124px no-repeat; }
	span.mess_thumbup { background: url(../images/theme/icons.png) -168px -124px no-repeat; }
	span.mess_thumbdown { background: url(../images/theme/icons.png) -120px -100px no-repeat; }

	/* sticky/locked stuff as well*/
	span.mess_sticky { background: url(../images/theme/icons.png) -192px -100px no-repeat; }
	span.mess_lock { background: url(../images/theme/icons.png) -192px -124px no-repeat; }
	span.mess_sticklock { background: url(../images/theme/icons.png) -216px -100px no-repeat; }
	span.mess_poll { background: url(../images/theme/icons.png) -216px -124px no-repeat; }

	/* extra support icons */
	span.mess_issue { background: url(../images/theme/icons.png) 0 -151px no-repeat; }
	span.mess_solved { background: url(../images/theme/icons.png) -24px -151px no-repeat; }
	span.mess_assigned { background: url(../images/theme/icons.png) -48px -151px no-repeat; }
	span.mess_feedback { background: url(../images/theme/icons.png) -72px -151px no-repeat; }

	/* and some progress ones */
	span.mess_prog10 { background: url(../images/theme/icons.png) 0 -175px no-repeat; }
	span.mess_prog20 { background: url(../images/theme/icons.png) -24px -175px no-repeat; }
	span.mess_prog30 { background: url(../images/theme/icons.png) -48px -175px no-repeat; }
	span.mess_prog40 { background: url(../images/theme/icons.png) -72px -175px no-repeat; }
	span.mess_prog50 { background: url(../images/theme/icons.png) -96px -175px no-repeat; }
	span.mess_prog60 { background: url(../images/theme/icons.png) -120px -175px no-repeat; }
	span.mess_prog70 { background: url(../images/theme/icons.png) -144px -175px no-repeat; }
	span.mess_prog80 { background: url(../images/theme/icons.png) -169px -175px no-repeat; }
	span.mess_prog90 { background: url(../images/theme/icons.png) -192px -175px no-repeat; }
	span.mess_prog100 { background: url(../images/theme/icons.png) -216px -175px no-repeat; }

	.inlinebbc {
		display: inline-block;
	}

/* ########################## */
/* specific id styling											*/
/* ########################## */

	#preview_section {
		border: solid 1px #ddd;
		padding: 0 20px 20px 20px;
		background: #f8f8f8;
		border-radius: 5px 0 5px 5px;
	}
	#preview_section .corner_arrow {
		margin: 0 -20px 0 0;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 10px 10px 0;
		border-color: transparent #ddd transparent transparent;
		display: block;
		float: right;
	}
	.membercolumn {
		text-align: center;
		padding-bottom: 1em;
	}

/* ########################## */
/* boarddtypes overide styles												*/
/* ########################## */

	#blogarticle .bbc_h2 {
		font-size: 1.1em;
		display: inline;
		padding: 0;
		margin: 0;
		line-height: 1.5em;
		font-weight: bold;
		font-family: "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
	}


/* ########################## */
/* Youtube styles												*/
/* ########################## */

	.video_container {
		padding: 5px;
		background: white;
		border: solid 2px #ccc;
		display: inline-block;
	}
	.video_shim, .video_shim:hover { 
		background: url(../images/video_shim.png) no-repeat center center; 
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		 -ms-transition: all 2s ease;
		 -o-transition: all 2s ease;
		transition: all 2s ease;
	}
	.video_shim:hover { 
		background: url(../images/video_shim_hover.png) no-repeat center center; 
	}

/* ########################## */
/* This is the editor's playground (textarea for non-wysiwyg, iframe for wysiwyg). */
/* ########################## */

	.editor{
		width: 100%;
		max-width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff;
	}

	.editor, .rich_editor_frame{
		border: 1px solid #808080;
		padding: 10px;
		margin: 0;
	}

	.rich_editor_frame {
	}

/* ########################## */
/* the poll bars */
/* ########################## */

	.bar, .bar_my {
		background: #eee;
		border: solid 1px #fff;
		display: block;
	}
	.bar span{
		background: #feccb1; /* Old browsers */
		background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
		display: block;
		height: 19px;
		margin-bottom: 2px;
	}
	.bar_my span {
		background: #6db3f2; /* Old browsers */
		background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
		display: block;
		height: 19px;
		margin-bottom: 2px;
	}

/* ########################## */
/* the new fader */
/* ########################## */

	#news_fader	{ width: 100%; position:relative;  padding-bottom: 10px; }
	#news_fader .items { display:block; position:absolute; top:0; left:0; z-index:1; width: 100%; overflow: hidden;}
	.toc	{ float: left; z-index:2; margin: 0px 0px 30px 9px; display:block; width:15px; height: 15px; background:#eee;  text-align:center; border-radius: 15px; text-decoration:none; }
	.toc-active { background:#888;  }
	.framebox {
		border: solid 1px #ddd;
	}

/* ##########################*/
/* various setting styles
/* ##########################*/
	#board_tabs li, .tabs li , .boardheader {
		display: inline-block;
		padding: 0 12px;
		height: 25px;
		line-height: 25px;
		background: #f0f0f0;
		border-radius: 2px;
		cursor: pointer;
		margin: 0 1px 10px 0;
		font-size: 0.7em;
		text-transform: uppercase;
		list-style: none;
	}
	#board_tabs li.active, #board_tabs li:hover, .tabs li.active, .tabs li:hover , .boardheader{
		background: #0487be;
		color: #fff;
	}
	#board_tabs li.active, #board_tabs li:hover, .tabs li.active, .tabs li:hover {
		background: #0487be;
		color: #fff;
	}
	.boardheader{
		padding: 0;
		border-radius: 0 2px 2px 2px;
		display: block;
		border: none;
		text-align: left;
	}
	#board_tabs li.active, .tabs li.active {
		background: #888;
		color: #fff;
	}
	#board_tabs li:hover, .tabs li:hover{
		background: #9ab;
		color: #fff;
	}
	#board_tabs li.active:hover {
		background: #888;
		color: #def;
	}
	.label_online, .label_offline {
		font-size: 10px;
		font-weight: bold;
		line-height: 1em;
		text-transform: uppercase;
		border: 2px solid #9fe222;
		background: #dbf7b6; /* Old browsers */
		background: -moz-linear-gradient(top,  #dbf7b6 0%, #b2f341 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbf7b6), color-stop(100%,#b2f341)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #dbf7b6 0%,#b2f341 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #dbf7b6 0%,#b2f341 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #dbf7b6 0%,#b2f341 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #dbf7b6 0%,#b2f341 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf7b6', endColorstr='#b2f341',GradientType=0 ); /* IE6-9 */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		color: #1c8607;
		text-decoration: none;
		padding: 2px 0;
		position: relative;
		display: block;
		width: 70px;
		text-align: center;
	}
	.label_offline {
		border: 2px solid #ddd;
		background: #fff; /* Old browsers */
		background: -moz-linear-gradient(top,  #fff 0%, #eee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fff 0%,#eee 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fff 0%,#eee 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fff 0%,#eee 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ddd',GradientType=0 ); /* IE6-9 */
		color: #888;
	}
	.label_online b, .label_offline b { display: none; }
	.label_online a, .label_offline a { text-decoration: none; }
	.avatar { width: 100%; }
	.overlay_avatar {
		position: relative;
		margin: -76px 75% 0 25%;
	}
	.comment_avatar img{
		width: 40px;
		border-radius: 5px;
	}
	.roundavatar {
		height: 40px;
		border-radius: 5px;
		vertical-align: middle;
		margin-left: 8px;
	}
	
	#comments { padding-top: 1em; }


/* ##########################*/
/* Styles for print media.
/* ##########################*/
	@media print{
		#headerarea	{
			display: none;
		}
		.tborder	{
			border: none;
		}
	}

/* ##########################*/
/* media queries styling       */
/* ##########################*/

	/* up to 480 - smartphones */
	@media only screen and (max-width: 480px) {
		.bwcell1,.bwcell2,.bwcell3,.bwcell4,.bwcell5,.bwcell6,.bwcell7,.bwcell8,
		.bwcell9,.bwcell10,.bwcell11,.bwcell12,.bwcell13,.bwcell14, .bwcell32{
			width: 100%;
		}
	}

	/*  below 350 - mobiles */
	@media only screen and (max-width: 350px) {
	}
	/* the youtube styling */
	#videocont {
		background: #000;
	}
	
	#videolock {
		width: 1200px;
		height: 730px;
	}
	@media only screen and (max-width: 960px) {
		#videolock {
			width: 900px;
			height: 540px;
		}
	}
	@media only screen and (max-width: 760px) {
		#videolock {
			width: 700px;
			height: 420px;
		}
	}
	@media only screen and (max-width: 480px) {
		#videolock {
			width: 400px;
			height: 240px;
		}
	}

	a#gototop {
		border-radius: 5px 0 0 5px;
		display: block;
		position: fixed;
		bottom: 4rem;
		right: 0;
		z-index: 99;
	}
	.bbc_rate2, .bbc_rate3,.bbc_rate4, .bbc_rate5 {
		line-height: 60px;
		position: relative;
		display: block;
		clear: left;
	}
