/* ########################## */
/* normal styles for the framing + content */
/* ########################## */
	a:link, a:visited{ color: #555; text-decoration: none; }
	a:hover{ text-decoration: underline; cursor: pointer; 	}
	a.new_win:link, a.new_win:visited{
		color: #555;
		text-decoration: none;
	}
	table{ empty-cells: show; }
	html{ background: #fff; }
	body{
		background: #fff;
		font: normal 98%/150% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		margin: 0 auto;
		padding: 0;
	}
	body, td, th, tr{   color: #444;  } 	
	input, button, select, textarea{
		font: 95%/115% 'Segoe UI', Arial, Helvetica, sans-serif;
		color: #000;
		background: #fff;
		border: 1px solid #888;
		padding: 4px;
	}
	select{ padding: 0; 	} 	
	select option{ 	padding: 1px; 	}
	textarea{  font: 100%/130% verdana, Helvetica, sans-serif; }
	input[disabled].input_text{  background-color: #eee; }
	hr, .hrcolor{
		height: 1px;
		border: 0;
		color: #ccc;
		background-color: #ccc;
		margin: 8px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000;
		font-size: 1em;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	fieldset{
		border: 2px groove #fff;
		margin: 10px 0;
	}
undefined	/* common image styling classes */
undefined	.imgstyle2, .avatar {
		margin: 0 20px 10px 3px;
		border: solid 1px #ccc;
		width: 100%;
	}
undefined	.avatar_full img {
		width: 60px;
		border-radius: 60px;
		margin-top: 10px;
		margin-left: 15%;
	}
undefined	/* used for all submit buttons */
	.button_submit, a.button_submit {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #363636) );
		background:-moz-linear-gradient( center top, #616161 5%, #363636 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#363636');
		background-color:#616161;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		color:#fff;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.7em;
		line-height: 1.7em;
		border: none;
	}
	a.button_submit {
		display: inline-block;
		font-weight: bold;
		line-height: 2.5em;
		font-size: 0.7em;
		text-transform: uppercase;
	}
	.button_submit:hover {
		text-decoration: none;
		background: #487;
		color: white;
	}
/* ########################## */
/* Specific theme styles
/* ########################## */

	#topheader {
		background: #192022;
		color:
		padding: 1em 0 0 0;
		z-index: 2000;
		position: fixed;
		width: 100%;
		top: 0;
		opacity: 1;
	}
	#topheader.blue {
		opacity: 0.95;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	#subtopheader {
		color: #ddd;
		background: #3981ba;
		border-top: solid 1px #444;
		padding: 6em 0 1em 0;
		position: relative;
	}
	#subtopheader a { color: #e0e0e0; }
	.mainwidth { 
		width: 100%; 
		margin: auto; 
	}
	#sidebar_toggle_container {
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 5px;
		float: right;
		margin-top: 4px;
	}
undefined.triangle_left {
		display: block;
		width: 21px;
		height: 21px;
		background: url(../images/theme/icons.png) no-repeat -100px 0px; 
	}
	.triangle_left {
		background: url(../images/theme/icons.png) no-repeat -150px 0px; 
	}
	/* the special sidebar for users options etc. */
	#sidebar_toggle:hover { cursor: pointer; }
undefined	.hideme { 
		max-height: 200px; 	
		overflow: hidden;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.hideme { max-height: 0px; }
	#sidebar { padding: 1em 0 0 0; font-size: 0.9em;  }
	ul.qbuttons, ul.qbuttons li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul.qbuttons li { display: inline-block; margin: 0 0 5px 0; }
undefined	ul.qbuttons a { 
		display: block;
		line-height: 3em;
		padding: 0 2em;
		background: #2971aa;
		color: #fff;
		border-radius: 4px;
		text-decoration: none;
		font-size: 0.8em;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
	}
undefined	ul.qbuttons a.active { 
		padding: 0 1em;
		font-weight: bold;
	}
undefined	ul.qbuttons a.active  { 
		background: #012;
		color: #fff;
	}
undefinedundefined	ul.qbuttons a:hover, ul.qbuttons a.active:hover { 
		background: #19619a;
	}
undefined	ul.qbuttons a.active:hover, ul.qbuttons a.active:hover  { background: #000;	}

	/* trimming this a bit on larger screens*/
	@media only screen and (max-width: 1279px) {
		.mainwidth { 
			width: 95%; 
			margin: auto; 
		}
	}
	@media only screen and (min-width: 1280px) {
		.mainwidth { 
			width: 1200px; 
			margin: auto; 
		}
	}

	#user_section { text-align: right; max-width: 65%;}
undefined	#bottomfooter {
		background: #f6f6f6;
		border-top: solid 1px #eee;
		text-align: center;
		min-height: 36px;
		padding: 1em 0;
	}
	#bottomfooter a {
		font-weight: bold;
	}
	#main_content {
		padding: 1em 0;
		position: relative;
		clear: both;
		overflow: hidden;
		background: #fff;
	}
undefined
/* ########################## */
/*  menu classes  */
/* ########################## */

	/* the main menu */
	#topmenustyle {
		margin-top: 1em;
		right: 0;
		font-size: 0.8em;
		text-transform: uppercase;
	}
	#topmenustyle li {
		padding: 0;
		margin: 0;
		display: inline-block;
		position: relative;
	}
	#topmenustyle li li { 	display: block; }
	#topmenustyle li a {
		color: #b1b1b1;
		border: solid 1px transparent;
		border-radius: 5px;
		padding: 0 12px;
		margin: 0 5px 0 0;
		line-height: 2em;
		display: block;
		background: none;
	}
	#topmenustyle li ul { 
		top: 2.6em; 
		visibility: hidden;
		z-index: 2;
		padding: 20px 0 .5rem 0;
		position: absolute; 
		margin: 0 auto;
		right: -6px;
		background: #192022;
		-webkit-box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);
        	box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);	
		white-space: nowrap;
		width: 10em;
	}
	#topmenustyle li ul li { 
		width: 100%;
		float: left;
		display: block;
		text-align: right;
	}
undefined
undefined
undefined
undefined
	#topheader #topmenustyle li ul a { padding: 0 1rem;}
	#topheader #topmenustyle ul.horiz_nav li a.active, #topheader #topmenustyle ul.horiz_nav li a:hover { 
		color: #fff;
	}
	#topheader #topmenustyle ul.horiz_nav li a.active { 
		background: #383838;
	}
	#topmenustyle li:hover ul { 
		visibility: visible; 	
		top:2.2em;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	} 
	#topmenustyle li a { text-decoration: none;  }
	#topmenustyle li a:hover, #topmenustyle li.subsections:hover > a { text-decoration: none; color: #0487be; }
	#topmenustyle ul ul.horiz_nav a { padding: 5px 10px; }
	
	
	.bbc_menu { 
		z-index: 99;
	}
undefined/* ########################## */
/*  calendar css  */
/* ########################## */
	.cal_today, .cal_anyday {
		margin: 20px auto;
		height: 50px;
		width: 50px;
		line-height: 40px;
		text-align: center;
		font-size: 24px;
		color: #555;
		background: white;
		border-radius: 25px;
		border: solid 3px white;
		display: block;
	}
	.cal_today {
		border: solid 3px red;
		color: #000;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
	.have_events {
		border: solid 3px blue;
		color: blue;
		font-weight: bold;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
/* ########################## */
/*  the buttons/links used fro breadcrumbs or inline menus  */
/* ########################## */

	/* the breadcrumb or linktree */
	.breadcrumb, .breadcrumb_style {
		text-transform: uppercase;
		font: normal 0.8em/130% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		color: #878787;
	}
	.breadcrumb {
		padding: 0;
		margin: 0 0 12px 0;
	}
	.breadcrumb li .dividers { font-weight: normal; color: #bbb; }
	.breadcrumb a { color: #666; }
	/* quickbuttons  */
	.quickbuttons ul, .quickbuttons li {
		padding: 0;
		list-style: none;
		margin: 0;
	}
	.quickbuttons { margin: 0 0 0 0; vertical-align: bottom; }
	.quickbuttons li { display: inline-block; }
	.quickbutton_single a, .quickbuttons li a { 
		text-transform: uppercase;
		font-size: 0.7em;
		color: #777;
	}
	.quickbuttons li a { 
		display: block;
		padding: 0 12px;
		margin: 0 0 4px 0;
		line-height: 2.5em;
		background: #f0f0f0;
		border-radius: 5px;
	}
	.quickbuttons li a.chosen,.quickbuttons li a:hover { text-decoration: none; color: #fff; background: #3981ba; }
	.quickbuttons li a.chosen {font-weight: bold; }

/* ########################## */
/* default smilies */
/* ########################## */

	span.smilies{
		display: inline-block;
		width: 20px;
		height: 20px;
		position: relative;
		vertical-align: middle;
		padding-bottom: 2px;
	}
	.smileylink
	{
		opacity: 0.3;
	}
	.smileylink:hover
	{
		opacity:1;
	}
	span.smilies span{ visibility: hidden;}
undefined	span.cheesy{ background: url(../images/theme/smilies.png) no-repeat 0px -20px;}
	span.rolleyes{ background: url(../images/theme/smilies.png) no-repeat 0px -40px;}
	span.angry{ background: url(../images/theme/smilies.png) no-repeat 0px -60px;}
undefined	span.smiley{ background: url(../images/theme/smilies.png) no-repeat 0px -100px;}
	span.wink{ background: url(../images/theme/smilies.png) no-repeat 0px -120px;}
	span.grin{ background: url(../images/theme/smilies.png) no-repeat 0px -140px;}
	span.sad{ background: url(../images/theme/smilies.png) no-repeat 0px -160px;}
	span.shocked{ background: url(../images/theme/smilies.png) no-repeat 0px -180px;}

	span.huh{ background: url(../images/theme/smilies.png) no-repeat -20px 0px;}
	span.embarrassed{ background: url(../images/theme/smilies.png) no-repeat -20px -20px;}
	span.lipsrsealed{ background: url(../images/theme/smilies.png) no-repeat -20px -40px;}
	span.kiss{ background: url(../images/theme/smilies.png) no-repeat -20px -60px;}
	span.cry{ background: url(../images/theme/smilies.png) no-repeat -20px -80px;}
	span.undecided{ background: url(../images/theme/smilies.png) no-repeat -20px -100px;}
undefined	span.tongue{ background: url(../images/theme/smilies.png) no-repeat -20px -160px;}
	span.cool{ background: url(../images/theme/smilies.png) no-repeat -20px -180px;}

/* ########################## */
/* social  */
/* ########################## */

	.social_icons{
		display: inline-block;
		width: 22px;
		height: 22px;
		margin: 0 2px 0 0;
		vertical-align: top;
		opacity: 0.3;
	}
	.social_icons:hover { opacity: 1; text-decoration: none; }
undefined	.profile_icon { background: url(../images/theme/icons.png) no-repeat -175px -200px;}
undefined	.youtube_icon { background: url(../images/theme/icons.png) no-repeat -225px -200px; width: 55px; height: 22px;}
undefined	.modify_icon { background: url(../images/theme/icons.png) no-repeat 0px -225px; }
	.next_icon { background: url(../images/theme/icons.png) no-repeat -25px -225px; opacity: 0.7;}
	.prev_icon { background: url(../images/theme/icons.png) no-repeat -50px -225px; opacity: 0.3;}
undefined


/* ########################## */
/* social  */
/* ########################## */

	span.arrow {
		display: block;
		width: 22px;
		height: 22px;
		background: url(../images/theme/icons.png) no-repeat -200px 0;
	}

	/* user mentions */
undefined
/* ########################## */
/* the css for the Remooz popup */
/* ########################## */

	.remooz-element { cursor:	-moz-zoom-in; }
undefined/* ########################## */
/* blog posts css */
/* ########################## */

	#bcontainer {
	}
	.bdate {
		color: #999;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 0.9em;
		display: inline-block;
		text-transform: uppercase;
		line-height: 1.2em;
	}
	.bdate .daydate {
		font-size: 3em;		
		color: #6c97a9;
	}
	.bdate p {
		display: inline-block;
		padding: 0;
		margin: 0 2em 0 0;
	}
	.bdate p span {
		display: block;
	}
	.bdate p span.topdate {
		border-bottom: solid 1px #aaa;
		padding: 0;
		margin: 0;
	}
		
undefined/* ########################## */
/* notitifer styles												*/
/* ########################## */

undefinedundefined	.notice, .notice, .noticegrey {
		font-family: arial,sans-serif;
		display: inline-block;	
		min-width: 22px;
		height: 22px;
		border-radius: 22px;
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
		background: #9bb83d;
		font-size: 10px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		line-height: 22px;
		vertical-align: middle;
		margin:0 5px;
	}
	.noticegrey{
		background: #d3d3d3;
		color: #222;
	}
undefined.hide_part {
		width: 18px;
		height: 18px;
		background: url(../images/theme/icons.png) no-repeat 0 0;
		cursor: pointer;
		display: block;
	}
undefined	.toggle_on {
		width: 30px;
		height: 22px;
		display: inline-block;
		background: url(../images/theme/icons.png) no-repeat 0 -50px;
	}
undefined.new {
		display: inline-block;
		padding: 4px 10px;
		line-height: 1.3em;
		background: #fdb;
		text-transform: uppercase;
		border-radius: 10px;
		margin: 0 1px 10px 0;
		font-size: 10px;
		text-decoration: none;
	}
undefined	.mini_avatar{
		width: 20px;
		vertical-align: middle;
		margin:5px 0 0 5px;
		background-size: contain;
		height: 20px;
		border-radius: 20px;
	}

/* ########################## */
/* upshrink icons												*/
/* ########################## */

undefined	
/* ########################## */
/* header styles												*/
/* ########################## */

	/* main header on all pages, override if needed  */
	.mainheader {
		font: normal 150%/150% "Georgia", serif;
		color: #555;
		margin: 0.5em 0.1em;
		display: block;
	}
	.mainheader a { color: #777; 	}
undefined	/* a lesser header  */
	.subheader {
	}
	/* used in smaller table-like headers */
	.headertexts {
		line-height: 1.4em;
		padding: 8px 10px;
		margin: 1px 0;
		background: #777;
		color: #ddd;
		font-size: 0.7em;
		text-transform: uppercase;
		font-family: arial, sans-serif;
		font-weight: bold;
	}
	.headertexts a { color: #eee; text-decoration: none; }
	.headertexts input { margin:  0 0 2px 0; padding: 0; font-size: 0.8em; display: block; }
	/* area below headers, for info etc. */
	.headerarea {
		color: #777;
		font-size: 0.9em;
		padding: 1em 1em;
		background: #f5f5f5;
	}
	/* second area below headers, usually a bit lighter  */
undefined	/* this header is bit different, seeing as blogs have less elements */
	.blogheader {
		font-size: 24px;
		font-family: "CuprumFFURegular", Georgia, serif;
		line-height: 1.2em;
		margin: 0.3em 0;
	}
undefined	/* and a smaller one */
undefined	/* this one is used isnide admin,profile etc. areas */
undefined	.info {
		color: #666;
		background: #f6faf8;
		padding: 0.7em 1.5em;
		border: solid 1px #d6dad8;
		margin: 0.2em 0;
	}
	.info2 {
		font-weight: bold;
		color: #555;
		background: #faf3f0;
		padding: 0.5em 1.5em;
		border: solid 1px #dad3d0;
		margin: 0.2em 0;
	}
undefined	.roundbox {
		display: inline-block;
		padding: 10px 15px;
		border: solid 1px #ddd;
		border-radius: 5px;
		background: #fff;
		cursor: pointer;
		margin: 5px 0;
	}
	.roundbox:hover, .roundbox:active{
		border: solid 1px #555;
		color: #fff;
		background: #555;
		text-decoration:  none;
	}
/* ########################## */
/* pagelinks												*/
/* ########################## */

	/* pagelinks styling, background and content */
	.pagelinks {
		padding: 0.75em 1em;
		color: #777;
		font-size: 0.8em;
		margin: 2px 0px;
		background: #f0f0f0;
		text-transform: uppercase;
	}
undefined	.navPages{
		text-transform: uppercase;
		display: inline-block;
		min-width: 2.3em;
		height: 2.3em;
		border-radius: 1.3em;
		background: #f9f9f9;
		font-size: 10px;
		line-height: 1.3em;
		text-align: center;
		color: #666;
		padding: 5px;
	}
	strong.navPages {
		background: #364;
		color: white;
	}
undefined	a.navPages:hover{ background: #ccc; text-decoration: none; }

/* ########################## */
/* admin styles												*/
/* ########################## */

	/* settings of sorts */
	.settings { margin: 0; padding: 0; }
	.settings dt {
		float: left;
		line-height: 1.6em;
		padding: 8px 0.5em 0 0;
		clear: both;
		margin: 0;
		width: 49%;
		vertical-align: top;
		color: #555;
	}
	.settings dd { margin: 0; line-height: 1.6em; clear: right; padding: 5px 0; width: 48%; float: right; }
	.settings dd input { background: white; }
	.settings dd input[type=checkbox] { margin-top: 10px; }
	.settings:after { 
		content:"";
        display:table;
        clear:both;
      }
	  /* a slimmer version on the left */
	.narrow { margin-top: 0; }
	.narrow dt {	width: 25%;  }
	.narrow dd { width: 70%; }
	/* a not-so-slim version on the left */
undefined	#error_log td	{
		font-size: 0.9em;
		line-height: 1.4em;
	}
	#error_log .toggle_on {
		width: 15px;
		height: 15px;
		background: url(../images/theme/icons.png) no-repeat -3px -54px;
		margin: 4px 5px 0 0;
		position: relative;
	}
/* ########################## */
/* windowbg styles												*/
/* ########################## */

	/* first, the normal display areas, alternating styles */
undefinedundefinedundefinedundefined	.windowbg, .windowbg2 {
		padding: 0.5em 1em;
	}
undefinedundefinedundefined	tr.windowbg td, tr.windowbg2 td{
		padding: 4px 10px;
	}
	.windowbg2 { background: #fff;	}
	.windowbg { background: #f9f9f9; }
undefined	/* we also got sticky styles, and locked..and not approved */
undefined	/* a special background style */
undefined	.content {
		border: solid 2px #fff;
		border-radius: 5px;
		padding: 1em 1.5em;
		-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .3);	
		margin: 3px;
	}
	#admarea .windowbg, #admarea .windowbg2 {
		border: solid 1px #ccc;
		border-top: solid 1px #fafafa;
		border-left: solid 1px #fafafa;
		-webkit-box-shadow:  2px 2px 5px 0px rgba(10, 10, 10, .1);
        box-shadow:  2px 2px 5px 0px rgba(10, 10, 10, .1);	
		margin: 5px;
	}
undefined
/* ########################## */
/* on/off/redirect styles												*/
/* ########################## */

undefinedundefined	.off { border-radius: 25px; width: 25px; height: 25px; display: block; margin: 5px auto; text-decoration: none; }
	.off{ background: #f0f0f0;  }
undefined.off:hover { opacity: 0.6; text-decoration: none; }
undefined
/* ########################## */
/* slideshow styles												*/
/* ########################## */

undefined

/* ########################## */
/* message icons												*/
/* ########################## */

	span.messicons{
		width: 24px;
		height: 24px;
		display: inline-block;
	}
undefined
	span.mess_xx { background: url(../images/theme/icons.png) 0 -124px no-repeat; }
undefined
	/* sticky/locked stuff as well*/
undefined
	/* extra support icons */
undefined
	/* and some progress ones */
undefined
undefined
/* ########################## */
/* specific id styling											*/
/* ########################## */

	#preview_section {
		border: solid 1px #ddd;
		padding: 0 20px 20px 20px;
		background: #f8f8f8;
		border-radius: 5px 0 5px 5px;
	}
undefined	.membercolumn {
		text-align: center;
		padding-bottom: 1em;
	}

/* ########################## */
/* boarddtypes overide styles												*/
/* ########################## */

undefined

/* ########################## */
/* Youtube styles												*/
/* ########################## */

undefined
/* ########################## */
/* This is the editor's playground (textarea for non-wysiwyg, iframe for wysiwyg). */
/* ########################## */

	.editor{
		width: 100%;
		max-width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff;
	}

undefined	.editor{
		border: 1px solid #808080;
		padding: 10px;
		margin: 0;
	}

undefined
/* ########################## */
/* the poll bars */
/* ########################## */

undefined
/* ########################## */
/* the new fader */
/* ########################## */

undefined
/* ##########################*/
/* various setting styles
/* ##########################*/
undefined.label_offline {
		font-size: 10px;
		font-weight: bold;
		line-height: 1em;
		text-transform: uppercase;
		border: 2px solid #9fe222;
		background: #dbf7b6; /* Old browsers */
		background: -moz-linear-gradient(top,  #dbf7b6 0%, #b2f341 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbf7b6), color-stop(100%,#b2f341)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #dbf7b6 0%,#b2f341 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #dbf7b6 0%,#b2f341 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #dbf7b6 0%,#b2f341 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #dbf7b6 0%,#b2f341 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf7b6', endColorstr='#b2f341',GradientType=0 ); /* IE6-9 */
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		color: #1c8607;
		text-decoration: none;
		padding: 2px 0;
		position: relative;
		display: block;
		width: 70px;
		text-align: center;
	}
	.label_offline {
		border: 2px solid #ddd;
		background: #fff; /* Old browsers */
		background: -moz-linear-gradient(top,  #fff 0%, #eee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fff 0%,#eee 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fff 0%,#eee 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fff 0%,#eee 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ddd',GradientType=0 ); /* IE6-9 */
		color: #888;
	}
undefined	.label_offline b { display: none; }
undefined	.avatar { width: 100%; }
	.overlay_avatar {
		position: relative;
		margin: -76px 75% 0 25%;
	}
undefined	
undefined

/* ##########################*/
/* Styles for print media.
/* ##########################*/
	@media print{
undefined	}

/* ##########################*/
/* media queries styling       */
/* ##########################*/

	/* up to 480 - smartphones */
	@media only screen and (max-width: 480px) {
		.bwcell1,.bwcell2,.bwcell3,.bwcell4,.bwcell5,.bwcell6,.bwcell7,.bwcell8,
undefinedundefined		.bwcell10,.bwcell11,.bwcell12,.bwcell13,.bwcell14{
			width: 100%;
		}
	}

	/*  below 350 - mobiles */
	@media only screen and (max-width: 350px) {
	}
	/* the youtube styling */
undefined	
undefined	@media only screen and (max-width: 960px) {
undefined	}
	@media only screen and (max-width: 760px) {
undefined	}
	@media only screen and (max-width: 480px) {
undefined	}

	a#gototop {
		border-radius: 5px 0 0 5px;
		display: block;
		position: fixed;
		bottom: 4rem;
		right: 0;
		z-index: 99;
	}
undefined