/* ########################## */
/* smiley1 smilies */
/* ########################## */

	span.smilies{
		display: inline-block;
		width: 16px;
		height: 16px;
		position: relative;
		vertical-align: middle;
		padding-bottom: 2px;
	}
	.smileylink
	{
		opacity: 0.3;
	}
	.smileylink:hover
	{
		opacity:1;
	}
	span.smilies span{ visibility: hidden;}
	span.evil{ background: url(../images/theme/smilies1.png) no-repeat 0px 0px; }
	span.cheesy{ background: url(../images/theme/smilies1.png) no-repeat 0px -20px;}
	span.rolleyes{ background: url(../images/theme/smilies1.png) no-repeat 0px -40px;}
	span.angry{ background: url(../images/theme/smilies1.png) no-repeat 0px -60px;}
	span.laugh{ background: url(../images/theme/smilies1.png) no-repeat 0px -80px;}
	span.smiley{ background: url(../images/theme/smilies1.png) no-repeat 0px -100px;}
	span.wink{ background: url(../images/theme/smilies1.png) no-repeat 0px -120px;}
	span.grin{ background: url(../images/theme/smilies1.png) no-repeat 0px -140px;}
	span.sad{ background: url(../images/theme/smilies1.png) no-repeat 0px -160px;}
	span.shocked{ background: url(../images/theme/smilies1.png) no-repeat 0px -180px;}

	span.huh{ background: url(../images/theme/smilies1.png) no-repeat -20px 0px;}
	span.embarrassed{ background: url(../images/theme/smilies1.png) no-repeat -20px -20px;}
	span.lipsrsealed{ background: url(../images/theme/smilies1.png) no-repeat -20px -40px;}
	span.kiss{ background: url(../images/theme/smilies1.png) no-repeat -20px -60px;}
	span.cry{ background: url(../images/theme/smilies1.png) no-repeat -20px -80px;}
	span.undecided{ background: url(../images/theme/smilies1.png) no-repeat -20px -100px;}
	span.up{ background: url(../images/theme/smilies1.png) no-repeat -20px -120px;}
	span.down{ background: url(../images/theme/smilies1.png) no-repeat -20px -140px;}
	span.tongue{ background: url(../images/theme/smilies1.png) no-repeat -20px -160px;}
	span.cool{ background: url(../images/theme/smilies1.png) no-repeat -20px -180px;}
