/* ########################## */
/* normal styles for the framing + content */
/* ########################## */

	a:link, a:visited{
		color: #555;
		text-decoration: none;
	}
	a:hover{
		text-decoration: underline;
		cursor: pointer;
	}
	a.new_win:link, a.new_win:visited{
		color: #555;
		text-decoration: none;
	}
	a.new_win:hover{
		text-decoration: underline;
	}
	table{ empty-cells: show; }
	html{ 
		background: url(../images/rite.jpg) fixed top right no-repeat #000;
	}
	body{
		background: url(../images/left.jpg) no-repeat fixed;
		
		font: normal 98%/150% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		margin: 0 auto;
		padding: 0;
	}
	body, td, th, tr{   color: #444;  } 	
	form{
		padding: 0;
		margin: 0;
	}
	input, button, select, textarea{
		font: 95%/115% 'Segoe UI', Arial, Helvetica, sans-serif;
		color: #000;
		background: #fff;
		border: 1px solid #888;
		padding: 4px;
	}
	select{ padding: 0; 	} 	
	select option{
		padding: 1px;
	}
	textarea{  font: 100%/130% verdana, Helvetica, sans-serif; }
	input[disabled].input_text{  background-color: #eee; }
	hr, .hrcolor{
		height: 1px;
		border: 0;
		color: #ccc;
		background-color: #ccc;
		margin: 8px 0;

	}
	h1, h2, h3, h4, h5, h6 {
		color: #000;
		font-size: 1em;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	fieldset{
		border: 2px groove #fff;
		margin: 10px 0;
		padding: 0 1.5em 1em 1.5em;
	}
	fieldset legend{
		font-weight: bold;
		color: #444;
		padding: 2px 9px;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #008;
	}
	a img{  border: 0; }
	strong{  font-weight: bold; }
	em{  font-style: italic; }
	p { padding: 5px; margin: 0; }

/* ########################## */
/* some common classes to help with positioning and styling */
/* ########################## */

	.floatright { float: right; }
	.floatleft {	float: left; }
	.clear {	clear: both; }
	.overflow { overflow: hidden; }
	.smalltext { font-size: 0.75em; }
	.middletext { 	font-size: 0.85em; }
	.largetext {	font-size: 1.4em;  }
	.greytext { color: #689; font-size: 90%; }
	ul.reset, ul.reset li{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul.reset li{
		padding: 5px 0;
		margin: 0;
		list-style: none;
	}
	.help{  cursor: help; }
	.meaction{  color: red; }
	/* Highlighted text - such as search results. */
	.highlight{
		font-weight: bold;
		color: #ff7200 !important;
		font-size: 1.1em;
	}
	/* A more discreet highlight color, for selected membergroups etc. */
	.highlight2{
		background-color: #D1E1EF;
		color: #000 !important;
	}
	/* Sometimes there will be an error when you post */
	.warn_mute, .alert, .error{
		color: red;
	}
	/* Calendar colors for birthdays, events and holidays */
	.birthday{
		color: #920ac4;
	}
	.event{
		color: #078907;
	}
	.holiday{
		color: #000080;
	}
	.warn_moderate{
		color: #ffa500;
	}
	.warn_watch, .success{
		color: green;
	}
	a.moderation_link, a.moderation_link:visited{
		color: red;
		font-weight: bold;
	}
	span.pers_divider{ color: #666; }
	ul.horiz_nav , ul.horiz_nav li { padding: 0; margin: 0; list-style: none; }
	ul.horiz_nav { padding: 2px 0 0 0; }
	ul.horiz_nav li {
		display: inline;
	}
	.vert_list  { margin-top: 0.5em; margin-bottom: 0.5em; }
	.vert_list li { list-style: circle; }
	.post, .personalmessage {
		overflow: hidden;
		padding: 0.5em 0;
		line-height: 1.8em;
		color: #242429;
	}
	ul.links, ul.links li { margin: 0; padding: 0; list-style: none; }
	ul.links { padding: 0 1em; }
	ul.links li {
		display: block;
		padding: 5px 10px 5px 25px;
		border-bottom: solid 1px #ddd;
		background: url(../images/theme/icons.png) 0 -252px no-repeat;
	}
	/* common image styling classes */
	.imgstyle1, .imgstyle { border: solid 1px #ccc; width: 100%; }
	.imgstyle2, .avatar {
		margin: 0 20px 10px 3px;
		border: solid 1px #ccc;
		width: 100%;
	}
	.wall_image {
		width: 60px;
		border-radius: 5px;
	}
	.wall_image_reply {
		width: 40px;
		border-radius: 5px;
	}
	.avatar_full img {
		width: 60px;
		border-radius: 60px;
		margin-top: 10px;
		margin-left: 15%;
	}
	.imgstyle_round {
		width: 100%;
		border-radius: 50px;
	}
	.imgstyle_rounded {
		width: 100%;
		border-radius: 5px;
	}
	.imgstyle3	{
		background: #222;
		padding: 0 0 3em 0;
	}
	.imgingress {
		position: absolute;
		margin: 0;
		padding: 1em;
		color: #fff;
		font-size: 2em;
	}
	/* used for all submit buttons */
	.button_submit, a.button_submit {
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border: none;
		padding-left: 10px;
		padding-right: 10px;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.8em;
		line-height: 1.5em;
		background: #555;
		color: #eee;
	}
	a.button_submit {
		display: inline-block;
		font-weight: bold;
		line-height: 2.5em;
		font-size: 0.8em;
		text-transform: uppercase;
	}
	.button_submit:hover {
		text-decoration: none;
		background: #f93;
	}
	.padding_vert { padding: 1em 0; }
	.padding_horiz { padding: 0 1em; }
	.padding_both { padding: 0.4em 1em; }
	.textcolumns {
		-moz-column-count:2; /* Firefox */
		-webkit-column-count:2; /* Safari and Chrome */
		column-count:2;
		-moz-column-gap:40px; /* Firefox */
		-webkit-column-gap:40px; /* Safari and Chrome */
		column-gap:40px;
		-moz-column-rule:1px solid #ccc; /* Firefox */
		-webkit-column-rule:1px solid #ccc; /* Safari and Chrome */
		column-rule:1px solid #ccc;
	}
	.imageback, 	.imageback a, 	.imageback .post {
		color: white;
		text-shadow: 1px 1px 1px #000000;
		filter: dropshadow(color=#000000, offx=1, offy=1);
	}
	.gcolumn {
		border: solid 1px #eee;
		background: #f7f7f7;
		padding: 1em;
		margin: 5px 0;
	}
	.gleft { margin-right: 0.5em;	}
	.gright { margin-left: 0.5em;	}
	.descr { display: block; font-size: 80%; color: #777; line-height: 1.4em; margin-bottom: 1em; font-style: italic; }
	#topline { border-top: solid 3px orange; }
/* the exif info
	/* user area in display */
	.exif {
		padding: 0.1em;
		font-size: 0.9em;
		float: left;
	}
	.exif dt {
		width: 40%;
		display: inline-block;
		clear: none;
		text-align: right;
		font-weight: bold;
		color: #777;
		line-height: 1em;		
	}
	.exif dd {
		line-height: 1em;
		width: 50%;
		clear: none;
		padding-left: 0;
		display: inline-block;
	}

/* ########################## */
/* All BBC related styles.
/* ########################## */

	/* the popup like tooltip, used for bigger screens */
	.bbc_standard_quote, .bbc_alternate_quote {
		color: #eee;
		overflow: hidden;
		margin: 0px;
		line-height: 1.4em;
	}
	.bbc_standard_quote span.head, .bbc_alternate_quote span.head {
		float: right;
		color: #888;
		text-transform: uppercase;
		padding-right: .5em;
	}
	.bbc_standard_quote span.arrow, .bbc_alternate_quote span.arrow {
		display: none;
	}
	.bbc_standard_quote .inside, .bbc_alternate_quote .inside {
		margin: 0;
		background: #f5f7ff;
		color: #666;
		padding: .6em 1em;
		border: solid 1px #ccc;
	}
	.bbc_alternate_quote .inside {
		margin: 0;
		background: #f9fdff;
		color: #666;
		padding: 1em 1.5em;
	}

	.bbc_code{
		display: block;
		font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
		font-size: small;
		background: #fff;
		line-height: 1.5em;
		padding: 3px 1em;
		overflow: auto;
		white-space: nowrap;
		border: solid 1px #ccc;
		border-top: none;
		/* Show a scrollbar after about 24 lines. */
		max-height: 54em;
	}
	.codeheader, .quoteheader{
		color: #666;
		font-size: 0.7em;
		text-transform: uppercase;
		padding: 0.4em 0.7em;
		background: #f0f0f0;
		border: solid 1px #ccc;
		border-left: solid 15px #ccd;
		font-weight: bold;
	}
	.codeheader{
		background: #f7f7ff;
	}
	.codeoperation{
		font-weight: normal;
	}
	.bbc_link:link, .bbc_link:visited{
		border-bottom: 1px solid #A8B6CF;
	}
	.bbc_link:hover{
		text-decoration: none;
		border-bottom: 1px solid #346;
	}
	.bbc_size{
		line-height: 1.4em;
	}
	.bbc_color a{
		color: inherit;
	}
	.bbc_img{
		border: 0;
	}
	.bbc_table{
		font: inherit;
		color: inherit;
	}
	.bbc_table td{
		font: inherit;
		color: inherit;
		vertical-align: top;
	}
	.bbc_u{
		text-decoration: underline;
	}
	.bbc_list{
		text-align: left;
	}
	.bbc_tt{
		font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	}
	/* empasize tags */
	.bbc_pullquote{
		display: block;
		border: solid 2px #ddd;
		background: #f9f9ff;
		font-size: 1.1em;
		color: #666;
		width: 180px;
		padding: 1em 1.5em;
		margin: 8px;
		font-weight: bold;
	}
	.bbc_pullquote:before { content: "\201C"; }
	.bbc_pullquote:after { content: "\201D"; }
	/* question tag */
	.bbc_question {
		display: block;
		font-style: italic;
		font-size: 1.1em;
		color: #383;
		padding: 0 0 7px 0;
		border: solid 2px #ccc;
		border-radius: 15px;
		background: #fff;
		padding: 10px 15px;
		margin: 10px 0;
		clear: both;
	}
	/* tabualr table */
	table.bbc_tabular {
		border-collapse:separate;
		border-spacing:0;
		margin:0 0 1em;
	}
	table.bbc_tabular { text-align: center; width: 100%;}
	table.bbc_tabular th {
		font-weight:bold;
		line-height:normal;
		padding:0.25em 0.5em;
		text-align:left;
	}
	table.bbc_tabular tbody th,
	table.bbc_tabular td {
		padding:0.25em 0.5em;
		text-align:left;
		vertical-align:top;
	}
	table.bbc_tabular tbody th {
		font-weight:normal;
		white-space:nowrap;
	}
	/* colorset2 */
	.bbc_tablecolorset2, .bbc_tablecolorset2 th, .bbc_tablecolorset2 td {
		border: 1px solid #D4E0EE;
		border-collapse: collapse;
		font-family: "Trebuchet MS", Arial, sans-serif;
		color: #555;
	}
	.bbc_tablecolorset2 caption {
		font-size: 150%;
		font-weight: bold;
		margin: 5px;
	}
	.bbc_tablecolorset2 td, .bbc_tablecolorset2 th {
		padding: 4px;
	}
	.bbc_tablecolorset2 thead th {
		text-align: center;
		background: #E6EDF5;
		color: #4F76A3;
		font-size: 100% !important;
	}
	.bbc_tablecolorset2 tbody th {
		font-weight: bold;
	}
	.bbc_tablecolorset2 tbody tr { background: #FCFDFE; }
	.bbc_tablecolorset2 tbody tr.odd { background: #F7F9FC; }

	.bbc_tablecolorset1 {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: #333; background: #F3F5F7;}
	.bbc_tablecolorset1 caption {text-transform: uppercase;  padding-bottom: 10px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}
	.bbc_tablecolorset1 thead th {background: #3A4856; padding: 15px 10px; color: #fff; text-align: left; font-weight: normal;}
	.bbc_tablecolorset1 tbody, .bbc_tablecolorset1 thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}
	.bbc_tablecolorset1 tbody {border-bottom: 1px solid #EAECEE;}                 
	.bbc_tablecolorset1 tbody td, .bbc_tablecolorset1 tbody th {padding: 10px; background: url("td_back.gif") repeat-x; text-align: left;}
	.bbc_tablecolorset1 tbody tr {background: #fafdff;}
	.bbc_tablecolorset1 tbody tr.odd {background: #e0e2e4;}

	.bbc_tablecolorset3 {
		font: normal 75%/150% Verdana, Arial, Helvetica, sans-serif;
		border-collapse: collapse;
		border: 3px solid #f0f8ff;
		border-top: 5px double #87CEFA;
		border-bottom: 5px double #87CEFA;
	}
	.bbc_tablecolorset3 th {
		font: bold 1.1em/120% Verdana, Arial, Helvetica, sans-serif;
		padding: 5px 10px;
		font-variant: small-caps;
		color: #047;
		font-weight: bold;
		letter-spacing: -1px;
	}
	.bbc_tablecolorset3 thead th {
		border: 1px solid #87CEFA;
		white-space: nowrap;
		background: #F0F8FF;
	}
	.bbc_tablecolorset3 tbody td ,.bbc_tablecolorset3 tbody th {
		padding: 5px 10px;
		background: #fff;
		color: #000;
	}
	.bbc_tablecolorset3 tbody th {
		color: #047;
		font-weight: normal;
		font-variant: normal;
		font-size: 1em;
	}
	.bbc_tablecolorset3 tbody tr.odd {
		border: 1px solid #87CEFA;
	}
	.bbc_tablecolorset3 tbody tr.odd td, .bbc_tablecolorset3 tbody tr.odd th {
		background: #F0F8FF;
	}
	.bbc_tablecolorset3 caption {
		font-family: "Georgia", serif;
		letter-spacing: 5px;
		font-style: italic;
		text-indent: 2em;
		text-transform: uppercase;
		font-size: 150%;
		padding: 10px 0;
		color: #047;
	}

	.bbc_tablecolorset4  {
		font-size:0.9em;
		font-family: Arial, Helvetica, verdana sans-serif;
		background-color:#fff;
		border-collapse: collapse;
	}
	.bbc_tablecolorset4 caption {
		font-size: 25px;
		color: #1ba6b2;
		font-weight: bold;
		padding: 10px;
		margin-bottom: 2px;
	}
	.bbc_tablecolorset4 thead th {
		border-right: 1px solid #fff;
		color:#fff;
		text-align:center;
		padding:2px 8px;
		text-transform:uppercase;
		height:25px;
		background-color: #a3c159;
		font-weight: normal;
	}
	.bbc_tablecolorset4 tbody tr {
		background-color:#fff;
		border-bottom: 1px solid #f0f0f0;
	}
	.bbc_tablecolorset4 tbody td {
		color:#414141;
		padding:8px;
		text-align:left;
	}
	.bbc_tablecolorset4 tbody th {
		text-align:left;
		padding:2px;
	}
	.bbc_post-it {
		/* Background */
		background: #fefdca; /* Old browsers */
		background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefdca), color-stop(100%,#f7f381)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fefdca 0%,#f7f381 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fefdca 0%,#f7f381 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #fefdca 0%,#f7f381 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #fefdca 0%,#f7f381 100%); /* W3C; A catch-all for everything else */
		display: block;
		padding: 25px; 
		font-family: "Times new Roman", serif; 
		font-style: italic;
		font-size:15px; 
		color: #000; 
		width:200px; 
		-moz-box-shadow:2px 2px 7px rgba(33,33,33,.3);
		-webkit-box-shadow: 2px 2px 7px rgba(33,33,33,.3);
		box-shadow: 2px 2px 7px rgba(33,33,33,.3);
		margin: 1em;
		float: right;
	}
	.bbc_post-it h2{
		position: absolute;
		padding: 4px 8px;
		background: #fff;
		opacity: 0.7;
		font-weight: bold;
		margin: -30px 0 5px -45px;
		-moz-box-shadow:1px 1px 3px rgba(33,33,33,.3);
		-webkit-box-shadow: 1px 1px 3px rgba(33,33,33,.3);
		box-shadow: 1px 1px 3px rgba(33,33,33,.3);
		-moz-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	.bbc_h1 {
		font-size: 2em;
		color: #777;
		display: block;
		padding: 5px 0;
		margin: 5px 0;
		font-family: Georgia, serif;
		line-height: 1.2em;
	}
	.bbc_h2 {
		font-size: 1.4em;
		color: #191;
		display: block;
		padding: 5px 0;
		margin: 5px 0;
		font-family: Georgia, serif;
		line-height: 1.2em;
	}
	.bbc_h3 {
		font-size: 0.85em;
		color: #888;
		font-weight: bold;
		text-transform: uppercase;
		display: block;
		padding: 5px 0;
		margin: 5px 0;
		font-family: Georgia, serif;
		line-height: 1em;
	}
	.bbc_lead {
		display: block;
		font-weight: bold;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		border-bottom: dotted 1px #888;
	}
	.bbc_conclusion {
		display: block;
		font-style: italic;
		padding-top: 0.5em;
		margin-top: 0.5em;
		border-top: dashed 1px #ccc;
	}
	.bbc_note {
	}

	.bbc_footnote {
	}
	.bbc_spoiler b,.bbc_spoiler_show b{
		font-weight: bold;
		display: block;
		padding: 4px 10px;
		background: #f0f0f0;
		border: solid 1px #bbb;
		cursor: pointer;
		font-size: 80%;
		text-transform: uppercase;
		color: #777;
	}
	/* this will show the content */
	.bbc_spoiler span,.bbc_spoiler_show span{ 	
		display: none; 
		margin: 0 5px 10px 5px;
		padding: 5px 0 5px 1em;
		color: #007;
		font-size: 90%;
		border-left: solid 2px #ddd;
	}
	.bbc_spoiler_show span{ display: block; }
	.bbc_spoiler_show b{ background: #f0f0ff; }
	.bbc_hiddendata {
		display: inline-block;
		background: red;
		color: white;
		padding: 1em;
		margin: 1em;
	}
	.bbc_rate, .bbc_rate2, .bbc_rate3,.bbc_rate4, .bbc_rate5 {
		width: 60px;
		height: 60px;
		border-radius: 60px;
		background: #385;
		text-align: center;
		line-height: 60px;
		font-size: 1.1em;
		color: white;
		display: block;
	}
	.bbc_rate2 { background: #5a7; }
	.bbc_rate3 { background: none; color: #777; width: auto; }
	.bbc_rate4 { background: #57a; }
	.bbc_rate5 { background: #f93; }
	.largerfont { font-size: 1.4em; font-family: "beatnik_sfregular", sans-serif;}
	.makelink { cursor: pointer; }
	.makelink:hover { opacity: 0.5; }
	span.arrow_up, span.arrow_down, span.arrow_up_dark, span.arrow_down_dark {
		display: inline-block;
		width: 0px;
		height: 0px;
		margin: 0 5px;
		border-style: solid;
		border-width: 0 6px 8px 6px;
		border-color: transparent transparent #fff transparent;
	}
	span.arrow_down {
		border-width: 8px 6px 0 6px;
		border-color: #fff transparent transparent transparent;
	}
	span.arrow_up_dark {
		border-color: transparent transparent #555 transparent;
	}
	span.arrow_down_dark {
		border-width: 8px 6px 0 6px;
		border-color: #555 transparent transparent transparent;
	}
	.scorepanel span {
		float: left;
		margin-right: 1em;
	}
	.votingpanel , .votingpanel_on{
		margin: -20px 0 0 72px;
		visibility: hidden;
		display: block;
		z-index: 999;
		position: absolute;
		text-align: center;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
		transition: all 200ms ease;
		opacity: 0;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background: #284;
		color: white;
	}
	.votingpanel_on{
		opacity: 1;
		visibility: visible;
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
		transition: all 200ms ease;
		width: 100px;
		height: 100px;
		border: solid 1px white;
		border-radius: 50px;
		-moz-box-shadow: 0px 1px 19px rgba(33,33,33,.5);
		-webkit-box-shadow: 0px 1px 19px rgba(33,33,33,.5);
		box-shadow: 0px 1px 19px rgba(33,33,33,.5);
	}
	#voting-area	{ background: #7da; height:5px; width: 70px; margin-left: 15px; display: block;  }
	#voting-slider	{ 
		background: #fff; 
		width: 10px; 
		border-radius: 5px;
		height: 10px;
		margin-top: -3px;
		cursor:pointer; 
	}

/* ########################## */
/* inserted CSS
/* ########################## */
	.insertbg {
		clear: both;
		overflow: hidden;
		background-position:  top center;
		background-repeat: no-repeat;
		margin: 0 0 1em 0; 
	}


/* ########################## */
/* AJAX notification bar
/* ########################## */

	.ajax_on, .ajax_off{
		color: #fff;
		font: bold 14px Arial, sans-serif;
		text-align: center;
		background: #000;
		width: 100%;
		height: 50px;
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		line-height: 50px;
		text-transform: uppercase;
		-webkit-box-shadow:  0px 5px 30px 0px rgba(0, 0, 0, .5);
		box-shadow:  0px 5px 30px 0px rgba(0, 0, 0, .5);
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		 -ms-transition: all 1s ease;
		 -o-transition: all 1s ease;
		transition: all 1s ease;
		opacity: 1;
		padding-top: 10px;
	}

	.ajax_on a, .ajax_off a{
		color: white;
		display: block;
		margin: 0;
		position: absolute;
		text-decoration: none;
	}
	.ajax_off { 
		opacity: 0;
		height: 2px;
		overflow: hidden;
	}

/* ########################## */
/* Styles used by the auto suggest control.
/* ########################## */

	.auto_suggest_div{
		-webkit-box-shadow:  0px 5px 30px 0px rgba(0, 0, 0, .5);
		box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .5);
		border: 1px solid #aaa;
		position: absolute;
		visibility: hidden;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		 -ms-transition: all 1s ease;
		 -o-transition: all 1s ease;
		transition: all 1s ease;
	}
	.auto_suggest_item{
		background-color: #f0f0f0;
		padding: 5px 10px;
	}
	.auto_suggest_item_hover{
		background-color: #555;
		cursor: pointer;
		color: #fff;
		padding: 5px 10px;
	}

/* ########################## */
/* Specific theme styles
/* ########################## */
	
	#sides {
		width: 280px;
		text-align: right;
		padding-top: 20px;
	}
	#rites {
		width: 14%;
	}
	#mains {
		background: white;
		padding: 0 2em;
		overflow: hidden;
	}
	#mtable {
		min-height: 800px;
	}
	#topheader{
		padding: 10px 0 0 0;
		z-index: 3;
		position: relative;
	}
	#mymenu {
		width: 230px;
		position: fixed;
	}
	#mymenu a {
		color: #888;
	}
	#mymenu a.active {
		color: #fff;
		font-weight: bold;
	}
	.mainwidth { 
		width: 100%; 
		margin: auto; 
	}
	#user_section { text-align: right; max-width: 65%;}
	#copyright_section { background: #f7f7f7; height: 40px; line-height: 40px; font-size: 80%; }
	#extrainfo_section { 
		background:#000; 
		color: #bbb;
		padding: 1em 0;
	}
	#bottomfooter {
		text-align: center;
		min-height: 36px;
		color: #999;
		background: #f9f9f9;
		border-top: solid 1px #eee;
		padding: 1em 0;
	}
	#bottomfooter a {
		font-weight: bold;
	}
	#main_content {
		position: relative;
		z-index: 2;
		overflow: hidden;
		clear: both;
		background: #fff;
	}
	#main_content .mainwidth {
		padding: 0 0 2em 0;
	}
	#sidebar_toggle_container {
		display: block;
		width: 20px;
		height: 20px;
		margin-left: 5px;
		float: right;
		margin-top: 4px;
	}
	#rframe { padding-top: 1em; text-align: right;}
	.triangle_right, .triangle_left {
		display: block;
		width: 21px;
		height: 21px;
		background: url(../images/theme/icons.png) no-repeat -100px 0px; 
	}
	.triangle_left {
		background: url(../images/theme/icons.png) no-repeat -150px 0px; 
	}
	/* the special sidebar for users options etc. */
	#sbar {
		position: absolute;
		z-index: 99;
		width: 300px;
		right: 0;
		top: 30px;
	}
	#sidebar_toggle:hover { cursor: pointer; }
	.showme , .hideme {
		position: absolute;
		visibility: auto;
	}
	.hideme {
		visibility: hidden;
	}
	#sidebar { padding: 1em 0 2em 1.5em; font-size: 0.85em;  }
	#guest_form {
		border-radius: 0 0 10px 10px;
		height: 4em;
		display: none;
	}
	#guest_form select{ height: 1.92em;	}
	#guest_form .button_submit{ height: 2.7em;	}

/* ########################## */
/*  menu classes  */
/* ########################## */

	/* the main menu */
	#topmenustyle {
		right: 0;
		font-size: 0.8em;
		letter-spacing: 1px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#topmenustyle li {
		padding: 0;
		margin: 0;
		display: inline-block;
		position: relative;
	}
	#topmenustyle li a {
		color: #505050;
		border-right: solid 1px #666;
		padding: 2px 8px 2px 0;
		margin: 0 5px 0 0;
		line-height: 1em;
		display: block;
	}
	#topmenustyle li:last-of-type a { border-right: none; }
	#topmenustyle li ul { 
		top: 1.2em; 
		visibility: hidden;
		z-index: 2;
		padding: 0px;
		position: absolute; 
		border: solid 2px #666;
		background: #fff;
		margin: 0 auto;
		right: -10px;
		-webkit-box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);	
		white-space: nowrap;
	}
	#topheader #topmenustyle li ul a { line-height: 1.5em; padding: 4px 10px 4px 10px; margin: 0;}
	#topheader #topmenustyle ul.horiz_nav li a.active, #topheader #topmenustyle li ul a:hover { color: #0487be; }
	#topmenustyle li:hover ul { visibility: visible; 	} 
	#topmenustyle li a { text-decoration: none;  }
	#topmenustyle li a:hover, #topmenustyle li.subsections:hover > a { text-decoration: none; color: #0487be; }
	#topmenustyle ul ul.horiz_nav a { padding: 5px 10px; }
	
	/* admin menus */
	#adm_menu {
		margin: 10px 0 40px 0;
	}
	#adm_menu {
		width: 100%; 
		height: 39px; 
		background: #f0f0f0; 
		position: relative;
		font-size: 0.85em;
	}
	#adm_menu .select, #adm_menu .current {margin: 0; padding: 0; list-style: none;}
	#adm_menu li {display: inline; margin: 0; padding: 0; height: auto;}
	#adm_menu .select a, #adm_menu .current a {
		display: block; 
		height: 30px; 
		float: left; 
		background: #f0f0f0; 
		padding: 0px 14px 0px 14px; 
		text-decoration: none; 
		line-height: 30px; 
		white-space: nowrap; 
		border-right: 1px solid #ddd; 
		color: #777;
		border-radius: 5px 5px 0 0;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	* html #adm_menu .select a, * html #adm_menu .current a {
		width: 1px; 
		height: 31px;
	}
	#adm_menu .select a:hover, #adm_menu .select li:hover a {
		background: #536777; 
		cursor: pointer; 
		color: #fff;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .sub {display: none;}
	#adm_menu .current a {
		background: #334757; 
		color: #fff;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .sub li a:hover, #adm_menu .select a:hover .sub li a:hover,#adm_menu .select li:hover .sub li a:hover {
		background: #536777; 
		color: #fff;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .sub_active .current_sub a, #adm_menu .sub_active a:hover {
		background: #334757; 
		color: #fff;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .select li a:hover .sub, #adm_menu .select li:hover .sub {
		display: block; 
		position: absolute; 
		width: 100%;
		top: 30px; 
		left: 0; 
		background: #536777; 
		margin-top: 0; 
		padding: 0 5px 10px 5px; 
		z-index: 3; 
		color: #ddd; 
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .sub, #adm_menu .sub_active {
		margin: 0; 
		padding: 0 5px 10px 5px; 
		list-style: none;
	}
	#adm_menu .sub_active {
		-webkit-box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .3);	
	}
	#adm_menu .sub_active {
		display: block; 
		position: absolute; 
		width: 100%;
		top: 30px; 
		left: 0; 
		background: #334757; 
		margin-top: 0; 
		z-index: 2;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
		padding: 0 5px 15px 5px; 
	}
	* html #adm_menu .sub_active, * html #adm_menu .select a:hover .sub {z-index: -1; margin-top: 0; margin-t\op: 1px;}
	#adm_menu .sub_active a {
		height: 30px; 
		text-decoration: none; 
		line-height: 30px; 
		white-space: nowrap; 
		display: block; 
		float: left; 
		background: #334757; 
		padding: 5px 10px 10px 10px; 
		margin: 0; 
		white-space: nowrap; 
		border: 0; 
		color: #ddd;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .select a:hover .sub li a, #adm_menu .select li:hover .sub li a {
		display: block; 
		background: #536777; 
		padding: 5px 10px 10px 10px; 
		margin: 0; 
		white-space: nowrap; 
		border: 0; 
		color: #ddd; 
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	#adm_menu .chosen { font-weight: bold; color: white; }
	#adm_menu .sub, #adm_menu .sub_active { 		padding: 0 5px 10px 5px;  }
	.bbc_menu { 
		z-index: 99;
	}
	.bbc_menu div {
		position: relative;
		padding: 5px 10px;
		background: red:
		margin: 0 0 1px 0;
		cursor: pointer;
	}
	.current_plugin {
		font-weight: bold;;

	}
/* ########################## */
/*  calendar css  */
/* ########################## */
	.cal_today, .cal_anyday {
		margin: 20px auto;
		height: 50px;
		width: 50px;
		line-height: 40px;
		text-align: center;
		font-size: 24px;
		color: #555;
		background: white;
		border-radius: 25px;
		border: solid 3px white;
		display: block;
	}
	.cal_today {
		border: solid 3px red;
		color: #000;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
	.have_events {
		border: solid 3px blue;
		color: blue;
		font-weight: bold;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
/* ########################## */
/*  the buttons/links used fro breadcrumbs or inline menus  */
/* ########################## */

	/* the breadcrumb or linktree */
	.breadcrumb, .breadcrumb_style {
		text-transform: uppercase;
		font: normal 0.8em/130% "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
		color: #878787;
	}
	.breadcrumb {
		padding: 0;
		margin: 0 0 12px 0;
	}
	.breadcrumb li .dividers { font-weight: normal; color: #bbb; }
	.breadcrumb a { color: #666; }
	/* quickbuttons  */
	.quickbuttons ul, .quickbuttons li {
		padding: 0;
		list-style: none;
		margin: 0;
	}
	.quickbuttons { margin: 0 0 1em 0; vertical-align: bottom; }
	.quickbuttons li { display: inline-block; }
	.quickbutton_single a, .quickbuttons li a { 
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 0.05em;
		color: #777;
	}
	.quickbuttons li a { 
		display: block;
		padding: 0 7px 0 0;
		margin: 0 2px 0 0;
		line-height: 1em;
		border-right: solid 1px #bbb;
	}
	.quickbuttons li a.chosen { color: #222; font-weight: bold; }
	.quickbuttons li:last-of-type a { border-right: none; }

/* ########################## */
/* default smilies */
/* ########################## */

	span.smilies{
		display: inline-block;
		width: 20px;
		height: 20px;
		position: relative;
		vertical-align: middle;
		padding-bottom: 2px;
	}
	.smileylink
	{
		opacity: 0.8;
	}
	.smileylink:hover
	{
		opacity:1;
	}
	span.smilies span{ visibility: hidden;}
	span.evil{ background: url(../images/theme/smilies.png) no-repeat 0px 0px; }
	span.cheesy{ background: url(../images/theme/smilies.png) no-repeat 0px -20px;}
	span.rolleyes{ background: url(../images/theme/smilies.png) no-repeat 0px -40px;}
	span.angry{ background: url(../images/theme/smilies.png) no-repeat 0px -60px;}
	span.laugh{ background: url(../images/theme/smilies.png) no-repeat 0px -80px;}
	span.smiley{ background: url(../images/theme/smilies.png) no-repeat 0px -100px;}
	span.wink{ background: url(../images/theme/smilies.png) no-repeat 0px -120px;}
	span.grin{ background: url(../images/theme/smilies.png) no-repeat 0px -140px;}
	span.sad{ background: url(../images/theme/smilies.png) no-repeat 0px -160px;}
	span.shocked{ background: url(../images/theme/smilies.png) no-repeat 0px -180px;}

	span.huh{ background: url(../images/theme/smilies.png) no-repeat -20px 0px;}
	span.embarrassed{ background: url(../images/theme/smilies.png) no-repeat -20px -20px;}
	span.lipsrsealed{ background: url(../images/theme/smilies.png) no-repeat -20px -40px;}
	span.kiss{ background: url(../images/theme/smilies.png) no-repeat -20px -60px;}
	span.cry{ background: url(../images/theme/smilies.png) no-repeat -20px -80px;}
	span.undecided{ background: url(../images/theme/smilies.png) no-repeat -20px -100px;}
	span.up{ background: url(../images/theme/smilies.png) no-repeat -20px -120px;}
	span.down{ background: url(../images/theme/smilies.png) no-repeat -20px -140px;}
	span.tongue{ background: url(../images/theme/smilies.png) no-repeat -20px -160px;}
	span.cool{ background: url(../images/theme/smilies.png) no-repeat -20px -180px;}

/* ########################## */
/* social  */
/* ########################## */

	.social_icons{
		display: inline-block;
		width: 22px;
		height: 22px;
		margin: 0 2px 0 0;
		vertical-align: top;
		opacity: 0.6;
	}
	.social_icons:hover { opacity: 1; text-decoration: none; }
	.facebook_icon { background: url(../images/theme/icons.png) no-repeat 0px -200px; }
	.google_icon { background: url(../images/theme/icons.png) no-repeat -25px -200px;}
	.skype_icon { background: url(../images/theme/icons.png) no-repeat -50px -200px;}
	.rss_icon { background: url(../images/theme/icons.png) no-repeat -75px -200px;}
	.twitter_icon { background: url(../images/theme/icons.png) no-repeat -100px -200px;}
	.website_icon { background: url(../images/theme/icons.png) no-repeat -125px -200px;}
	.email_icon { background: url(../images/theme/icons.png) no-repeat -150px -200px;}
	.profile_icon { background: url(../images/theme/icons.png) no-repeat -175px -200px;}
	.zoom_icon { background: url(../images/theme/icons.png) no-repeat -200px -200px;}
	.youtube_icon { background: url(../images/theme/icons.png) no-repeat -225px -200px; width: 55px; height: 22px;}
	.imdb_icon { background: url(../images/theme/icons.png) no-repeat -300px -200px; width: 55px; height: 22px; opacity: 1; }
	.modify_icon { background: url(../images/theme/icons.png) no-repeat 0px -225px; }
	.next_icon { background: url(../images/theme/icons.png) no-repeat -25px -225px; opacity: 0.7;}
	.prev_icon { background: url(../images/theme/icons.png) no-repeat -50px -225px; opacity: 0.3;}
	.ip_icon { background: url(../images/theme/icons.png) no-repeat -75px -225px; }
	.report_icon { background: url(../images/theme/icons.png) no-repeat -100px -225px; }
	.warning_icon { background: url(../images/theme/icons.png) no-repeat -125px -225px; }
	.cat_icon { background: url(../images/theme/icons.png) no-repeat -150px -225px; }
	.child_icon { background: url(../images/theme/icons.png) no-repeat -150px -225px; }
	.sibling_icon { background: url(../images/theme/icons.png) no-repeat -175px -225px; }
	.delete_icon { background: url(../images/theme/icons.png) no-repeat -225px -225px; }



/* ########################## */
/* social  */
/* ########################## */

	span.arrow {
		display: block;
		width: 22px;
		height: 22px;
		background: url(../images/theme/icons.png) no-repeat -200px 0;
	}

	/* user mentions */
	span.user_mention {
		text-decoration: underline;
		color: #070;
	}

/* ########################## */
/* the css for the Remooz popup */
/* ########################## */

	.remooz-element { cursor:	-moz-zoom-in; }
	.remooz-box { 	position:	absolute; top:	0; left: 	0; background: #fff no-repeat center; z-index: 100; }
	.remooz-loading { background-image: url(../images/remooz/spinner.gif); }
	.remooz-body { width:	 100%; height: 100%; }
	.remooz-box-focus.remooz-type-image .remooz-body { cursor:		-moz-zoom-out; }
	.remooz-box-dragging .remooz-body{ 	cursor:	move; }
	.remooz-btn-close { position: 	absolute; left: 10px; top:	 10px; width: 30px; height: 30px; text-decoration: none; border: 	0; background: url(../images/remooz/closebox.png) no-repeat center; cursor: pointer; }
	.remooz-engine-trident4 .remooz-btn-close { background-image:	url(../images/remooz/closebox.gif); }
	.remooz-title{ position: relative; 	left: 	0; top: 	15px; text-align: 	left; }
	.remooz-title-bg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; z-index:	99; -moz-border-radius: 5px; -webkit-border-radius:	5px; -webkit-box-shadow:	0 0 10px rgba(0, 0, 0, 0.9); }
	.remooz-title-content { position: relative; padding: 5px 15px; color:	#fff; 	z-index: 101; font: 11px/1.5 Verdana, Geneva, Arial, Helvetica, sans-serif; }
	.remooz-engine-trident4 .remooz-title-bg { display: none; }
	.remooz-engine-trident4 .remooz-title-content { background-color: #333; }
	.remooz-title-content h6 { font-size: 1.2em; font-weight: bold; 	color: #eee; }
	.remooz-title-content p { color: #eee; }
	.remooz-type-image img { display: 	block; border: 0; width: 100%; height: 100%; }
	.remooz-bg { position: absolute; width: 	33px; height: 40px; }
	.remooz-bg-n { left: 0; top: -40px; 	width: 100%; background: 	url(../images/remooz/remo_bg_n.png) repeat-x; }
	.remooz-bg-ne { right: -33px; top:	-40px; background: url(../images/remooz/remo_bg_ne.png) no-repeat; }
	.remooz-bg-e { right: -33px; top: 0; height: 100%; background:				url(../images/remooz/remo_bg_e.png) repeat-y; }
	.remooz-bg-se {	right: -33px; bottom: -40px; background: url(../images/remooz/remo_bg_se.png) no-repeat; }
	.remooz-bg-s { left: 0; bottom: -40px; width: 100%; 	background:	 url(../images/remooz/remo_bg_s.png) repeat-x; }
	.remooz-bg-sw { 	left: -33px; bottom:	 -40px; background: url(../images/remooz/remo_bg_sw.png) no-repeat; }
	.remooz-bg-w { left: -33px; top: 0; height: 100%; background: url(../images/remooz/remo_bg_w.png) repeat-y; }
	.remooz-bg-nw { left: -33px; top: -40px; background: url(../images/remooz/remo_bg_nw.png) no-repeat; }
/* ########################## */
/* blog posts css */
/* ########################## */

	#bcontainer {
	}
	.bdate {
		color: #999;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 0.9em;
		display: inline-block;
		text-transform: uppercase;
		line-height: 1.2em;
	}
	.bdate .daydate {
		font-size: 3em;		
		color: #6c97a9;
	}
	.bdate p {
		display: inline-block;
		padding: 0;
		margin: 0 2em 0 0;
	}
	.bdate p span {
		display: block;
	}
	.bdate p span.topdate {
		border-bottom: solid 1px #aaa;
		padding: 0;
		margin: 0;
	}
		
	.imdb_myscore {
		display: inline-block;
		width: 100px;
		background: #eee;
		height: 7px;
		margin: 0 10px 3px 0;
	}
	.imdb_myscore span {
		display: block;
		background: orange;
		height: 7px;
	}
	.imdb {
		background: #58b;
		color: white;
		float: left;
		font-size: 0.9em;
		margin: -8px 0 0 0;
		width: 100%;
	}
	.imdb dl { padding: 0; }
	.imdb dt {
		width: 20%;
		display: inline-block;
		clear: none;
		text-align: right;
		font-weight: bold;
		color: #cef;
		line-height: 1.6em;	
		padding-bottom: 5px;
		margin-bottom: 5px;
		vertical-align: top;
	}
	.imdb dd {
		color: #fff;
		padding-bottom: 5px;
		margin-bottom: 5px;
		border-bottom: solid 1px #5f8fbf;
		line-height: 1.6em;
		width: 60%;
		clear: none;
		padding-left: 0;
		display: inline-block;
	}
	.topingress {
		background: black;
		color: white;
		width: 32%;
		text-align: center;
		margin: 0 3px;
		position: absolute;
	}
	.img_ingress {
		height: 0;
		line-height: 1.2em;
		width: 100%;
		overflow: hidden;
		display: block;
		background: black;
		font-size: 11px;
		padding: 0;
		opacity: 0.75;
		position: absolute;
		color: white;
		font-weight: bold;
		margin: -10px 0 0 0;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	a.remooz:hover .img_ingress {
		height: 65px;
		margin-top: -71px;
		-webkit-transition: all 100ms ease;
		-moz-transition: all 100ms ease;
		 -ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
		transition: all 100ms ease;
	}
	.ingress {
		font-weight: bold;
		padding: 1em 0 0 0;
	}
/* ########################## */
/* notitifer styles												*/
/* ########################## */

	.notice, .notifier, .notifier_dark, .notice, .noticegrey {
		font-family: arial,sans-serif;
		display: inline-block;	
		min-width: 22px;
		height: 22px;
		border-radius: 22px;
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
		background: #9bb83d;
		font-size: 10px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		line-height: 22px;
		vertical-align: middle;
		margin:0 5px;
	}
	.noticegrey{
		background: #d3d3d3;
		color: #222;
	}
	.notifier_dark { background: #5d7d2e; }
	.notifier a,.notifier_dark a { text-decoration: none; display: block; color: #fff; }
	.notifier:hover, .notifier_dark:hover { background: #444; }
	.new_indicator { width: 7px; height: 7px; background: #8d8; border-radius: 7px; position: absolute; margin: 8px 0 0 -15px; }
	.show_part, .hide_part {
		width: 18px;
		height: 18px;
		background: url(../images/theme/icons.png) no-repeat 0 0;
		cursor: pointer;
		display: block;
	}
	.show_part { background: url(../images/theme/icons.png) no-repeat -50px 0; 	}
	.toggle_on, .toggle_off {
		width: 30px;
		height: 22px;
		display: inline-block;
		background: url(../images/theme/icons.png) no-repeat 0 -50px;
	}
	.toggle_text { display: inline-block; height: 23px; vertical-align: top; }
	.toggle_off { 		background: url(../images/theme/icons.png) no-repeat -50px -50px; }
	.new2,.new, .new_style {
		display: inline-block;
		padding: 4px 10px;
		line-height: 1.3em;
		background: #fdb;
		text-transform: uppercase;
		border-radius: 10px;
		margin: 0 1px 10px 0;
		font-size: 10px;
		text-decoration: none;
	}
	.new2 {
		padding: 2px 6px;
		border-radius: 4px;
		margin: 0 2px 0 2px;
	}
	.newblue { background: #def; }
	.new a { text-decoration: none; }
	a.new_style  {	background: #444; color: white;			text-decoration: none; }
	a.new:hover, a.new_style:hover {	background: #f60; color: white;			text-decoration: none; }

/* ########################## */
/* upshrink icons												*/
/* ########################## */

	.upshrink_down, .upshrink_up, .upshrink_none {
		clear: left;
		display: block;
		width: 17px;
		height: 17px;
		background: url(../images/theme/icons.png) no-repeat 0px 0px;
		cursor: pointer;
		opacity: 1;
		margin: 4px 1em 0 0;
	}
	.upshrink_down { background: url(../images/theme/icons.png) no-repeat -50px 0px;	}
	.upshrink_none { background: none; }
	.upshrink_down:hover, .upshrink_up:hover { opacity: 0.5;	}
/* ########################## */
/* header styles												*/
/* ########################## */
	/* main header on all pages, override if needed  */
	.mainheader, .blogheader, .textheader, .textheader2 {
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #555;
		margin: 0.5em 0.1em;
		display: block;
		font-size: 1.05em;
	}
	.mainheader a, .blogheader a, .textheader a, .textheader2 a { color: #556; 	}
	.header_collapsed { border-bottom: solid 1px #ddd; }
	/* a lesser header  */
	.subheader {
	}
	/* used in smaller table-like headers */
	.headertexts {
		line-height: 1.2em;
		padding: 7px 8px;
		margin: 1px 0;
		background: #f0f0f0;
		color: #777;
		font-size: 0.75em;
		text-transform: uppercase;
		font-weight: bold;
		border-top: solid 1px #bbb;
	}
	.headertexts a { color: #778; text-decoration: none; }
	.headertexts a:hover { color: #0487be; text-decoration: none; }
	.headertexts input { margin:  0 0 2px 0; padding: 0; font-size: 0.8em; display: block; }
	/* area below headers, for info etc. */
	.headerarea {
		border-top: solid 1px #ddd;
		color: #679;
		font-size: 0.9em;
		padding: 0.5em 0;
	}
	/* second area below headers, usually a bit lighter  */
	.headerarea2 {
		color: #777;
		padding: 0.5em 0;
		background: #fff;
	}
	.info {
		color: #666;
		background: #f6faf8;
		padding: 0.7em 1.5em;
		border: solid 1px #d6dad8;
		margin: 0.2em 0;
	}
	.info2 {
		font-weight: bold;
		color: #555;
		background: #faf3f0;
		padding: 0.5em 1.5em;
		border: solid 1px #dad3d0;
		margin: 0.2em 0;
	}
	.sectionheader {
		background: #f5f5f5;
		color: #aaa;
		font-size: 1.2em;
		text-transform: uppercase;
		padding: 10px 15px;
		margin: 1px 0;
		display: block;
	}
	.roundbox {
		display: inline-block;
		padding: 10px 15px;
		border: solid 1px #ddd;
		border-radius: 5px;
		background: #fff;
		cursor: pointer;
		margin: 5px 0;
	}
	.roundbox:hover, .roundbox:active{
		border: solid 1px #555;
		color: #fff;
		background: #555;
		text-decoration:  none;
	}
/* ########################## */
/* pagelinks												*/
/* ########################## */
	/* pagelinks styling, background and content */
	.pagelinks {
		border-top: solid #ddd 1px;
		padding: 0.5em 0;
		color: #999;
		font-size: 0.8em;
		margin: 2px 0px;
		text-transform: uppercase;
	}
	.round_number, .navPages{
		text-transform: uppercase;
		display: inline-block;
		min-width: 2.3em;
		height: 2.3em;
		border-radius: 1.3em;
		background: #f9f9f9;
		font-size: 10px;
		line-height: 1.3em;
		text-align: center;
		color: #666;
		padding: 5px;
	}
	strong.navPages {
		background: #364;
		color: white;
	}
	.round_number, a.navPages:hover{ background: #ccc; text-decoration: none; }

/* ########################## */
/* admin styles												*/
/* ########################## */

	/* settings of sorts */
	.settings { margin: 0; padding: 0; }
	.settings dt {
		float: left;
		line-height: 1.6em;
		padding: 8px 0.5em 0 0;
		clear: both;
		margin: 0;
		width: 49%;
		vertical-align: top;
		color: #555;
	}
	.settings dd { margin: 0; line-height: 1.6em; clear: right; padding: 5px 0; width: 48%; float: right; }
	.settings dd input { background: white; }
	.settings dd input[type=checkbox] { margin-top: 10px; }
	.settings:after { 
		content:"";
        display:table;
        clear:both;
      }
	  /* a slimmer version on the left */
	.narrow { margin-top: 0; }
	.narrow dt {	width: 25%;  }
	.narrow dd { width: 70%; }
	/* a not-so-slim version on the left */
	.narrow2 { margin-top: 0; }
	.narrow2 dt {	width: 34%;  }
	.narrow2 dd { width: 63%; }
	#error_log td	{
		font-size: 0.9em;
		line-height: 1.4em;
	}
	#error_log .toggle_on {
		width: 15px;
		height: 15px;
		background: url(../images/theme/icons.png) no-repeat -3px -54px;
		margin: 4px 5px 0 0;
		position: relative;
	}
/* ########################## */
/* windowbg styles												*/
/* ########################## */

	/* first, the normal display areas, alternating styles */
	.windowbg, .windowbg2, .approvebg, .approvebg2, .windowbg3, .windowbg0 {
		padding: 0.5em 1em;
	}
	tr.windowbg td, tr.windowbg2 td,th.windowbg td, th.windowbg2 td, th.windowbg3 td{
		padding: 4px 10px;
	}
	.windowbg2 { background: #fff;	}
	.windowbg { background: #f9f9f9; }
	.windowbg3 { background: #ffffff; }
	.windowbg4, .windowbg4 a, .windowbg4 .breadcrumb_style {  color: #0487be;}
	.windowbg4 .breadcrumb_style { opacity: 0.7;}
	/* we also got sticky styles, and locked..and not approved */
	.sticky_corner, .approved_corner {
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 15px 15px 0 0;
		border-color: #82ad00 transparent transparent transparent;
		display: block;
		position: absolute;
		margin: -0.7em 0 0 -0.7em;
	}
	.approved_corner {
		border-color: #ad0000 transparent transparent transparent;
	}
	.approvebg {
	}
	.approvebg2 {
	}
	/* a special background style */
	.wall {
		border: solid 1px #ccd;
		padding: 1em;
		margin: 0.4em 0;
		background: #f0f2f6;
	}
	.content {
		border: solid 2px #fff;
		border-radius: 5px;
		padding: 1em 1.5em;
		-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .3);	
		margin: 3px;
	}
	#admarea .windowbg, #admarea .windowbg2 {
		border: solid 1px #ccc;
		border-top: solid 1px #fafafa;
		border-left: solid 1px #fafafa;
		-webkit-box-shadow:  2px 2px 5px 0px rgba(10, 10, 10, .1);
        box-shadow:  2px 2px 5px 0px rgba(10, 10, 10, .1);	
		margin: 5px;
	}
	#admarea #oldpresetpreview .windowbg, #admarea #oldpresetpreview .windowbg2 {
		border: none;
		-webkit-box-shadow:  0;
        box-shadow:  none;	
		margin: 0;
	}
	.blogauthor {
		background: #f6f8fa;
		padding: 0.5em 1em;
	}

/* ########################## */
/* on/off/redirect styles												*/
/* ########################## */

	.on, .off, .on2 { border-radius: 25px; width: 25px; height: 25px; display: block; margin: 5px auto; text-decoration: none; }
	.off{ background: #f0f0f0;  }
	.on{ background: #0487be;  }
	.on2{ background: #24a7de;  }
	.redirect{ background: #ddd;  }
	.on:hover,.off:hover, .redirect:hover, .on2:hover { opacity: 0.6; text-decoration: none; }
	.smallonoff { display: inline-block; margin: 0 1em; width: 12px; height: 12px; border-radius: 6px; }

/* ########################## */
/* slideshow styles												*/
/* ########################## */

	#slideshow{
		height: 800px;
		overflow: hidden;
		position: relative;
		border: solid 2px #fff;
		clear: both;
	}
	#slideshow li{
		width: 100%;
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		text-align: center;
		z-index: 2;
		background: #000;
	}
	#slideshow li img{
		height: 800px;
	}
	#slideshow span{
		display: block;
		height: 40px;
		line-height: 30px;
		font-size: 12px;
		font-weight: bold;
		position: relative;
		margin: -40px 0 0 0;
		background: #333;
		color: white;
		opacity: 0.7;
		z-index: 3;
	}


/* ########################## */
/* message icons												*/
/* ########################## */

	span.messicons{
		width: 24px;
		height: 24px;
		display: inline-block;
	}
	.messicons span{ position: absolute; left: -9999em;}
	span.mess_wink { background: url(../images/theme/icons.png) 0 -100px no-repeat; }
	span.mess_angry { background: url(../images/theme/icons.png) -24px -100px no-repeat; }
	span.mess_smiley { background: url(../images/theme/icons.png) -48px -100px no-repeat; }
	span.mess_sad { background: url(../images/theme/icons.png) -72px -100px no-repeat; }
	span.mess_cheesy { background: url(../images/theme/icons.png) -96px -100px no-repeat; }
	span.mess_clip { background: url(../images/theme/icons.png) -145px -100px no-repeat; }
	span.mess_grin { background: url(../images/theme/icons.png) -169px -100px no-repeat; }

	span.mess_xx { background: url(../images/theme/icons.png) 0 -124px no-repeat; }
	span.mess_lamp { background: url(../images/theme/icons.png) -25px -124px no-repeat; }
	span.mess_exclamation { background: url(../images/theme/icons.png) -48px -124px no-repeat; }
	span.mess_question { background: url(../images/theme/icons.png) -72px -124px no-repeat; }
	span.mess_moved { background: url(../images/theme/icons.png) -96px -124px no-repeat; }
	span.mess_recycled { background: url(../images/theme/icons.png) -120px -124px no-repeat; }
	span.mess_wireless { background: url(../images/theme/icons.png) -144px -124px no-repeat; }
	span.mess_thumbup { background: url(../images/theme/icons.png) -168px -124px no-repeat; }
	span.mess_thumbdown { background: url(../images/theme/icons.png) -120px -100px no-repeat; }

	/* sticky/locked stuff as well*/
	span.mess_sticky { background: url(../images/theme/icons.png) -192px -100px no-repeat; }
	span.mess_lock { background: url(../images/theme/icons.png) -192px -124px no-repeat; }
	span.mess_sticklock { background: url(../images/theme/icons.png) -216px -100px no-repeat; }
	span.mess_poll { background: url(../images/theme/icons.png) -216px -124px no-repeat; }

	/* extra support icons */
	span.mess_issue { background: url(../images/theme/icons.png) 0 -151px no-repeat; }
	span.mess_solved { background: url(../images/theme/icons.png) -24px -151px no-repeat; }
	span.mess_assigned { background: url(../images/theme/icons.png) -48px -151px no-repeat; }
	span.mess_feedback { background: url(../images/theme/icons.png) -72px -151px no-repeat; }

	/* and some progress ones */
	span.mess_prog10 { background: url(../images/theme/icons.png) 0 -175px no-repeat; }
	span.mess_prog20 { background: url(../images/theme/icons.png) -24px -175px no-repeat; }
	span.mess_prog30 { background: url(../images/theme/icons.png) -48px -175px no-repeat; }
	span.mess_prog40 { background: url(../images/theme/icons.png) -72px -175px no-repeat; }
	span.mess_prog50 { background: url(../images/theme/icons.png) -96px -175px no-repeat; }
	span.mess_prog60 { background: url(../images/theme/icons.png) -120px -175px no-repeat; }
	span.mess_prog70 { background: url(../images/theme/icons.png) -144px -175px no-repeat; }
	span.mess_prog80 { background: url(../images/theme/icons.png) -169px -175px no-repeat; }
	span.mess_prog90 { background: url(../images/theme/icons.png) -192px -175px no-repeat; }
	span.mess_prog100 { background: url(../images/theme/icons.png) -216px -175px no-repeat; }

	.inlinebbc {
		display: inline-block;
	}

/* ########################## */
/* specific id styling											*/
/* ########################## */

	#preview_section {
		border: solid 1px #ddd;
		padding: 0 20px 20px 20px;
		background: #f8f8f8;
		border-radius: 5px 0 5px 5px;
	}
	#preview_section .corner_arrow {
		margin: 0 -20px 0 0;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 10px 10px 0;
		border-color: transparent #ddd transparent transparent;
		display: block;
		float: right;
	}
	.membercolumn {
		text-align: center;
		padding-bottom: 1em;
	}

/* ########################## */
/* boarddtypes overide styles												*/
/* ########################## */

	#blogarticle .bbc_h2 {
		font-size: 1.1em;
		display: inline;
		padding: 0;
		margin: 0;
		line-height: 1.5em;
		font-weight: bold;
		font-family: "Segoe UI", "Arial", "Helvetica Neue", sans-serif;
	}


/* ########################## */
/* Youtube styles												*/
/* ########################## */

	.video_container {
		padding: 5px;
		background: white;
		border: solid 2px #ccc;
		display: inline-block;
	}
	.video_shim, .video_shim:hover { 
		background: url(../images/video_shim.png) no-repeat center center; 
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		 -ms-transition: all 2s ease;
		 -o-transition: all 2s ease;
		transition: all 2s ease;
	}
	.video_shim:hover { 
		background: url(../images/video_shim_hover.png) no-repeat center center; 
	}

/* ########################## */
/* This is the editor's playground (textarea for non-wysiwyg, iframe for wysiwyg). */
/* ########################## */

	.editor{
		width: 100%;
		max-width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff;
	}

	.editor, .rich_editor_frame{
		border: 1px solid #808080;
		padding: 10px;
		margin: 0;
	}

	.rich_editor_frame {
	}

/* ########################## */
/* the poll bars */
/* ########################## */

	.bar, .bar_my {
		background: #eee;
		border: solid 1px #fff;
		display: block;
	}
	.bar span{
		background: #feccb1; /* Old browsers */
		background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
		display: block;
		height: 19px;
		margin-bottom: 2px;
	}
	.bar_my span {
		background: #6db3f2; /* Old browsers */
		background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
		display: block;
		height: 19px;
		margin-bottom: 2px;
	}

/* ########################## */
/* the new fader */
/* ########################## */

	#news_fader	{ width: 100%; position:relative;  padding-bottom: 10px; }
	#news_fader .items { display:block; position:absolute; top:0; left:0; z-index:1; width: 100%; overflow: hidden;}
	.toc	{ float: left; z-index:2; margin: 0px 0px 30px 9px; display:block; width:15px; height: 15px; background:#eee;  text-align:center; border-radius: 15px; text-decoration:none; }
	.toc-active { background:#888;  }
	.framebox {
		border: solid 1px #ddd;
	}


/* ########################## */
/* the Mootools tooltips */
/* ########################## */

	#tooltip {
		color: #666;
		padding: 5px 15px 8px 15px;
		font-size: 0.8em;
		background: #f5f5f5;
		max-width: 500px;
		min-width: 60px;
		margin: 0px 0 0 -40px;
		line-height: 1.4em;
		border: solid 1px #ccc;
	}
	/* the popup like tooltip, used for bigger screens */
	#tooltipbig {
		color: #eee;
		font-size: 0.8em;
		overflow: hidden;
		max-width: 300px;
		min-width: 60px;
		margin: -7px 0 0 -40px;
		line-height: 1.4em;
		padding: 6px;
	}
	#tooltipbig b, #sbar b , .panel_title {
		padding: 5px 15px 8px 15px;
		background: #444;
		display: block;
		font-size: 10px;
		text-transform: uppercase;
		margin: 0;
		-webkit-box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 0px 6px 0px rgba(0, 0, 0, .3);	
		color: white;
	}
	#tooltipbig span.arrow , #sbar span.arrow{
		display: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		margin: 0 0 0 15px;
		border-width: 0 5px 5px 5px;
		border-color: transparent transparent #444 transparent;
	}
	#sbar span.arrow{
		margin: 0 0 0 28px;
		border-width: 0 5px 5px 5px;
	}
	#tooltipbig p, #sbar .tp , .panel_body{
		margin: 0;
		background: white;
		color: #666;
		padding: 5px 15px 8px 15px;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .6);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .6);	
	}
	.panel_title, .panel_body { width: 130px; }
	#mpopupclose, #videotipclose , #audiotipclose {
		background: url(../images/remooz/closebox.png) no-repeat;
		cursor: pointer; 
		width: 30px;
		height: 30px;
		margin: -8px 0 0 -38px;
	}

	/* the popup like tooltip, used for bigger screens */
	#mpopup , #modal{
		color: #eee;
		font-size: 0.9em;
		overflow: hidden;
		width: 100px;
		margin: -7px 0 0 -40px;
		line-height: 1.4em;
		padding: 6px;
	}
	#modal{
		padding: 30px;
	}
	#mpopup b, #modal b {
		padding: 5px 15px 8px 15px;
		background: #444;
		display: block;
		font-size: 10px;
		text-transform: uppercase;
		margin: 0;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .3);	
	}
	#mpopup span.arrow {
		display: block;
		width: 0px;
		height: 0px;
		border-style: solid;
		margin: 0 0 0 15px;
		border-width: 0 5px 5px 5px;
		border-color: transparent transparent #444 transparent;
	}
	#mpopup div {
		margin: 0;
		background: white;
		color: #666;
		padding: 5px 15px 8px 15px;
		-webkit-box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .6);
        box-shadow:  0px 2px 6px 0px rgba(0, 0, 0, .6);	
	}
	#modal div {
		margin: 0;
		background: white;
		color: #666;
		padding: 5px 15px 8px 15px;
		-webkit-box-shadow:  0px 5px 25px 0px rgba(0, 0, 0, .6);
        box-shadow:  0px 5px 25px 0px rgba(0, 0, 0, .6);	
	}
/* ##########################*/
/* various setting styles
/* ##########################*/
	#board_tabs li, .tabs li , .boardheader {
		display: inline-block;
		padding: 0 16px;
		height: 30px;
		line-height: 30px;
		background: #f0f0f0;
		border-radius: 5px 5px 0 0;
		cursor: pointer;
		margin: 0;
		font-size: 0.7em;
		text-transform: uppercase;
		list-style: none;
		font-weight: bold;
	}
	#board_tabs li.active, #board_tabs li:hover, .tabs li.active, .tabs li:hover , .boardheader{
		background: #888;
		color: #fff;
	}
	.boardheader{
		padding: 0;
		border-radius: 0 2px 2px 2px;
		display: block;
		border: none;
		text-align: left;
	}
	#board_tabs li.active, .tabs li.active {
		background: #888;
		color: #fff;
	}
	#board_tabs li:hover, .tabs li:hover{
		background: #9ab;
		color: #fff;
	}
	#board_tabs li.active:hover {
		background: #888;
		color: #def;
	}
	.label_online, .label_offline {
		width: 12px;
		border-radius: 12px;
		height: 12px;
		background: #6d3;
		display: block;
	}
	.label_offline {
		background: #eee;
	}
	.label_online b, .label_offline b { display: none; }
	.label_online a, .label_offline a { text-decoration: none; }
	.avatar { width: 100%; }
	.overlay_avatar {
		position: relative;
		margin: -76px 75% 0 25%;
	}
	.comment_avatar img{
		width: 40px;
		border-radius: 30px;
	}
	.roundavatar {
		height: 40px;
		border-radius: 40px;
		vertical-align: middle;
		margin-left: 8px;
	}
	
	#comments { padding-top: 1em; }
/* ##########################*/
/* Styles for print media.
/* ##########################*/
	@media print{
		#headerarea	{
			display: none;
		}
		.tborder	{
			border: none;
		}
	}

	.memnames {
		position: absolute; 
		display: block; 
		z-index: 4;
		text-align: left;
		color: white;
		padding: 5px 10px;
		background: #000;
		width: 100%;
		height: 2em;
	}
	.memnames a {
		color: white;
	}
	/* the youtube styling */
	#videocont {
		background: #000;
	}
	
	#videolock {
		width: 100%;
		height: 730px;
	}
/* ##########################*/
/* media queries styling       */
/* ##########################*/

	@media only screen and (max-width: 960px) {
		#videolock {
			width: 900px;
			height: 540px;
		}
		#sides {
			width: 180px;
		}
		#rites {
			display: none;
		}
		#mymenu {
			width: 130px;
		}
	}
	@media only screen and (max-width: 760px) {
		#videolock {
			width: 700px;
			height: 420px;
		}
		#sides {
			width: 100%;
			overflow: hidden;
		}
		#rites {
			display: none;
		}
		#mains {
			padding: 0 5px;
		}
		#mymenu {
			width: 100%;
			position: relative;
		}
		#mymenu li {
			float: left;
			display: block;
			overflow: hidden;
			width: 25%;
			margin: 0;
			padding: 0;
		}
		#mymenu a {
			display: block;
			background: #000;
			text-align: center;
			padding: 0;
			margin: 0;
		}
		#mymenu a:hover {
			background: #ddd;
			color: #000;
			text-decoration: none;
		}
		.padding_both {
			padding: 0;
		}
	}
	@media only screen and (max-width: 480px) {
		#videolock {
			width: 400px;
			height: 240px;
		}
		#sides {
			width: 100%;
		}
		#rites {
			display: none;
		}
		#mymenu {
			width: 100%;
			position: relative;
		}
	}
